{%- comment -%}
  Renders facets sticky

  Accepts:
  - results: {Object} Liquid 'collection' or 'search' object
  - enable_color_swatches: {Boolean}
  - collapsed: {Boolean}
  - enable_filtering: {Boolean}
  - enable_sorting: {Boolean}
  - filter_count: {Number}
  - section_id: {String}

  Usage:
  {% render 'facets-sticky', results: collection, enable_filtering: true, enable_sorting: true, filter_count: count %}
{%- endcomment -%}


{%- if enable_filtering or enable_sorting -%}
  <facet-sticky class="facet-sticky z-25 fixed left-0 text-center w-full pointer-events-none block xl:hidden" data-scroll data-scroll-sticky data-scroll-target=".collection">
    <button type="button" class="button button--primary icon-with-text pointer-events-auto" is="hover-button" aria-controls="FacetDrawerSticky" aria-expanded="false">
      <span class="btn-fill" data-fill></span>
      <span class="btn-text">
        {%- liquid
          render 'icon', icon: 'filter', size: 'sm'
          if enable_filtering and enable_sorting
            echo 'collections.filtering.filter_and_sort' | t
          else
            echo 'collections.filtering.filter_show_button' | t
          endif
        -%}
        {%- if enable_filtering -%}
          <facet-count class="count flex items-center justify-center text-xs font-medium rounded-full"{% if filter_count == 0 %} hidden{% endif %}>{{ filter_count }}</facet-count>
        {%- endif -%}
      </span>
    </button>
    <drawer-element id="FacetDrawerSticky" class="facet-drawer drawer drawer--start z-30 fixed bottom-0 left-0 h-full w-full pointer-events-none"
      role="dialog"
      aria-modal="true"
      aria-label="{% if enable_filtering and enable_sorting %}{{ 'collections.filtering.filter_and_sort' | t | escape }}{% else %}{{ 'collections.filtering.filter_by_label' | t | escape }}{% endif %}"
      data-section-id="{{ section_id }}"
      hidden
    >
      <overlay-element class="overlay fixed-modal invisible opacity-0 fixed bottom-0 left-0 w-full h-screen pointer-events-none" aria-controls="FacetDrawerSticky" aria-expanded="false"></overlay-element>
      <div class="drawer__inner z-10 absolute top-0 flex flex-col w-full h-full overflow-hidden">
        <gesture-element class="drawer__header flex justify-between opacity-0 invisible relative">
          <span class="drawer__title heading lg:text-3xl text-2xl leading-none tracking-tight">
            {%- liquid
              if enable_filtering and enable_sorting
                echo 'collections.filtering.filter_and_sort' | t | escape
              else
                echo 'collections.filtering.filter_by_label' | t | escape
              endif
            -%}
          </span>
          <button class="button button--secondary button--close drawer__close hidden sm:flex items-center justify-center" type="button" is="hover-button" aria-controls="FacetDrawerSticky" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
            <span class="btn-fill" data-fill></span>
            <span class="btn-text">
              {%- liquid
                render 'icon', icon: 'close', size: 'sm'
                render 'icon', icon: 'loader', size: 'sm absolute opacity-0 invisible animate-spin'
              -%}
            </span>
          </button>
        </gesture-element>
        <div class="drawer__content opacity-0 invisible flex flex-col h-full grow shrink" id="MobileFacetFiltersContainer">
          <div class="drawer__scrollable relative flex flex-col grow shrink">
            {%- render 'facets',
              context: 'sticky',
              results: results,
              collapsed: collapsed,
              enable_filtering: enable_filtering,
              enable_sorting: enable_sorting,
              enable_color_swatches: enable_color_swatches,
              section_id: section_id
            -%}
  
            <div class="drawer__sticky z-1 sticky left-0 bottom-0 w-full">
              <button class="button button--primary w-full" type="button" is="hover-button" aria-controls="FacetDrawerSticky" aria-expanded="false">
                <span class="btn-fill" data-fill></span>
                <span class="btn-text flex gap-1">
                  {{- 'collections.filtering.apply' | t -}}
                  <facet-count class="block"{% if filter_count == 0 %} hidden{% endif %}>{{ filter_count }}</facet-count>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </drawer-element>
  </facet-sticky>
{%- endif -%}