{%- liquid
  unless limit
    assign limit = section.blocks.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}

{%- for block in section.blocks limit: limit offset: offset -%}
  <div class="profile card relative" id="shopify-block-{{ block.id }}" {{ block.shopify_attributes }}>
    <picture class="media media--{{ section.settings.image_ratio }} mobile:media--{{ section.settings.image_ratio_mobile }} block relative overflow-hidden">
      {%- if block.settings.image != blank -%}
        {%- assign sizes = '(max-width: 767px) 100vw, 50vw' -%}
        {%- if block.settings.image_mobile -%}
          <source
            media="(max-width: 767px)"
            srcset="{{ block.settings.image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile | image_url: width: '1000x' }} 1000w"
            width="{{ block.settings.image_mobile.width }}"
            height="{{ block.settings.image_mobile.height }}"
          >
        {%- endif -%}

        {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,700,800,900,1000,1200,1400,1600', is: 'lazy-image' -}}
      {%- else -%}
        {%- capture placeholder -%}{% cycle 'collection-1', 'collection-2', 'collection-3', 'collection-4', 'collection-5', 'collection-6' %}{%- endcapture -%}
        {{- placeholder | placeholder_svg_tag: 'placeholder' -}}
      {%- endif -%}
    </picture>
    <div class="profile__content absolute left-0 bottom-0 w-full flex items-center justify-between gap-8">
      <p id="ProfileHeading-{{ block.id }}" class="heading lg:text-3xl text-2xl leading-none tracking-tight">{{ block.settings.heading | escape }}</p>
      <button type="button" class="profile__button flex items-center justify-center rounded-full flex-auto" aria-labelledby="ProfileHeading-{{ block.id }}" aria-controls="Profile-{{ section.id }}-{{ block.id }}" aria-expanded="false">
        {%- render 'icon', icon: 'plus-2' -%}
      </button>
    </div>
    <x-modal id="Profile-{{ section.id }}-{{ block.id }}" class="profile-modal x-modal drawer z-30 fixed bottom-0 left-0 h-full w-full pointer-events-none"
      role="dialog"
      aria-modal="true"
      aria-label="{{ block.settings.heading | escape }}"
      hidden
    >
      <overlay-element class="overlay fixed-modal invisible opacity-0 fixed bottom-0 left-0 w-full h-screen pointer-events-none" aria-controls="Profile-{{ section.id }}-{{ block.id }}" aria-expanded="false"></overlay-element>
      <div class="drawer__inner z-10 absolute top-0 flex flex-col w-full h-full overflow-hidden">
        <gesture-element class="drawer__header flex justify-between opacity-0 invisible relative">
          <span class="drawer__title heading title-md">{{ block.settings.heading | escape }}</span>
          <button class="button button--secondary button--close drawer__close hidden sm:flex items-center justify-center" type="button" is="hover-button" aria-controls="Profile-{{ section.id }}-{{ block.id }}" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
            <span class="btn-fill" data-fill></span>
            <span class="btn-text">
              {%- render 'icon', icon: 'close', size: 'sm' -%}
            </span>
          </button>
        </gesture-element>
        <div class="drawer__content opacity-0 invisible flex flex-col h-full grow shrink">
          <div class="drawer__scrollable relative flex flex-col gap-5 md:gap-7 grow shrink">
            <div class="rte text-base md:text-lg">{{ block.settings.text }}</div>
            <a href="javascript:void(0)" class="wholesale-page-main-section__content-form-button js-open-wholesale-popup" style="font-size: 24px; letter-spacing: 0; font-weight: 500; font-family: 'Fjalla One', sans-serif; text-decoration: underline;">{{ block.settings.button_text }}</a>
          </div>
        </div>
      </div>
    </x-modal>
  </div>
{%- endfor -%}