{%- comment -%}
  Renders a product card

  Accepts:
  - product: {Object} The item to render
  - image_ratio: {String} Size of the product image card. Values are "square", "landscape" and "portrait". Default is "square" (optional)
  - image_fill: {Boolean} Zoom image to fill space. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_price: {Boolean} Show the product pricing. Default: false
  - show_quick_add: {Boolean} Show the quick add button.
  - show_quick_view: {Boolean} Show the quick view button.

  Usage:
  {% render 'product-card-horizontal', product: item %}
{%- endcomment -%}

<div class="horizontal-product flex items-center gap-4 md:gap-6 w-full">
  <a class="horizontal-product__media media media--{{ image_ratio }}{% unless image_fill %} media--contain{% endunless %} relative overflow-hidden flex-auto" href="{{ product.url }}" tabindex="-1">
    {%- liquid
      if product.featured_media
        echo product.featured_media | image_url: width: product.featured_media.width | image_tag: loading: 'lazy', widths: '180,360,540', is: 'lazy-image'
      else
        echo 'image' | placeholder_svg_tag
      endif
    -%}
  </a>
  <div class="horizontal-product__details flex flex-col justify-start gap-1d5">
    <div class="flex flex-col gap-1">
      <div class="block">
        {%- if show_vendor -%}
          <p class="text-xs text-opacity">{{ product.vendor }}</p>
        {%- endif -%}
        <a href="{{ product.url }}" class="horizontal-product__title reversed-link font-medium text-base leading-tight">{{ product.title | escape }}</a>
      </div>
    </div>
    
    <div class="flex flex-col gap-1">
      {%- liquid
        if show_price
          render 'product-price', product: product, class: 'flex flex-wrap items-end gap-2 text-sm'
        endif
      -%}
    </div>
  </div>
  {%- if show_quick_add -%}
    <div class="horizontal-product__quantity shrink-0 text-sm sm:block">
      <div class="grid gap-3">
        {%- if product.available -%}
          {%- if product.variants.size == 1 -%}
            {%- form 'product', product, is: 'product-form' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
              <button type="submit" class="button button--primary button--small icon-with-text" is="hover-button" data-variant-id="{{ product.selected_or_first_available_variant.id }}" aria-label="{{ 'products.product.quick_add' | t | escape }}">
                <span class="btn-fill" data-fill></span>
                <span class="btn-text">
                  {%- render 'icon', icon: 'plus', size: '2xs' -%}
                  <span class="hidden md:block" data-sold-out="{{ 'products.product.sold_out' | t | escape }}">
                    {{- 'products.product.quick_add' | t -}}
                  </span>
                </span>
              </button>
            {%- endform -%}
          {%- else -%}
            {%- if show_quick_view -%}
              <button type="button" class="button button--primary button--small icon-with-text" is="hover-button" aria-controls="Quickview-{{ section.id }}-{{ product.id }}" aria-expanded="false" aria-label="{{ 'products.product.quick_view' | t | escape }}">
                <span class="btn-fill" data-fill></span>
                <span class="btn-text">
                  {%- render 'icon', icon: 'plus', size: '2xs' -%}
                  <span class="hidden md:block" data-sold-out="{{ 'products.product.sold_out' | t | escape }}">
                    {{- 'products.product.quick_view' | t -}}
                  </span>
                </span>
              </button>
              <quick-view id="Quickview-{{ section.id }}-{{ product.id }}" class="quick-view x-modal drawer z-40 fixed bottom-0 left-0 h-full w-full pointer-events-none" data-product-url="{{ product.url }}" role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}" aria-modal="true">
                <overlay-element class="overlay fixed-modal invisible opacity-0 fixed bottom-0 left-0 w-full h-screen pointer-events-none" aria-controls="Quickview-{{ section.id }}-{{ product.id }}" aria-expanded="false"></overlay-element>
                <div class="drawer__inner z-10 absolute top-0 flex flex-col w-full h-full overflow-hidden">
                  <gesture-element class="drawer__header flex justify-between opacity-0 invisible relative">
                    <button class="button button--secondary button--close drawer__close z-1 absolute top-0 right-0 flex items-center justify-center opacity-0" type="button" is="hover-button" aria-controls="Quickview-{{ section.id }}-{{ product.id }}" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                      <span class="btn-fill" data-fill></span>
                      <span class="btn-text">
                        {%- render 'icon', icon: 'close', size: 'sm' -%}
                      </span>
                    </button>
                  </gesture-element>
                  <div class="quick-view__content drawer__content opacity-0 invisible flex flex-col h-full grow shrink"></div>
                </div>
              </quick-view>
            {%- else -%}
              <a href="{{ product.url }}" class="button button--primary button--small icon-with-text" is="hover-link" aria-label="{{ 'products.product.quick_view' | t | escape }}">
                <span class="btn-fill" data-fill></span>
                <span class="btn-text">
                  {%- render 'icon', icon: 'plus', size: '2xs' -%}
                  <span class="hidden md:block" data-sold-out="{{ 'products.product.sold_out' | t | escape }}">
                    {{- 'products.product.quick_view' | t -}}
                  </span>
                </span>
              </a>
            {%- endif -%}
          {%- endif -%}
        {%- else -%}
          <span class="button button--primary button--small" disabled="disabled">
            {{- 'products.product.sold_out' | t -}}
          </span>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</div>
