{%- comment -%}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - image_ratio: {String} Size of the product image card.
  - image_ratio_mobile: {String} Size of the product image card on mobile.
  - image_fill: {Boolean} Zoom image to fill space.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - product_id: {String} The ID of the current product.
  - section_id: {String} The ID of section to which this snippet belongs.
  
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{%- endcomment -%}

{%- unless product.has_only_default_variant -%}
  <variant-selects id="VariantPicker-{{ section_id }}-{{ product_id }}" class="variant-picker grid gap-5 no-js-hidden" {{ block.shopify_attributes }}>
    {%- for option in product.options_with_values -%}
      {%- if block.settings.picker_type == 'button' -%}
        {%- liquid
          assign is_color = false
          if block.settings.enable_color_swatches
            assign swatch_file_extension = 'png'
            assign swatch_trigger_list = 'products.general.color_swatch_trigger' | t | downcase | split: ','
            assign downcased_option = option.name | downcase
            for trigger in swatch_trigger_list
              assign swatch_trigger = trigger | strip
              if downcased_option contains swatch_trigger
                assign is_color = true
              elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                assign is_color = true
              endif

              if is_color == true
                break
              endif
            endfor
          endif

          assign is_size = false
          if block.settings.size_chart != blank
            assign size_trigger = 'products.general.size_trigger' | t | downcase
            assign downcased_option = option.name | downcase
            if downcased_option contains size_trigger
              assign is_size = true
            endif
          endif

          assign option_index_0 = forloop.index0
        -%}
        <fieldset class="js product-form__input variant-input-wrapper relative"
          data-option-index="option{{ forloop.index }}"
          data-option-slug="{{ option.name | handleize }}"
        >
          <legend class="sr-only">{{ option.name }}</legend>
					<div class="form__label flex items-center justify-between gap-2 w-full">
						{%- if block.settings.show_variant_labels -%}
							<div class="flex gap-2">
								{{- option.name -}}:
								<span class="font-medium" id="{{ section_id }}-{{ product_id }}-option{{ option.position }}">{{ option.selected_value }}</span>
							</div>
						{%- endif -%}
						{%- if is_size -%}
              <div class="flex items-center gap-2">
								{%- render 'icon', icon: 'ruler', size: 'xs', class: 'stroke-1' -%}
								<button type="button" class="link text-sm leading-tight cursor-pointer" aria-controls="SizeChart-{{ section_id }}-{{ product_id }}" aria-expanded="false">
                  {{- 'products.general.size_chart' | t -}}
                </button>
                <x-modal id="SizeChart-{{ section_id }}-{{ product_id }}" class="x-modal drawer z-30 fixed bottom-0 left-0 h-full w-full pointer-events-none"
                  role="dialog"
                  aria-modal="true"
                  aria-label="{{ block.settings.size_chart.title | escape }}"
                  hidden
                >
                  <overlay-element class="overlay fixed-modal invisible opacity-0 fixed bottom-0 left-0 w-full h-screen pointer-events-none" aria-controls="SizeChart-{{ section_id }}-{{ product_id }}" aria-expanded="false"></overlay-element>
                  <div class="drawer__inner z-10 absolute top-0 flex flex-col w-full h-full overflow-hidden">
                    <gesture-element class="drawer__header flex justify-between opacity-0 invisible relative">
                      <span class="drawer__title heading title-md">{{ block.settings.size_chart.title | escape }}</span>
                      <button class="button button--secondary button--close drawer__close hidden sm:flex items-center justify-center" type="button" is="hover-button" aria-controls="SizeChart-{{ section_id }}-{{ product_id }}" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                          {%- render 'icon', icon: 'close', size: 'sm' -%}
                        </span>
                      </button>
                    </gesture-element>
                    <div class="drawer__content opacity-0 invisible flex flex-col h-full grow shrink">
                      <div class="drawer__scrollable relative flex flex-col gap-5 md:gap-7 grow shrink">
                        <div class="rte text-base md:text-lg">{{ block.settings.size_chart.content }}</div>
                      </div>
                    </div>
                  </div>
                </x-modal>
							</div>
						{%- endif -%}
					</div>
					<ul class="swatches swatches--{{ settings.rounded_swatch }}{% if block.settings.color_swatch_type == 'variant' %} swatches--variant{% endif %} flex items-start flex-wrap gap-4">
						{%- for value in option.values -%}
							<li>
								<magnet-element class="block">
									<input
										type="radio"
										class="sr-only{% unless value.available %} disabled{% endunless %}"
										id="{{ section_id }}-{{ product_id }}-{{ option.name | handle }}-{{ forloop.index0 }}"
										name="{{ option.name }}"
										value="{{ value | escape }}"
										form="{{ product_form_id }}"
										{% if option.selected_value == value %}checked{% endif %}
                    {% if value.product_url != blank and value.product_url != product.url %}data-product-url="{{ value.variant.url | default: value.product_url }}"{% endif %}
										data-option-value="{{ value | escape }}"
                    data-option-value-id="{{ value.id }}"
									/>
									{%- if is_color or value.swatch != blank -%}
										{%- liquid
                      if value.swatch == blank
                        assign file_extension = swatch_file_extension | default: 'png'
                        assign file_name = value | handle | append: '.' | append: file_extension
                        assign swatch_fallback = value | split: ' ' | last | handle
                        assign swatch_fallback_override = false

                        if settings.swatch_config != blank
                          assign value_downcase = value | downcase
                          assign swatch_config = settings.swatch_config | newline_to_br | split: '<br />'
                          for swatch in swatch_config
                            assign swatch_parts = swatch | strip | split: ':'
                            assign swatch_name = swatch_parts.first | downcase | strip

                            if swatch_name == value_downcase
                              assign swatch_value = swatch_parts.last | strip
                              if swatch_value contains '#'
                                assign swatch_fallback = swatch_value
                                assign swatch_fallback_override = true
                              else
                                assign file_name = swatch_value
                              endif
                              break
                            endif
                          endfor
                        endif

                        assign swatch_image = blank
                        if images[file_name] != blank
                          assign swatch_image = images[file_name] | image_url: width: 72
                        elsif file_name contains '//cdn.shopify.com/'
                          assign swatch_image = file_name
                        endif
                      else
                        assign swatch_image = blank
                        assign swatch_fallback = value | split: ' ' | last | handle
                        if value.swatch.image
                          assign swatch_image = value.swatch.image | image_url: width: 72
                          assign swatch_fallback_override = false
                        elsif value.swatch.color
                          assign swatch_fallback = value.swatch.color
                        endif
                      endif

                      if block.settings.color_swatch_type == 'variant'
                        for variant in product.variants
                          assign variant_value = variant.options[option_index_0]
                          if variant_value contains value and variant.image
                            assign swatch_image = variant.image | image_url: width: 144
                            assign swatch_fallback_override = false
                            break
                          endif
                        endfor
                      endif
										-%}
										<label
											for="{{ section_id }}-{{ product_id }}-{{ option.name | handle }}-{{ forloop.index0 }}"
											class="color-swatch{% if swatch_image != blank %} with-image{% endif %} inline-block cursor-pointer relative{% if block.settings.color_swatch_type == 'variant' and swatch_image != blank %} aspect-{{ image_ratio }} mobile:aspect-{{ image_ratio_mobile }}{% unless image_fill %} aspect-contain{% endunless %}{% endif %}"
											title="{{ value | escape }}"
											style="--swatch-background: {{ swatch_fallback }};{% if swatch_fallback_override == false and swatch_image != blank %} background-image: url({{ swatch_image }});{% endif %}"
										>
											<span class="tooltip opacity-0 pointer-events-none text-xs rounded-full z-10">{{ value | escape }}</span>
										</label>
									{%- else -%}
                    <label
                      for="{{ section_id }}-{{ product_id }}-{{ option.name | handle }}-{{ forloop.index0 }}"
                      class="label-swatch inline-block text-sm font-medium leading-none cursor-pointer relative"
                      title="{{ value | escape }}"
                    >
                      {{- value -}}
                    </label>
									{%- endif -%}
								</magnet-element>
							</li>
						{%- endfor -%}
					</ul>
        </fieldset>
      {%- else -%}
        {%- liquid
          assign is_size = false
          if block.settings.size_chart != blank
            assign size_trigger = 'products.general.size_trigger' | t | downcase
            assign downcased_option = option.name | downcase
            if downcased_option contains size_trigger
              assign is_size = true
            endif
          endif
        -%}
        <div class="product-form__input product-form__input--dropdown variant-input-wrapper"
          data-option-index="option{{ forloop.index }}"
          data-option-slug="{{ option.name | handleize }}"
        >
          <div class="form__label flex items-center justify-between gap-2 w-full">
            {%- if block.settings.show_variant_labels -%}
              <label class="flex gap-2" for="Option-{{ section_id }}-{{ product_id }}-{{ forloop.index0 }}">
                {{- option.name -}}
              </label>
            {%- endif -%}
            {%- if is_size -%}
              <div class="flex items-center gap-2">
                {%- render 'icon', icon: 'ruler', size: 'xs', class: 'stroke-1' -%}
                <button type="button" class="link text-sm leading-tight cursor-pointer" aria-controls="SizeChart-{{ section_id }}-{{ product_id }}" aria-expanded="false">
                  {{- 'products.general.size_chart' | t -}}
                </button>
                <x-modal id="SizeChart-{{ section_id }}-{{ product_id }}" class="x-modal drawer z-30 fixed bottom-0 left-0 h-full w-full pointer-events-none"
                  role="dialog"
                  aria-modal="true"
                  aria-label="{{ block.settings.size_chart.title | escape }}"
                  hidden
                >
                  <overlay-element class="overlay fixed-modal invisible opacity-0 fixed bottom-0 left-0 w-full h-screen pointer-events-none" aria-controls="SizeChart-{{ section_id }}-{{ product_id }}" aria-expanded="false"></overlay-element>
                  <div class="drawer__inner z-10 absolute top-0 flex flex-col w-full h-full overflow-hidden">
                    <gesture-element class="drawer__header flex justify-between opacity-0 invisible relative">
                      <span class="drawer__title heading title-md">{{ block.settings.size_chart.title | escape }}</span>
                      <button class="button button--secondary button--close drawer__close hidden sm:flex items-center justify-center" type="button" is="hover-button" aria-controls="SizeChart-{{ section_id }}-{{ product_id }}" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                          {%- render 'icon', icon: 'close', size: 'sm' -%}
                        </span>
                      </button>
                    </gesture-element>
                    <div class="drawer__content opacity-0 invisible flex flex-col h-full grow shrink">
                      <div class="drawer__scrollable relative flex flex-col gap-5 md:gap-7 grow shrink">
                        <div class="rte text-base md:text-lg">{{ block.settings.size_chart.content }}</div>
                      </div>
                    </div>
                  </div>
                </x-modal>
              </div>
            {%- endif -%}
          </div>
          <div class="field">
            <select id="Option-{{ section_id }}-{{ product_id }}-{{ forloop.index0 }}"
              class="select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
              is="custom-select"
            >
              {%- for value in option.values -%}
                <option
                  value="{{ value | escape }}"
                  data-option-value-id="{{ value.id }}"
                  {% if option.selected_value == value %}selected{% endif %}
                  {% if value.product_url != blank and value.product_url != product.url %}data-product-url="{{ value.variant.url | default: value.product_url }}"{% endif %}
                >
                  {{- value -}}
                </option>
              {%- endfor -%}
            </select>
            {%- render 'icon', icon: 'chevron-up', size: 'sm', class: 'absolute' -%}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
    
    <script type="application/json" data-selected-variant>{{ product.selected_or_first_available_variant | json }}</script>
  </variant-selects>
{%- endunless -%}

<noscript>
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label flex gap-2" for="Variants-{{ section_id }}-{{ product_id }}">{{ 'products.product.product_variants' | t }}</label>
    <div class="field">
      <select name="id" id="Variants-{{ section_id }}-{{ product_id }}" class="select" form="{{ product_form_id }}">
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}selected{% endif %}
            {% if variant.available == false %}disabled{% endif %}
            value="{{ variant.id }}"
          >
            {{ variant.title }}
            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
            - {{ variant.price | money | strip_html }}
          </option>
        {%- endfor -%}
      </select>
      {%- render 'icon', icon: 'chevron-up', size: 'sm', class: 'absolute' -%}
    </div>
  </div>
</noscript>
