<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
  }
  {%- for block in section.blocks -%}
    #shopify-block-{{ block.id }} {
      {%- render 'section-variables', section: block -%}
    }
  {%- endfor -%}
</style>

{%- capture section_heading -%}
  {%- render 'section-heading', section: section -%}
{%- endcapture -%}
<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %}{% if section_heading == blank %} page-width--narrow{% endif %} relative">
    <div class="collage on-scroll{% if section_heading == blank %} without-heading{% endif %} grid items-center">
      {{- section_heading -}}

      <div class="grid md:grid-cols-2 gap-4 md:gap-6 xl:gap-9">
        {%- if section.blocks.size > 0 -%}
          {%- assign limit = section.blocks.size | divided_by: 2 -%}
          <div class="collage-left flex flex-col gap-4 md:gap-6 xl:gap-9 overflow-hidden"{% if section.settings.enable_parallax %} is="parallax-element" data-start="-15%" data-stop="15%"{% endif %}>
            {%- render 'collage', section: section, offset: 0, limit: limit -%}
          </div>
          {%- if section.blocks.size > 1 -%}
            <div class="collage-right flex flex-col gap-4 md:gap-6 xl:gap-9 overflow-hidden"{% if section.settings.enable_parallax %} is="parallax-element" data-start="-6%" data-stop="6%"{% endif %}>
              {%- render 'collage', section: section, offset: limit, limit: section.blocks.size -%}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collage.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "Multimedia collage"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "text-left md:items-end md:flex-row",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "text-center md:items-center",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "text-right md:items-end md:flex-row-reverse",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "text-left md:items-end md:flex-row"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.global.settings.description.label",
      "default": "<p>Share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "info": "t:sections.global.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.global.settings.button_external.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.global.settings.button_icon.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__highlight.content",
      "info": "t:sections.global.settings.header__highlight.info"
    },
    {
      "type": "select",
      "id": "highlighted_text",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.settings.highlighted_text.options__1.label"
        },
        {
          "value": "text",
          "label": "t:sections.global.settings.highlighted_text.options__2.label"
        },
        {
          "value": "full_text",
          "label": "t:sections.global.settings.highlighted_text.options__3.label"
        },
        {
          "value": "half_text",
          "label": "t:sections.global.settings.highlighted_text.options__4.label"
        },
        {
          "value": "underline",
          "label": "t:sections.global.settings.highlighted_text.options__5.label"
        },
        {
          "value": "stencil",
          "label": "t:sections.global.settings.highlighted_text.options__6.label"
        },
        {
          "value": "scribble",
          "label": "t:sections.global.settings.highlighted_text.options__7.label"
        }
      ],
      "default": "none",
      "label": "t:sections.global.settings.highlighted_text.label"
    },
    {
      "type": "select",
      "id": "highlighted_scribble",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
        },
        {
          "value": "basic-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
        },
        {
          "value": "squiggle-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
        },
        {
          "value": "squiggle-underline-2",
          "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.global.settings.highlighted_scribble.label",
      "info": "t:sections.global.settings.highlighted_scribble.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.global.settings.enable_parallax.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.global.blocks.image.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:sections.global.settings.subheading.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.global.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "invert_subheading_heading",
          "default": false,
          "label": "t:sections.collage.blocks.global.settings.invert_subheading_heading.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "portrait",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "select",
          "id": "content_position",
          "options": [
            {
              "value": "md:items-start md:justify-start",
              "label": "t:sections.global.settings.content_position.options__1.label"
            },
            {
              "value": "md:items-start md:justify-center",
              "label": "t:sections.global.settings.content_position.options__2.label"
            },
            {
              "value": "md:items-start md:justify-end",
              "label": "t:sections.global.settings.content_position.options__3.label"
            },
            {
              "value": "md:items-center md:justify-start",
              "label": "t:sections.global.settings.content_position.options__4.label"
            },
            {
              "value": "md:items-center md:justify-center",
              "label": "t:sections.global.settings.content_position.options__5.label"
            },
            {
              "value": "md:items-center md:justify-end",
              "label": "t:sections.global.settings.content_position.options__6.label"
            },
            {
              "value": "md:items-end md:justify-start",
              "label": "t:sections.global.settings.content_position.options__7.label"
            },
            {
              "value": "md:items-end md:justify-center",
              "label": "t:sections.global.settings.content_position.options__8.label"
            },
            {
              "value": "md:items-end md:justify-end",
              "label": "t:sections.global.settings.content_position.options__9.label"
            }
          ],
          "default": "md:items-end md:justify-start",
          "label": "t:sections.global.settings.content_position.label"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "default": "left",
          "label": "t:sections.global.settings.text_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__mobile.content"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.global.settings.image_mobile.label"
        },
        {
          "type": "select",
          "id": "image_ratio_mobile",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "portrait",
          "label": "t:sections.global.settings.image_ratio_mobile.label"
        },
        {
          "type": "select",
          "id": "content_position_mobile",
          "options": [
            {
              "value": "items-start justify-start",
              "label": "t:sections.global.settings.content_position.options__1.label"
            },
            {
              "value": "items-start justify-center",
              "label": "t:sections.global.settings.content_position.options__2.label"
            },
            {
              "value": "items-start justify-end",
              "label": "t:sections.global.settings.content_position.options__3.label"
            },
            {
              "value": "items-center justify-start",
              "label": "t:sections.global.settings.content_position.options__4.label"
            },
            {
              "value": "items-center justify-center",
              "label": "t:sections.global.settings.content_position.options__5.label"
            },
            {
              "value": "items-center justify-end",
              "label": "t:sections.global.settings.content_position.options__6.label"
            },
            {
              "value": "items-end justify-start",
              "label": "t:sections.global.settings.content_position.options__7.label"
            },
            {
              "value": "items-end justify-center",
              "label": "t:sections.global.settings.content_position.options__8.label"
            },
            {
              "value": "items-end justify-end",
              "label": "t:sections.global.settings.content_position.options__9.label"
            }
          ],
          "default": "items-end justify-start",
          "label": "t:sections.global.settings.content_position_mobile.label"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment_mobile",
          "default": "left",
          "label": "t:sections.global.settings.text_alignment_mobile.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__colors.content",
          "info": "t:sections.global.settings.header__colors.info"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_highlight",
          "label": "t:sections.global.settings.color_highlight.label"
        },
        {
          "type": "color_background",
          "id": "gradient_highlight",
          "label": "t:sections.global.settings.gradient_highlight.label"
        },
        {
          "type": "color",
          "id": "color_overlay",
          "label": "t:sections.global.settings.color_overlay.label",
          "default": "#171717"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.global.settings.overlay_opacity.label",
          "default": 10
        }
      ]
    },
    {
      "type": "video",
      "name": "t:sections.global.blocks.video.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:sections.global.settings.subheading.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.global.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "invert_subheading_heading",
          "default": false,
          "label": "t:sections.collage.blocks.global.settings.invert_subheading_heading.label"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__video.content"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__video_url.content",
          "info": "t:sections.video.settings.header__video_url.info"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.video.settings.description.label",
          "info": "t:sections.video.settings.description.info"
        },
        {
          "type": "checkbox",
          "id": "enable_video_autoplay",
          "label": "t:sections.video.settings.enable_video_autoplay.label",
          "info": "t:sections.video.settings.enable_video_autoplay.info",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_video_looping",
          "label": "t:sections.video.settings.enable_video_looping.label",
          "default": false
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "landscape",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "select",
          "id": "content_position",
          "options": [
            {
              "value": "md:items-start md:justify-start",
              "label": "t:sections.global.settings.content_position.options__1.label"
            },
            {
              "value": "md:items-start md:justify-center",
              "label": "t:sections.global.settings.content_position.options__2.label"
            },
            {
              "value": "md:items-start md:justify-end",
              "label": "t:sections.global.settings.content_position.options__3.label"
            },
            {
              "value": "md:items-center md:justify-start",
              "label": "t:sections.global.settings.content_position.options__4.label"
            },
            {
              "value": "md:items-center md:justify-center",
              "label": "t:sections.global.settings.content_position.options__5.label"
            },
            {
              "value": "md:items-center md:justify-end",
              "label": "t:sections.global.settings.content_position.options__6.label"
            },
            {
              "value": "md:items-end md:justify-start",
              "label": "t:sections.global.settings.content_position.options__7.label"
            },
            {
              "value": "md:items-end md:justify-center",
              "label": "t:sections.global.settings.content_position.options__8.label"
            },
            {
              "value": "md:items-end md:justify-end",
              "label": "t:sections.global.settings.content_position.options__9.label"
            }
          ],
          "default": "md:items-end md:justify-start",
          "label": "t:sections.global.settings.content_position.label"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "default": "left",
          "label": "t:sections.global.settings.text_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__mobile.content"
        },
        {
          "type": "video",
          "id": "video_mobile",
          "label": "t:sections.video.settings.video_mobile.label"
        },
        {
          "type": "video_url",
          "id": "video_url_mobile",
          "accept": ["youtube", "vimeo"],
          "label": "t:sections.video.settings.video_url_mobile.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image_mobile",
          "label": "t:sections.video.settings.cover_image_mobile.label"
        },
        {
          "type": "select",
          "id": "image_ratio_mobile",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "landscape",
          "label": "t:sections.global.settings.image_ratio_mobile.label"
        },
        {
          "type": "select",
          "id": "content_position_mobile",
          "options": [
            {
              "value": "items-start justify-start",
              "label": "t:sections.global.settings.content_position.options__1.label"
            },
            {
              "value": "items-start justify-center",
              "label": "t:sections.global.settings.content_position.options__2.label"
            },
            {
              "value": "items-start justify-end",
              "label": "t:sections.global.settings.content_position.options__3.label"
            },
            {
              "value": "items-center justify-start",
              "label": "t:sections.global.settings.content_position.options__4.label"
            },
            {
              "value": "items-center justify-center",
              "label": "t:sections.global.settings.content_position.options__5.label"
            },
            {
              "value": "items-center justify-end",
              "label": "t:sections.global.settings.content_position.options__6.label"
            },
            {
              "value": "items-end justify-start",
              "label": "t:sections.global.settings.content_position.options__7.label"
            },
            {
              "value": "items-end justify-center",
              "label": "t:sections.global.settings.content_position.options__8.label"
            },
            {
              "value": "items-end justify-end",
              "label": "t:sections.global.settings.content_position.options__9.label"
            }
          ],
          "default": "items-end justify-start",
          "label": "t:sections.global.settings.content_position_mobile.label"
        },
        {
          "type": "text_alignment",
          "id": "text_alignment_mobile",
          "default": "left",
          "label": "t:sections.global.settings.text_alignment_mobile.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__colors.content",
          "info": "t:sections.global.settings.header__colors.info"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_highlight",
          "label": "t:sections.global.settings.color_highlight.label"
        },
        {
          "type": "color_background",
          "id": "gradient_highlight",
          "label": "t:sections.global.settings.gradient_highlight.label"
        },
        {
          "type": "color",
          "id": "color_overlay",
          "label": "t:sections.global.settings.color_overlay.label",
          "default": "#171717"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.global.settings.overlay_opacity.label",
          "default": 10
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collage.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
