<style>
  #shopify-section-{{ section.id }} {
    --color-drawer-text: {{ section.settings.color_drawer_text.rgb }};
    --color-drawer-background: {{ section.settings.color_drawer_background.rgb }};
    --color-drawer-button-gradient: {% if section.settings.color_drawer_button_gradient != blank %}{{ section.settings.color_drawer_button_gradient }}{% else %}{{ section.settings.color_drawer_button_background }}{% endif %};
    --color-drawer-button-background: {{ section.settings.color_drawer_button_background.rgb }};
    --color-drawer-button-text: {{ section.settings.color_drawer_button_text.rgb }};
    --color-highlight: {{ section.settings.color_drawer_highlight.rgb }};
  }

  #shopify-pc__banner {
    display: none !important;
  }
</style>

<link rel="stylesheet" href="{{ 'cookie-banner.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'cookie-banner.css' | asset_url | stylesheet_tag }}</noscript>
<script src="{{ 'cookie-banner.js' | asset_url }}" defer="defer"></script>

<cookie-banner id="CookieBanner" class="x-modal cookie-modal drawer z-35 fixed bottom-0 left-0 h-full w-full pointer-events-none"
  data-delay="{{ section.settings.delay }}"
  data-test-mode="{% if section.settings.mode == 'testing' %}true{% else %}false{% endif %}"
  role="dialog"
  aria-labelledby="Dialog-{{ section.id }}-Heading1"
  aria-modal="false"
  shopify-design-mode
  hidden
>
  <overlay-element class="overlay fixed-modal invisible opacity-0 fixed bottom-0 left-0 w-full h-screen pointer-events-none" aria-controls="CookieBanner" aria-expanded="false"></overlay-element>
  <div class="drawer__inner z-10 absolute bottom-0 {{ section.settings.content_position }} flex flex-col w-full h-full overflow-hidden">
    <gesture-element class="drawer__header flex justify-between opacity-0 invisible relative sr-only">
      <button class="button button--secondary button--close drawer__close hidden sm:flex items-center justify-center" type="button" is="hover-button" aria-controls="AgeVerifier" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
        <span class="btn-fill" data-fill></span>
        <span class="btn-text">
          {%- render 'icon', icon: 'close', size: 'sm' -%}
        </span>
      </button>
    </gesture-element>
    <div class="drawer__content opacity-0 invisible">
      <div class="drawer__scrollable relative w-full">
        <div class="cookie-banner text-{{ section.settings.text_alignment }}">
          {%- liquid
            assign with_gradient = false
            if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
              assign with_gradient = true
            endif

            assign delay = 0
          -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'spacing' -%}
                <empty-element class="block spacing-section{% if block.settings.height_mobile == 0 %} hidden lg:block{% endif %}{% if block.settings.height == 0 %} lg:hidden{% endif %}" style="--spacing-height-desktop: {{ block.settings.height }}px; --spacing-height-mobile: {{ block.settings.height_mobile }}px;" {{ block.shopify_attributes }}></empty-element>

              {%- when 'heading' -%}
                {%- if block.settings.heading != blank -%}
                  {%- assign delay = delay | plus: 1 -%}
                  <{{ block.settings.heading_tag }} id="Dialog-{{ section.id }}-Heading{{ delay }}" class="heading leading-none tracking-none {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                    {%- if block.settings.highlighted_text == 'none' -%}
                      <split-words class="split-words block" data-animate="fade-up-large" data-animate-delay="{{ delay | times: 250 }}">{{ block.settings.heading }}</split-words>
                    {%- else -%}
                      {%- render 'highlighted-text', content: block.settings.heading, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
                    {%- endif -%}
                  </{{ block.settings.heading_tag }}>
                {%- endif -%}

              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte leading-normal {{ block.settings.text_font }} {{ block.settings.text_size }}{% if block.settings.secondary_color %} text-opacity{% endif %}"{% if block.settings.text_size == 'subtext-custom' %} style="--subtext-size:{{ block.settings.text_max_size }}px;"{% endif %} {{ block.shopify_attributes }}>
                    {%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
                  </div>
                {%- endif -%}

              {%- when 'buttons' -%}
                <div class="cookie__buttons" {{ block.shopify_attributes }}>
                  <div class="inline-flex gap-4">
                    {%- if block.settings.button_label_1 != blank -%}
                      <button type="button" name="accept" class="button button--primary icon-with-text" is="hover-button">
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                          {%- liquid
                            render 'icon', icon: 'accept', size: 'xs'
                            echo block.settings.button_label_1 | escape
                          -%}
                        </span>
                      </button>
                    {%- endif -%}
                    {%- if block.settings.button_label_2 != blank -%}
                      <button type="button" name="decline" class="button button--secondary icon-with-text" is="hover-button">
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                          {%- liquid
                            render 'icon', icon: 'decline', size: 'xs'
                            echo block.settings.button_label_2 | escape
                          -%}
                        </span>
                      </button>
                    {%- endif -%}
                  </div>
                </div>

              {%- when 'icon' -%}
                {%- if block.settings.icon_image != blank -%}
                  <div class="leading-none" {{ block.shopify_attributes }}>
                    <figure class="media media--transparent relative inline-block">
                      {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
                      {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.icon_image.width }}{%- endcapture -%}
                      {{- block.settings.icon_image | image_url: width: block.settings.icon_image.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'image-fit' -}}
                    </figure>
                  </div>
                {%- elsif block.settings.icon != 'none' -%}
                  <p class="leading-none" {{ block.shopify_attributes }}>
                    {%- render 'icon-guarantee', icon: block.settings.icon, size: 'lg', class: 'inline-block' -%}
                  </p>
                {%- endif -%}

              {%- when 'image' -%}
                {%- if block.settings.image != blank -%}
                  <div class="leading-none" {{ block.shopify_attributes }}>
                    <figure class="media media--transparent relative inline-block">
                      {%- if block.settings.image_width == 'custom' -%}
                        {%- capture style -%}--image-max-width: {{ block.settings.image_max_width }}px; --image-max-width-mobile: {{ block.settings.image_max_width_mobile }}px{%- endcapture -%}
                        {%- capture sizes -%}(max-width: 767px) min({{ block.settings.image_max_width_mobile }}px, 100vw), min({{ block.settings.image_max_width }}px, 100vw){%- endcapture -%}
                        {%- capture widths -%}{{ block.settings.image_max_width_mobile }},{{ block.settings.image_max_width_mobile | times: 2 }},{{ block.settings.image_max_width }},{{ block.settings.image_max_width | times: 2 }}{%- endcapture -%}
                      {%- else -%}
                        {%- assign sizes = 'min(100vw, var(--page-width))' -%}
                        {%- assign widths = '50,75,100,150,200,300,400,500,750,1000,1250,1500,1750,2000,2250,2500,2750,3000,3200' -%}
                      {%- endif -%}
                      {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, style: style, is: 'lazy-image', class: 'image-fit' -}}
                    </figure>
                  </div>
                {%- endif -%}

              {%- when 'liquid' -%}
                {%- if block.settings.liquid != blank -%}
                  <div class="rte" {{ block.shopify_attributes }}>
                    {{- block.settings.liquid -}}
                  </div>
                {%- endif -%}
            {%- endcase %}
          {%- endfor %}
        </div>
      </div>
    </div>
  </div>
</cookie-banner>

{% schema %}
{
  "name": "t:sections.cookie-banner.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.cookie-banner.settings.paragraph.content"
    },
    {
      "type": "select",
      "id": "mode",
      "options": [
        {
          "value": "enabled",
          "label": "t:sections.cookie-banner.settings.mode.options__1.label"
        },
        {
          "value": "testing",
          "label": "t:sections.cookie-banner.settings.mode.options__2.label"
        }
      ],
      "default": "enabled",
      "label": "t:sections.cookie-banner.settings.mode.label",
      "info": "t:sections.cookie-banner.settings.mode.info"
    },
    {
      "type": "range",
      "id": "delay",
      "max": 60,
      "min": 2,
      "step": 1,
      "unit": "s",
      "label": "t:sections.cookie-banner.settings.delay.label",
      "info": "t:sections.cookie-banner.settings.delay.info",
      "default": 5
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "default": "center",
      "label": "t:sections.cookie-banner.settings.text_alignment.label"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "left-0",
          "label": "t:sections.cookie-banner.settings.content_position.options__1.label"
        },
        {
          "value": "right-0",
          "label": "t:sections.cookie-banner.settings.content_position.options__2.label"
        }
      ],
      "default": "left-0",
      "label": "t:sections.cookie-banner.settings.content_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_drawer_text",
      "label": "t:settings_schema.colors.settings.color_drawer_text.label",
      "default": "#171717"
    },
    {
      "type": "color",
      "id": "color_drawer_background",
      "label": "t:settings_schema.colors.settings.color_drawer_background.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_drawer_highlight",
      "label": "t:sections.global.settings.color_highlight.label",
      "default": "#ffddbf"
    },
    {
      "type": "color",
      "id": "color_drawer_button_text",
      "label": "t:settings_schema.colors.settings.color_drawer_button_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_drawer_button_background",
      "label": "t:settings_schema.colors.settings.color_drawer_button_background.label",
      "default": "#171717"
    },
    {
      "type": "color_background",
      "id": "color_drawer_button_gradient",
      "label": "t:settings_schema.colors.settings.color_drawer_button_gradient.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.global.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "We care about your privacy",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "text-base-xl",
              "label": "t:sections.global.settings.heading_size.options__1.label"
            },
            {
              "value": "text-lg-2xl",
              "label": "t:sections.global.settings.heading_size.options__2.label"
            },
            {
              "value": "text-2xl lg:text-3xl",
              "label": "t:sections.global.settings.heading_size.options__3.label"
            }
          ],
          "default": "text-lg-2xl",
          "label": "t:sections.global.settings.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.global.settings.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.global.settings.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.global.settings.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.global.settings.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.global.settings.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.global.settings.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.global.settings.heading_tag.options__7.label"
            },
            {
              "value": "span",
              "label": "t:sections.global.settings.heading_tag.options__8.label"
            },
            {
              "value": "p",
              "label": "t:sections.global.settings.heading_tag.options__9.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.global.settings.heading_tag.label",
          "info": "t:sections.global.settings.heading_tag.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.global.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>We use cookies and similar technologies to provide the best experience on our website. <a href=\"/policies/privacy-policy\">Privacy Policy</a></p>",
          "label": "t:sections.global.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.global.settings.text_size.options__1.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.global.settings.text_size.options__2.label"
            },
            {
              "value": "text-base lg:text-lg",
              "label": "t:sections.global.settings.text_size.options__3.label"
            },
            {
              "value": "text-base lg:text-xl",
              "label": "t:sections.global.settings.text_size.options__4.label"
            },
            {
              "value": "subtext-custom",
              "label": "t:sections.global.settings.text_size.options__5.label"
            }
          ],
          "default": "text-base",
          "label": "t:sections.global.settings.text_size.label"
        },
        {
          "type": "range",
          "id": "text_max_size",
          "default": 32,
          "min": 12,
          "max": 128,
          "step": 2,
          "unit": "px",
          "label": "t:sections.global.settings.text_max_size.label"
        },
        {
          "type": "select",
          "id": "text_font",
          "options": [
            {
              "value": "body",
              "label": "t:sections.global.settings.text_font.options__1.label"
            },
            {
              "value": "heading",
              "label": "t:sections.global.settings.text_font.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.global.settings.text_font.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "default": false,
          "label": "t:sections.global.settings.secondary_color.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.cookie-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Accept",
          "label": "t:sections.cookie-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.cookie-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "No",
          "label": "t:sections.cookie-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.cookie-banner.blocks.buttons.settings.button_label_2.info"
        }
      ]
    },
    {
      "type": "icon",
      "name": "t:sections.global.blocks.icon.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.icon.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.global.settings.icon.options__2.label"
            },
            {
              "value": "award",
              "label": "t:sections.global.settings.icon.options__3.label"
            },
            {
              "value": "bag",
              "label": "t:sections.global.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.global.settings.icon.options__5.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.global.settings.icon.options__6.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.global.settings.icon.options__7.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.global.settings.icon.options__8.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.global.settings.icon.options__9.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.global.settings.icon.options__10.label"
            },
            {
              "value": "cosmetics",
              "label": "t:sections.global.settings.icon.options__11.label"
            },
            {
              "value": "creadit_card",
              "label": "t:sections.global.settings.icon.options__12.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.global.settings.icon.options__13.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.global.settings.icon.options__14.label"
            },
            {
              "value": "devices",
              "label": "t:sections.global.settings.icon.options__15.label"
            },
            {
              "value": "email",
              "label": "t:sections.global.settings.icon.options__16.label"
            },
            {
              "value": "eye",
              "label": "t:sections.global.settings.icon.options__17.label"
            },
            {
              "value": "file_text",
              "label": "t:sections.global.settings.icon.options__18.label"
            },
            {
              "value": "gift",
              "label": "t:sections.global.settings.icon.options__19.label"
            },
            {
              "value": "gluten",
              "label": "t:sections.global.settings.icon.options__20.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.global.settings.icon.options__21.label"
            },
            {
              "value": "headphone",
              "label": "t:sections.global.settings.icon.options__22.label"
            },
            {
              "value": "heart",
              "label": "t:sections.global.settings.icon.options__23.label"
            },
            {
              "value": "iron",
              "label": "t:sections.global.settings.icon.options__24.label"
            },
            {
              "value": "lightning",
              "label": "t:sections.global.settings.icon.options__25.label"
            },
            {
              "value": "lock",
              "label": "t:sections.global.settings.icon.options__26.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.global.settings.icon.options__27.label"
            },
            {
              "value": "newspaper",
              "label": "t:sections.global.settings.icon.options__28.label"
            },
            {
              "value": "organic",
              "label": "t:sections.global.settings.icon.options__29.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.global.settings.icon.options__30.label"
            },
            {
              "value": "phone",
              "label": "t:sections.global.settings.icon.options__31.label"
            },
            {
              "value": "plane",
              "label": "t:sections.global.settings.icon.options__32.label"
            },
            {
              "value": "planet",
              "label": "t:sections.global.settings.icon.options__33.label"
            },
            {
              "value": "planet_2",
              "label": "t:sections.global.settings.icon.options__34.label"
            },
            {
              "value": "recycling",
              "label": "t:sections.global.settings.icon.options__35.label"
            },
            {
              "value": "return",
              "label": "t:sections.global.settings.icon.options__36.label"
            },
            {
              "value": "rocket",
              "label": "t:sections.global.settings.icon.options__37.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.global.settings.icon.options__38.label"
            },
            {
              "value": "ruler_2",
              "label": "t:sections.global.settings.icon.options__39.label"
            },
            {
              "value": "ruler_3",
              "label": "t:sections.global.settings.icon.options__40.label"
            },
            {
              "value": "sale",
              "label": "t:sections.global.settings.icon.options__41.label"
            },
            {
              "value": "shield",
              "label": "t:sections.global.settings.icon.options__42.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.global.settings.icon.options__43.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.global.settings.icon.options__44.label"
            },
            {
              "value": "star",
              "label": "t:sections.global.settings.icon.options__45.label"
            },
            {
              "value": "support",
              "label": "t:sections.global.settings.icon.options__46.label"
            },
            {
              "value": "swatchbook",
              "label": "t:sections.global.settings.icon.options__47.label"
            },
            {
              "value": "tag",
              "label": "t:sections.global.settings.icon.options__48.label"
            },
            {
              "value": "tags",
              "label": "t:sections.global.settings.icon.options__49.label"
            },
            {
              "value": "time",
              "label": "t:sections.global.settings.icon.options__50.label"
            },
            {
              "value": "trophy",
              "label": "t:sections.global.settings.icon.options__51.label"
            },
            {
              "value": "truck",
              "label": "t:sections.global.settings.icon.options__52.label"
            },
            {
              "value": "users",
              "label": "t:sections.global.settings.icon.options__53.label"
            },
            {
              "value": "wallet",
              "label": "t:sections.global.settings.icon.options__54.label"
            },
            {
              "value": "wash",
              "label": "t:sections.global.settings.icon.options__55.label"
            },
            {
              "value": "watch",
              "label": "t:sections.global.settings.icon.options__56.label"
            },
            {
              "value": "wrench",
              "label": "t:sections.global.settings.icon.options__57.label"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.global.settings.icon_image.label"
        },
        {
          "type": "range",
          "id": "icon_width",
          "label": "t:sections.global.settings.icon_width.label",
          "default": 48,
          "min": 20,
          "max": 120,
          "step": 2,
          "unit": "px"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.global.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.settings.image.label"
        },
        {
          "type": "radio",
          "id": "image_width",
          "options": [
            {
              "value": "full_width",
              "label": "t:sections.global.settings.image_width.options__1.label"
            },
            {
              "value": "custom",
              "label": "t:sections.global.settings.image_width.options__2.label"
            }
          ],
          "default": "custom",
          "label": "t:sections.global.settings.image_width.label"
        },
        {
          "type": "range",
          "id": "image_max_width",
          "label": "t:sections.global.settings.image_max_width.label",
          "default": 50,
          "min": 20,
          "max": 1000,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "image_max_width_mobile",
          "label": "t:sections.global.settings.image_max_width_mobile.label",
          "default": 50,
          "min": 20,
          "max": 600,
          "step": 10,
          "unit": "px"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:sections.custom-liquid.settings.liquid.label",
          "info": "t:sections.custom-liquid.settings.liquid.info"
        }
      ]
    },
    {
      "type": "spacing",
      "name": "t:sections.empty-space.name",
      "settings": [
        {
          "type": "range",
          "id": "height",
          "label": "t:sections.empty-space.settings.height.label",
          "default": 40,
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "height_mobile",
          "label": "t:sections.empty-space.settings.height_mobile.label",
          "default": 28,
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "heading"
      },
      {
        "type": "text"
      },
      {
        "type": "buttons"
      }
    ]
  },
  "enabled_on": {
    "groups": [
      "custom.overlay"
    ]
  }
}
{% endschema %}
