<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (min-width: 1024px) {
    #shopify-section-{{ section.id }} {
      {%- assign media_ratio = section.settings.media_size | divided_by: 50.0 -%}
      --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
    }
  }

  {%- assign first_media = section.settings.product.selected_or_first_available_variant.featured_media | default: section.settings.product.media.first -%}
  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      --aspect-ratio: {{ first_media.aspect_ratio }};
    }
  }

  @media screen and (min-width: 768px) {
    #shopify-section-{{ section.id }} {
      --aspect-ratio: {{ first_media.aspect_ratio }};
    }
  }
</style>

{%- liquid
  assign product = section.settings.product
  if product == null
    assign placeholder = true
  endif
  assign product_form_id = 'ProductForm-' | append: section.id | append: '-' | append: product.id
  assign media_count = product.media.size
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
-%}

{%- if first_3d_model -%}
  {{ 'model-viewer.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  />
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  />
{%- endif -%}

{%- if product.quantity_price_breaks_configured? -%}
  {{ 'volume-pricing.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'volume-pricing.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    {%- if product != blank -%}
      {%- assign spinning_block = section.blocks | where: 'type', 'spinning_text' | first -%}
      <div class="featured-product product product--{{ section.settings.gallery_layout }}{% if media_count == 0 %} no-media{% endif %} flex flex-col items-start lg:grid gap-5 w-full relative">
        {%- if media_count > 0 -%}
          {%- render 'product-media-gallery',
            product: product,
            product_id: product.id,
            section_id: section.id,
            gallery_layout: section.settings.gallery_layout,
            thumbnail_position: section.settings.thumbnail_position,
            image_ratio: section.settings.image_ratio,
            image_ratio_mobile: section.settings.image_ratio_mobile,
            image_zoom: section.settings.image_zoom,
            image_fill: settings.product_image_fill,
            mobile_layout: section.settings.mobile_layout,
            mobile_thumbnail: section.settings.mobile_thumbnail,
            hide_variants: section.settings.hide_variants,
            enable_video_autoplay: section.settings.enable_video_autoplay,
            enable_video_looping: section.settings.enable_video_looping,
            first_3d_model: first_3d_model,
            product_form_id: product_form_id,
            spinning_block: spinning_block
          -%}
        {%- endif -%}

        <product-info
          id="ProductInfo-{{ section.id }}-{{ product.id }}"
          class="product__info block{% if section.settings.enable_sticky_info %} sticky{% endif %} w-full"
          data-animate="fade-up"
          data-immediate
          data-section-id="{{ section.id }}"
          data-product-id="{{ product.id }}"
          data-product-url="{{ product.url }}"
          data-update-url="false"
        >
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {%- render block -%}

              {%- when 'breadcrumb' -%}
                {%- render 'product-breadcrumb', block: block -%}

              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <p class="{% if block.settings.text != product.vendor %}product__text rte{% else %}product__vendor{% endif %} {{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                    {%- liquid
                      if block.settings.text != product.vendor
                        render 'icon-accordion', icon: block.settings.icon
                        echo block.settings.text
                      else
                        echo product.vendor | link_to_vendor : class: "reversed-link"
                      endif
                    -%}
                  </p>
                {%- endif -%}

              {%- when 'sku' -%}
                <p class="product__sku" id="Sku-{{ section.id }}-{{ product.id }}" {{ block.shopify_attributes }}>
                  {{- product.selected_or_first_available_variant.sku -}}
                </p>

              {%- when 'description' -%}
                <div class="product__text rte {{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                  {{- product.description -}}
                </div>
              
              {%- when 'title' -%}
                {%- liquid
                  assign price_block = section.blocks | where: "type", "price" | first
                  assign rating_block = section.blocks | where: "type", "rating" | first
                -%}
                <div class="product__title{% if price_block == blank and block.settings.show_price %} with-price{% endif %}" {{ block.shopify_attributes }}>
                  <h1 class="heading leading-none {{ block.settings.title_size }} mobile:{{ block.settings.title_size_mobile }} col-span-full">
                    <split-words class="split-words block" data-animate="fade-up">{{ product.title }}</split-words>
                  </h1>
  
                  {%- if price_block == blank and block.settings.show_price -%}
                    <div id="Price-{{ section.id }}-{{ product.id }}" class="product__price">
                      {%- render 'product-price', product: product, placeholder: placeholder, use_variant: true, class: 'flex flex-wrap items-baseline gap-2 lg:flex-col xl:items-end lg:gap-1d5' -%}
                      
                      {%- if product.quantity_price_breaks_configured? -%}
                        <div class="text-opacity text-sm font-medium leading-tight" id="VolumeNote-{{ section.id }}-{{ product.id }}">
                          {{- 'products.volume_pricing.note' | t -}}
                        </div>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
  
                  {%- liquid
                    if rating_block == blank and block.settings.show_rating
                      render 'product-rating', product: product
                    endif
                  -%}
                </div>
  
                {%- if price_block == blank and block.settings.show_price -%}
                  {%- assign product_form_installment_id = 'ProductFormInstallment-' | append: section.id | append: '-' | append: product.id -%}
                  {%- form 'product', product, id: product_form_installment_id, class: 'installment text-sm leading-tight' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
                    {{ form | payment_terms }}
                  {%- endform -%}
                {%- endif -%}

              {%- when 'price' -%}
                <div class="product__price grid gap-3" {{ block.shopify_attributes }}>
                  <div class="no-js-hidden" id="Price-{{ section.id }}-{{ product.id }}">
                    {%- render 'product-price', product: product, placeholder: placeholder, use_variant: true, class: 'flex flex-wrap items-baseline gap-2 lg:gap-1d5' -%}
                    
                    {%- if product.quantity_price_breaks_configured? -%}
                      <div class="text-opacity text-sm font-medium leading-tight" id="VolumeNote-{{ section.id }}-{{ product.id }}">
                        {{- 'products.volume_pricing.note' | t -}}
                      </div>
                    {%- endif -%}
                  </div>
  
                  {%- assign product_form_installment_id = 'ProductFormInstallment-' | append: section.id | append: '-' | append: product.id -%}
                  {%- form 'product', product, id: product_form_installment_id, class: 'installment text-sm leading-tight' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
                    {{ form | payment_terms }}
                  {%- endform -%}
  
                  {%- if block.settings.show_taxes_notice -%}
                    {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                      <div class="product__tax rte text-sm">
                        {%- liquid
                          if cart.taxes_included
                            echo 'products.product.include_taxes' | t
                          endif
                          if shop.shipping_policy.body != blank
                            echo 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url
                          endif
                        -%}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>

              {%- when 'quantity_selector' -%}
                {%- if product.available -%}
                  <div id="QuantityForm-{{ section.id }}-{{ product.id }}" class="field" {{ block.shopify_attributes }}>
                    {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
                    <label for="Quantity-{{ section.id }}-{{ product.id }}" class="quantity__label label" is="quantity-label">
                      {{ 'products.quantity.label' | t }}
                      <span id="QuantityRulesCart-{{ section.id }}-{{ product.id }}" class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %} relative">
                        <span class="quantity-cart font-medium">({{ 'products.quantity.in_cart_html' | t: quantity: cart_qty }})</span>
                      </span>
                    </label>
                    <div class="flex items-center gap-4">
                      <quantity-input class="quantity inline-flex relative" data-section-id="{{ section.id }}" data-product-id="{{ product.id }}">
                        <button type="button" name="minus" class="quantity__button" aria-label="{{ 'products.quantity.decrease' | t: product: product.title | escape }}">
                          {%- render 'icon', icon: 'chevron-left', size: 'sm', class: 'stroke-2 transform' -%}
                        </button>
                        <input
                          id="Quantity-{{ section.id }}-{{ product.id }}"
                          class="quantity__input text-sm sm:text-base font-medium text-center"
                          type="number"
                          name="quantity"
                          inputmode="numeric"
                          autocomplete="off"
                          data-quantity-variant-id="{{ product.selected_or_first_available_variant.id }}"
                          data-cart-quantity="{{ cart_qty }}"
                          data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                            data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                            max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                          value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          form="{{ product_form_id }}"
                        />
                        <button type="button" name="plus" class="quantity__button" aria-label="{{ 'products.quantity.increase' | t: product: product.title | escape }}">
                          {%- render 'icon', icon: 'chevron-right', size: 'sm', class: 'stroke-2 transform' -%}
                        </button>
                      </quantity-input>
  
                      {%- if product.quantity_price_breaks_configured? -%}
                        {%- liquid
                          assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
                          assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
                          if cart_qty > 0
                            assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
                          endif
                          assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price
                        -%}
                        <price-per-item
                          id="PricePerItem-{{ section.id }}-{{ product.id }}"
                          class="price flex flex-wrap items-center gap-2 lg:gap-1d5"
                          data-section-id="{{ section.id }}"
                          data-product-id="{{ product.id }}"
                          data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                        >
                          {%- if variant_price_compare -%}
                            <span class="sr-only">{{ 'products.price.regular_price' | t }}</span>
                            <span class="price__sale inline-flex items-center h-auto relative">
                              {%- liquid
                                if settings.currency_code_enabled
                                  echo variant_price_compare | money_with_currency
                                else
                                  echo variant_price_compare | money
                                endif
                              -%}
                            </span>
                            <span class="sr-only">{{ 'products.price.sale_price' | t }}</span>
                          {%- endif -%}
                          
                          {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                            {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                              {%- liquid
                                if settings.currency_code_enabled
                                  assign variant_price = product.selected_or_first_available_variant.price | money_with_currency
                                else
                                  assign variant_price = product.selected_or_first_available_variant.price | money
                                endif
                              -%}
                              <span class="price-per-item--current price__regular whitespace-nowrap">
                                {{- 'products.volume_pricing.price_at_each' | t: price: variant_price -}}
                              </span>
                            {%- else -%}
                              {%- for price_break in volume_pricing_array -%}
                                {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                                  {%- liquid
                                    if settings.currency_code_enabled
                                      assign price_break_price = price_break.price | money_with_currency
                                    else
                                      assign price_break_price = price_break.price | money
                                    endif
                                  -%}
                                  <span class="price-per-item--current price__regular whitespace-nowrap">
                                    {{- 'products.volume_pricing.price_at_each' | t: price: price_break_price -}}
                                  </span>
                                  {%- break -%}
                                {%- endif -%}
                              {%- endfor -%}
                            {%- endif -%}
                          {%- else -%}
                            <span class="price-per-item--current price__regular whitespace-nowrap">
                              {%- liquid
                                if settings.currency_code_enabled
                                  assign variant_price = product.selected_or_first_available_variant.price | money_with_currency
                                else
                                  assign variant_price = product.selected_or_first_available_variant.price | money
                                endif
                              -%}
                              {{- 'products.volume_pricing.price_at_each' | t: price: variant_price -}}
                            </span>
                          {%- endif -%}
                        </price-per-item>
                      {%- endif -%}
                    </div>
  
                    {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 or product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null -%}
                      <div class="quantity__rules text-sm font-medium leading-tight" id="QuantityRules-{{ section.id }}-{{ product.id }}">
                        {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                          <span class="divider">
                            {{- 'products.quantity.multiples_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment -}}
                          </span>
                        {%- endif -%}
                        {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                          <span class="divider">
                            {{- 'products.quantity.minimum_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.min -}}
                          </span>
                        {%- endif -%}
                        {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                          <span class="divider">
                            {{- 'products.quantity.maximum_of' | t: quantity: product.selected_or_first_available_variant.quantity_rule.max -}}
                          </span>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}

              {%- when 'volume_pricing' -%}
                {%- if product.quantity_price_breaks_configured? -%}
                  <volume-pricing class="volume-pricing grid gap-6" id="Volume-{{ section.id }}-{{ product.id }}">
                    {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                      <span class="caption-large font-medium">{{ 'products.volume_pricing.title' | t }}</span>
                      <ul class="list-unstyled">
                        <li class="text-sm flex gap-2d5 justify-between">
                          <span class="font-medium">{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                          {%- liquid
                            if settings.currency_code_enabled
                              assign variant_price = product.selected_or_first_available_variant.price | money_with_currency
                            else
                              assign variant_price = product.selected_or_first_available_variant.price | money
                            endif
                          -%}
                          <span data-text="{{ 'products.volume_pricing.price_at_each' | t: price: variant_price }}">
                            {{- 'sections.quick_order_list.each' | t: money: variant_price -}}
                          </span>
                        </li>
                        {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                          {%- liquid
                            if settings.currency_code_enabled
                              assign price_break_price = price_break.price | money_with_currency
                            else
                              assign price_break_price = price_break.price | money
                            endif
                          -%}
                          <li class="text-sm flex gap-2d5 justify-between{% if forloop.index >= 3 %} show-more-item hidden{% endif %}">
                            <span class="font-medium">
                              {{- price_break.minimum_quantity -}}
                              <span aria-hidden="true">+</span>
                            </span>
                            <span data-text="{{ 'products.volume_pricing.price_at_each' | t: price: price_break_price }}">
                              {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                            </span>
                          </li>
                        {%- endfor -%}
                      </ul>
                      {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                        <show-more-button>
                          <button
                            class="button-show-more link text-sm leading-tight"
                            id="ShowMore-{{ section.id }}-{{ product.id }}"
                            type="button"
                          >
                            <span class="label-show-more">{{ 'products.general.show_more' | t }}</span>
                          </button>
                        </show-more-button>
                      {%- endif -%}
                    {%- endif -%}
                  </volume-pricing>
                {%- endif -%}

              {%- when 'variant_picker' -%}
                {%- render 'product-variant-picker',
                  block: block,
                  product: product,
                  product_id: product.id,
                  section_id: section.id,
                  product_form_id: product_form_id,
                  image_ratio: section.settings.image_ratio,
                  image_ratio_mobile: section.settings.image_ratio_mobile,
                  image_fill: settings.product_image_fill
                -%}
                
              {%- when 'product_variations' -%}
                {%- render 'product-variants',
                  block: block,
                  product: product,
                  product_id: product.id,
                  section_id: section.id
                -%}
  
              {%- when 'buy_buttons' -%}
                {%- render 'buy-buttons',
                  block: block,
                  product: product,
                  product_id: product.id,
                  section_id: section.id,
                  product_form_id: product_form_id
                -%}
  
              {%- when 'pickup_availability' -%}
                {%- render 'pickup-availability',
                  block: block,
                  product: product,
                  product_id: product.id,
                  section_id: section.id,
                  product_form_id: product_form_id
                -%}
  
              {%- when 'inventory' -%}
                {%- render 'product-inventory',
                  block: block,
                  product: product,
                  product_id: product.id,
                  section_id: section.id,
                  product_form_id: product_form_id
                -%}

              {%- when 'share' -%}
                <div class="flex justify-between items-center" {{ block.shopify_attributes }}>
                  {%- liquid
                    assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin
                    assign share_image = product.selected_variant.featured_image | default: product.featured_image
                  -%}
                  {%- render 'social-sharing',
                    section_id: section.id,
                    share_id: product.id,
                    share_label: block.settings.share_label,
                    share_title: product.title,
                    share_link: share_url,
                    share_image: share_image
                  -%}

                  {%- if block.settings.show_help_desk -%}
                    <div class="flex items-center gap-2">
                      {%- render 'icon', icon: 'question' -%}
                      <a class="link text-sm leading-tight cursor-pointer"
                        {%- if block.settings.help_page != blank %} href="{{ block.settings.help_page.url }}"{% else %} role="link" aria-disabled="true"{% endif -%}
                      >
                        {{- block.settings.help_label | escape -}}
                      </a>
                    </div>
                  {%- endif -%}
                </div>

              {%- when 'help_desk' -%}
                <div class="flex items-center gap-2" {{ block.shopify_attributes }}>
                  {%- render 'icon', icon: 'question' -%}
                  <a class="link text-sm leading-tight cursor-pointer"
                    {%- if block.settings.help_page != blank %} href="{{ block.settings.help_page.url }}"{% else %} role="link" aria-disabled="true"{% endif -%}
                  >
                    {{- block.settings.help_label | escape -}}
                  </a>
                </div>

              {%- when 'rating' -%}
                {%- render 'product-rating', product: product, block: block -%}

              {%- when 'complementary' -%}
                {%- render 'product-complementary',
                  section_id: section.id,
                  product_id: product.id,
                  image_ratio: settings.product_image_ratio,
                  image_fill: settings.product_image_fill,
                  limit: block.settings.product_limit,
                  heading: block.settings.heading,
                  show_vendor: block.settings.show_vendor,
                  show_price: block.settings.show_price,
                -%}

              {%- when 'liquid' -%}
                {%- if block.settings.liquid != blank -%}
                  <div class="rte" {{ block.shopify_attributes }}>
                    {{- block.settings.liquid -}}
                  </div>
                {%- endif -%}

              {%- when 'collapsible_tab' -%}
                <details class="product__accordion details" is="accordion-details" {{ block.shopify_attributes }}>
                  <summary class="details__summary flex items-center justify-between gap-2 cursor-pointer">
                    <div class="flex items-center gap-2d5">
                      {%- render 'icon-accordion', icon: block.settings.icon -%}
                      <span class="text-sm-base font-medium leading-none">{{ block.settings.heading | default: block.settings.page.title | escape }}</span>
                    </div>
                    {%- render 'icon', icon: 'plus-2', size: 'xs', class: 'flex-auto' -%}
                  </summary>
                  <div class="details__content rte text-sm text-opacity">
                    {{ block.settings.content }}
                    {{ block.settings.page.content }}
                    {{ block.settings.liquid }}
                  </div>
                </details>

              {%- when 'read_more' -%}
                <a class="product__more flex items-center justify-between" href="{{ product.url }}" {{ block.shopify_attributes }}>
                  <span class="text-sm-base font-medium leading-none">
                    {{- 'products.product.read_more' | t -}}
                  </span>
                  {%- render 'icon', icon: 'arrow-right', size: 'xs', class: 'flex-auto' -%}
                </a>

              {%- when 'countdown' -%}
                {%- if product.metafields.theme.countdown.value != blank -%}
                  {%- liquid
                    assign now_time = 'now' | date: '%s' | times: 1
                    assign countdown_time = product.metafields.theme.countdown.value | date: '%s' | times: 1
                  -%}
                  {%- if countdown_time > now_time -%}
                    <div class="product-countdown grid sm:flex items-center justify-between gap-2d5" id="shopify-block-{{ block.id }}" {{ block.shopify_attributes }}>
                      <div class="flex items-center gap-3">
                        {%- render 'icon', icon: 'countdown', size: 'xl', class: 'flex-auto block lg:hidden xl:block' -%}
                        <div class="grid">
                          {%- if block.settings.heading != blank -%}
                            <p class="heading text-base lg:text-lg xl:text-xl leading-tight">{{ block.settings.heading | escape }}</p>
                          {%- endif -%}
                          {%- if block.settings.subheading != blank -%}
                            <p class="uppercase text-3xs font-medium leading-none tracking-widest">{{ block.settings.subheading | escape }}</p>
                          {%- endif -%}
                        </div>
                      </div>
                      <countdown-timer
                        class="countdown__timer flex text-center"
                        data-year="{{ product.metafields.theme.countdown.value | date: "%Y" }}"
                        data-month="{{ product.metafields.theme.countdown.value | date: "%m" }}"
                        data-day="{{ product.metafields.theme.countdown.value | date: "%d" }}"
                        data-hour="{{ product.metafields.theme.countdown.value | date: "%H" }}"
                        data-minute="{{ product.metafields.theme.countdown.value | date: "%M" }}"
                      >
                        <div class="countdown__item">
                          <p>--</p><span>{{ 'general.date.days' | t }}</span>
                        </div>
                        <div class="countdown__item">
                          <p>--</p><span>{{ 'general.date.hours' | t }}</span>
                        </div>
                        <div class="countdown__item">
                          <p>--</p><span>{{ 'general.date.minutes' | t }}</span>
                        </div>
                        <div class="countdown__item">
                          <p>--</p><span>{{ 'general.date.seconds' | t }}</span>
                        </div>
                      </countdown-timer>
                      <style>
                        #shopify-block-{{ block.id }} {
                          {%- render 'section-variables', section: block -%}
                        }
                      </style>
                    </div>
                  {%- endif -%}
                {%- endif -%}

              {%- when 'back_in_stock' -%}
                <div id="BackInStock-{{ section.id }}-{{ product.id }}" class="back-in-stock" {{ block.shopify_attributes }}>
                  {%- liquid
                    assign check_against_inventory = true
                    if product.selected_or_first_available_variant.inventory_management != 'shopify' or  product.selected_or_first_available_variant.inventory_policy == 'continue'
                      assign check_against_inventory = false
                    endif
                    if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                      assign quantity_rule_soldout = true
                    endif
  
                    if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
                      render 'back-in-stock', product: product, product_id: product.id, section_id: section.id, heading: block.settings.heading, description: block.settings.description, compact: true
                    endif
                  -%}
                </div>

              {%- when 'line_item_property' -%}
                {%- assign custom_name = block.settings.title | escape -%}
                <div class="field" {{ block.shopify_attributes }}>
                  {%- if block.settings.type == 'checkbox' -%}
                    <label for="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}" class="flex items-center gap-3">
                      <input
                        type="hidden"
                        name="properties[{{ custom_name }}]"
                        form="{{ product_form_id }}"
                        value="{{ block.settings.unchecked_value | escape }}"
                      />
                      <input
                        type="checkbox"
                        id="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}"
                        name="properties[{{ custom_name }}]"
                        form="{{ product_form_id }}"
                        value="{{ block.settings.checked_value | escape }}"
                        {%- if block.settings.required %} required{% endif -%}
                      />
                      {{- block.settings.title | escape -}}
                    </label>
  
                    {%- elsif block.settings.type == 'radio' -%}
                    <div class="grid gap-4">
                      <p>{{ block.settings.title | escape }}</p>
                      {%- assign options = block.settings.radio_options | split: ',' -%}
                      {%- if options.size > 0 -%}
                        <ul class="grid gap-2 leading-none" role="list">
                          {%- for option in options -%}
                            {%- assign option_2 = option | strip | escape -%}
                            <li>
                              <label for="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}-{{ forloop.index0 }}" class="inline-flex items-center gap-3">
                                <input
                                  type="radio"
                                  id="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}-{{ forloop.index0 }}"
                                  name="properties[{{ custom_name }}]"
                                  form="{{ product_form_id }}"
                                  value="{{ option_2 }}"
                                  {%- if block.settings.required %} required{% endif -%}
                                />
                                {{- option_2 -}}
                              </label>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
    
                  {%- else -%}
                    {%- case block.settings.type -%}
                      {%- when 'text' -%}
                        <input
                          class="input is-floating"
                          type="text"
                          id="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}"
                          name="properties[{{ custom_name }}]"
                          form="{{ product_form_id }}"
                          placeholder="{{ block.settings.title | escape }}"
                          {%- if block.settings.required %} required{% endif -%}
                        />
                        <label class="label is-floating" for="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}">{{ block.settings.title | escape }}</label>
    
                      {%- when 'textarea' -%}
                        <textarea
                          class="textarea is-floating"
                          rows="5"
                          id="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}"
                          name="properties[{{ custom_name }}]"
                          form="{{ product_form_id }}"
                          placeholder=" "
                          {%- if block.settings.required %} required{% endif -%}
                        ></textarea>
                        <label class="label is-floating" for="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}">{{ block.settings.title | escape }}</label>
    
                      {%- when 'select' -%}
                        {%- assign options = block.settings.select_options | split: ',' -%}
                        {%- if options.size > 0 -%}
                          <select
                            class="select is-floating"
                            id="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}"
                            name="properties[{{ custom_name }}]"
                            form="{{ product_form_id }}"
                            {%- if block.settings.required %} required{% else %} is="custom-select"{% endif -%}
                          >
                            <option value="" disabled selected></option>
                            {%- for option in options -%}
                              {%- assign option_2 = option | strip | escape -%}
                              <option value="{{ option_2 }}">{{ option_2 }}</option>
                            {%- endfor -%}
                          </select>
                          {%- render 'icon', icon: 'chevron-up', size: 'sm', class: 'absolute' -%}
                        {%- endif -%}
                        <label class="label{% if options.size > 0 %} is-floating{% endif %}" for="LineItemInput-{{ section.id }}-{{ product.id }}-{{ block.id }}">{{ block.settings.title | escape }}</label>
                    {%- endcase -%}
                  {%- endif -%}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </product-info>
      </div>
    {%- else -%}
      {%- render 'product-placeholder', section: section -%}
    {%- endif -%}
  </div>
  
  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {%- endif -%}
  
  <script type="application/ld+json">
    {{- product | structured_data -}}
  </script>  
</div>

{% schema %}
{
  "name": "t:sections.featured-product.name",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.global.settings.product.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header__media.content",
      "info": "t:sections.main-product.settings.header__media.info"
    },
    {
      "type": "range",
      "id": "media_size",
      "min": 35,
      "max": 70,
      "step": 1,
      "unit": "%",
      "default": 66,
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "scroll",
          "label": "t:sections.main-product.settings.gallery_layout.options__1.label"
        },
        {
          "value": "columns",
          "label": "t:sections.main-product.settings.gallery_layout.options__2.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.main-product.settings.gallery_layout.options__3.label"
        }
      ],
      "default": "thumbnail",
      "label": "t:sections.main-product.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "options": [
        {
          "value": "beside",
          "label": "t:sections.main-product.settings.thumbnail_position.options__1.label"
        },
        {
          "value": "below",
          "label": "t:sections.main-product.settings.thumbnail_position.options__2.label"
        }
      ],
      "default": "beside",
      "label": "t:sections.main-product.settings.thumbnail_position.label",
      "info": "t:sections.main-product.settings.thumbnail_position.info"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.global.settings.image_ratio.options__1.label"
        },
        {
          "value": "square",
          "label": "t:sections.global.settings.image_ratio.options__2.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.global.settings.image_ratio.options__3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.global.settings.image_ratio.options__4.label"
        },
        {
          "value": "wide",
          "label": "t:sections.global.settings.image_ratio.options__5.label"
        },
        {
          "value": "adapt_first",
          "label": "t:sections.global.settings.image_ratio.options__7.label"
        }
      ],
      "default": "adapt_first",
      "label": "t:sections.global.settings.image_ratio.label",
      "info": "t:sections.main-product.settings.image_ratio.info"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-product.settings.image_zoom.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.main-product.settings.image_zoom.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-product.settings.image_zoom.label",
      "info": "t:sections.main-product.settings.image_zoom.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_autoplay.label",
      "info": "t:sections.main-product.settings.enable_video_autoplay.info"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "options": [
        {
          "value": "partial",
          "label": "t:sections.main-product.settings.mobile_layout.options__1.label"
        },
        {
          "value": "full_width",
          "label": "t:sections.main-product.settings.mobile_layout.options__2.label"
        }
      ],
      "default": "partial",
      "label": "t:sections.main-product.settings.mobile_layout.label"
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.global.settings.image_ratio.options__1.label"
        },
        {
          "value": "square",
          "label": "t:sections.global.settings.image_ratio.options__2.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.global.settings.image_ratio.options__3.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.global.settings.image_ratio.options__4.label"
        },
        {
          "value": "wide",
          "label": "t:sections.global.settings.image_ratio.options__5.label"
        },
        {
          "value": "adapt_first",
          "label": "t:sections.global.settings.image_ratio.options__7.label"
        }
      ],
      "default": "adapt_first",
      "label": "t:sections.global.settings.image_ratio_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "mobile_thumbnail",
      "default": false,
      "label": "t:sections.main-product.settings.mobile_thumbnail.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "breadcrumb",
      "name": "t:sections.global.blocks.breadcrumb.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_collections_link",
          "label": "t:sections.main-product.blocks.breadcrumb.settings.show_collections_link.label",
          "default": true
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.global.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.global.settings.text_size.options__1.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.global.settings.text_size.options__2.label"
            },
            {
              "value": "text-base lg:text-lg",
              "label": "t:sections.global.settings.text_size.options__3.label"
            },
            {
              "value": "text-base lg:text-xl",
              "label": "t:sections.global.settings.text_size.options__4.label"
            }
          ],
          "default": "text-base",
          "label": "t:sections.global.settings.text_size.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "title_size",
          "options": [
            {
              "value": "product-title-sm",
              "label": "t:sections.global.settings.title_size.options__1.label"
            },
            {
              "value": "product-title-md",
              "label": "t:sections.global.settings.title_size.options__2.label"
            },
            {
              "value": "product-title-lg",
              "label": "t:sections.global.settings.title_size.options__3.label"
            }
          ],
          "default": "product-title-md",
          "label": "t:sections.global.settings.title_size.label"
        },
        {
          "type": "select",
          "id": "title_size_mobile",
          "options": [
            {
              "value": "product-title-sm",
              "label": "t:sections.global.settings.title_size.options__1.label"
            },
            {
              "value": "product-title-md",
              "label": "t:sections.global.settings.title_size.options__2.label"
            },
            {
              "value": "product-title-lg",
              "label": "t:sections.global.settings.title_size.options__3.label"
            }
          ],
          "default": "product-title-md",
          "label": "t:sections.global.settings.title_size_mobile.label"
        },
        {
          "type": "checkbox",
          "id": "show_price",
          "default": true,
          "label": "t:sections.main-product.blocks.title.settings.show_price.label"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "default": true,
          "label": "t:sections.main-product.blocks.title.settings.show_rating.label",
          "info": "t:sections.main-product.blocks.title.settings.show_rating.info"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_taxes_notice",
          "default": true,
          "label": "t:sections.main-product.blocks.price.settings.show_taxes_notice.label"
        }
      ]
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
          "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
          "default": 10,
          "min": 0,
          "max": 20,
          "step": 1
        },
        {
          "type": "checkbox",
          "id": "show_inventory_transfer",
          "default": true,
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_transfer.label",
          "info": "t:sections.main-product.blocks.inventory.settings.show_inventory_transfer.info"
        },
        {
          "type": "select",
          "id": "show_inventory_quantity",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.options__1.label"
            },
            {
              "value": "low",
              "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.options__2.label"
            },
            {
              "value": "always",
              "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.options__3.label"
            }
          ],
          "default": "low",
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.main-product.blocks.inventory.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.main-product.blocks.inventory.settings.color_scheme.options__2.label"
            },
            {
              "value": "accent-3",
              "label": "t:sections.main-product.blocks.inventory.settings.color_scheme.options__3.label"
            },
            {
              "value": "accent-4",
              "label": "t:sections.main-product.blocks.inventory.settings.color_scheme.options__4.label"
            },
            {
              "value": "accent-5",
              "label": "t:sections.main-product.blocks.inventory.settings.color_scheme.options__5.label"
            },
            {
              "value": "accent-6",
              "label": "t:sections.main-product.blocks.inventory.settings.color_scheme.options__6.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.main-product.blocks.inventory.settings.color_scheme.label"
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "volume_pricing",
      "name": "t:sections.main-product.blocks.volume_pricing.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_variant_labels",
          "default": true,
          "label": "t:sections.main-product.blocks.variant_picker.settings.show_variant_labels.label"
        },
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.variant_picker.settings.header__color.content"
        },
        {
          "type": "checkbox",
          "id": "enable_color_swatches",
          "default": true,
          "label": "t:sections.main-product.blocks.variant_picker.settings.enable_color_swatches.label",
          "info": "t:sections.main-product.blocks.variant_picker.settings.enable_color_swatches.info"
        },
        {
          "type": "select",
          "id": "color_swatch_type",
          "options": [
            {
              "value": "color",
              "label": "t:sections.main-product.blocks.variant_picker.settings.color_swatch_type.options__1.label"
            },
            {
              "value": "variant",
              "label": "t:sections.main-product.blocks.variant_picker.settings.color_swatch_type.options__2.label"
            }
          ],
          "default": "color",
          "label": "t:sections.main-product.blocks.variant_picker.settings.color_swatch_type.label",
          "info": "t:sections.main-product.blocks.variant_picker.settings.color_swatch_type.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.variant_picker.settings.header__size.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.variant_picker.settings.paragraph__size.content"
        },
        {
          "type": "page",
          "id": "size_chart",
          "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart.label"
        }
      ]
    },
    {
      "type": "product_variations",
      "name": "t:sections.main-product.blocks.product_variations.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.product_variations.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "option_name",
          "label": "t:sections.main-product.blocks.product_variations.settings.option_name.label",
          "info": "t:sections.main-product.blocks.product_variations.settings.option_name.info"
        },
        {
          "type": "text",
          "id": "option_value_metafield",
          "label": "t:sections.main-product.blocks.product_variations.settings.option_value_metafield.label",
          "info": "t:sections.main-product.blocks.product_variations.settings.option_value_metafield.info"
        },
        {
          "type": "product_list",
          "id": "products",
          "label": "t:sections.main-product.blocks.product_variations.settings.products.label",
          "info": "t:sections.main-product.blocks.product_variations.settings.products.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.variant_picker.settings.header__color.content"
        },
        {
          "type": "checkbox",
          "id": "enable_color_swatches",
          "default": true,
          "label": "t:sections.main-product.blocks.variant_picker.settings.enable_color_swatches.label"
        },
        {
          "type": "select",
          "id": "color_swatch_type",
          "options": [
            {
              "value": "color",
              "label": "t:sections.main-product.blocks.product_variations.settings.color_swatch_type.options__1.label"
            },
            {
              "value": "variant",
              "label": "t:sections.main-product.blocks.product_variations.settings.color_swatch_type.options__2.label"
            }
          ],
          "default": "color",
          "label": "t:sections.main-product.blocks.product_variations.settings.color_swatch_type.label",
          "info": "t:sections.main-product.blocks.product_variations.settings.color_swatch_type.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.variant_picker.settings.header__size.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.variant_picker.settings.paragraph__size.content"
        },
        {
          "type": "page",
          "id": "size_chart",
          "label": "t:sections.main-product.blocks.variant_picker.settings.size_chart.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_quantity_selector",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity_selector.label"
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.back_in_stock.settings.header.content",
          "info": "t:sections.main-product.blocks.back_in_stock.settings.header.info"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.back_in_stock.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "enable_back_in_stock",
          "default": false,
          "label": "t:sections.main-product.blocks.back_in_stock.settings.enabled.label"
        },
        {
          "type": "checkbox",
          "id": "show_back_in_stock_name",
          "default": false,
          "label": "t:sections.main-product.blocks.back_in_stock.settings.show_name.label"
        },
        {
          "type": "checkbox",
          "id": "show_back_in_stock_phone",
          "default": false,
          "label": "t:sections.main-product.blocks.back_in_stock.settings.show_phone.label"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.pickup_availability.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.global.settings.text_size.options__1.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.global.settings.text_size.options__2.label"
            },
            {
              "value": "text-base lg:text-lg",
              "label": "t:sections.global.settings.text_size.options__3.label"
            },
            {
              "value": "text-base lg:text-xl",
              "label": "t:sections.global.settings.text_size.options__4.label"
            }
          ],
          "default": "text-base",
          "label": "t:sections.global.settings.text_size.label"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.global.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.share.settings.header__help.content"
        },
        {
          "type": "checkbox",
          "id": "show_help_desk",
          "label": "t:sections.main-product.blocks.share.settings.show_help_desk.label",
          "default": true
        },
        {
          "type": "text",
          "id": "help_label",
          "label": "t:sections.main-product.blocks.help_desk.settings.help_label.label",
          "default": "Need help?"
        },
        {
          "type": "page",
          "id": "help_page",
          "label": "t:sections.main-product.blocks.help_desk.settings.help_page.label"
        }
      ]
    },
    {
      "type": "help_desk",
      "name": "t:sections.main-product.blocks.help_desk.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "help_label",
          "label": "t:sections.main-product.blocks.help_desk.settings.help_label.label",
          "default": "Need help?"
        },
        {
          "type": "page",
          "id": "help_page",
          "label": "t:sections.main-product.blocks.help_desk.settings.help_page.label"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:sections.custom-liquid.settings.liquid.label",
          "info": "t:sections.custom-liquid.settings.liquid.info"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Pairs well with",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "range",
          "id": "product_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "t:sections.main-product.blocks.complementary_products.settings.product_limit.label"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": true,
          "label": "t:sections.main-product.blocks.complementary_products.settings.show_vendor.label"
        },
        {
          "type": "checkbox",
          "id": "show_price",
          "default": true,
          "label": "t:sections.main-product.blocks.complementary_products.settings.show_price.label"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.icon.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.global.settings.icon.options__2.label"
            },
            {
              "value": "award",
              "label": "t:sections.global.settings.icon.options__3.label"
            },
            {
              "value": "bag",
              "label": "t:sections.global.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.global.settings.icon.options__5.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.global.settings.icon.options__6.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.global.settings.icon.options__7.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.global.settings.icon.options__8.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.global.settings.icon.options__9.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.global.settings.icon.options__10.label"
            },
            {
              "value": "cosmetics",
              "label": "t:sections.global.settings.icon.options__11.label"
            },
            {
              "value": "creadit_card",
              "label": "t:sections.global.settings.icon.options__12.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.global.settings.icon.options__13.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.global.settings.icon.options__14.label"
            },
            {
              "value": "devices",
              "label": "t:sections.global.settings.icon.options__15.label"
            },
            {
              "value": "email",
              "label": "t:sections.global.settings.icon.options__16.label"
            },
            {
              "value": "eye",
              "label": "t:sections.global.settings.icon.options__17.label"
            },
            {
              "value": "file_text",
              "label": "t:sections.global.settings.icon.options__18.label"
            },
            {
              "value": "gift",
              "label": "t:sections.global.settings.icon.options__19.label"
            },
            {
              "value": "gluten",
              "label": "t:sections.global.settings.icon.options__20.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.global.settings.icon.options__21.label"
            },
            {
              "value": "headphone",
              "label": "t:sections.global.settings.icon.options__22.label"
            },
            {
              "value": "heart",
              "label": "t:sections.global.settings.icon.options__23.label"
            },
            {
              "value": "iron",
              "label": "t:sections.global.settings.icon.options__24.label"
            },
            {
              "value": "lightning",
              "label": "t:sections.global.settings.icon.options__25.label"
            },
            {
              "value": "lock",
              "label": "t:sections.global.settings.icon.options__26.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.global.settings.icon.options__27.label"
            },
            {
              "value": "newspaper",
              "label": "t:sections.global.settings.icon.options__28.label"
            },
            {
              "value": "organic",
              "label": "t:sections.global.settings.icon.options__29.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.global.settings.icon.options__30.label"
            },
            {
              "value": "phone",
              "label": "t:sections.global.settings.icon.options__31.label"
            },
            {
              "value": "plane",
              "label": "t:sections.global.settings.icon.options__32.label"
            },
            {
              "value": "planet",
              "label": "t:sections.global.settings.icon.options__33.label"
            },
            {
              "value": "planet_2",
              "label": "t:sections.global.settings.icon.options__34.label"
            },
            {
              "value": "recycling",
              "label": "t:sections.global.settings.icon.options__35.label"
            },
            {
              "value": "return",
              "label": "t:sections.global.settings.icon.options__36.label"
            },
            {
              "value": "rocket",
              "label": "t:sections.global.settings.icon.options__37.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.global.settings.icon.options__38.label"
            },
            {
              "value": "ruler_2",
              "label": "t:sections.global.settings.icon.options__39.label"
            },
            {
              "value": "ruler_3",
              "label": "t:sections.global.settings.icon.options__40.label"
            },
            {
              "value": "sale",
              "label": "t:sections.global.settings.icon.options__41.label"
            },
            {
              "value": "shield",
              "label": "t:sections.global.settings.icon.options__42.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.global.settings.icon.options__43.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.global.settings.icon.options__44.label"
            },
            {
              "value": "star",
              "label": "t:sections.global.settings.icon.options__45.label"
            },
            {
              "value": "support",
              "label": "t:sections.global.settings.icon.options__46.label"
            },
            {
              "value": "swatchbook",
              "label": "t:sections.global.settings.icon.options__47.label"
            },
            {
              "value": "tag",
              "label": "t:sections.global.settings.icon.options__48.label"
            },
            {
              "value": "tags",
              "label": "t:sections.global.settings.icon.options__49.label"
            },
            {
              "value": "time",
              "label": "t:sections.global.settings.icon.options__50.label"
            },
            {
              "value": "trophy",
              "label": "t:sections.global.settings.icon.options__51.label"
            },
            {
              "value": "truck",
              "label": "t:sections.global.settings.icon.options__52.label"
            },
            {
              "value": "users",
              "label": "t:sections.global.settings.icon.options__53.label"
            },
            {
              "value": "wallet",
              "label": "t:sections.global.settings.icon.options__54.label"
            },
            {
              "value": "wash",
              "label": "t:sections.global.settings.icon.options__55.label"
            },
            {
              "value": "watch",
              "label": "t:sections.global.settings.icon.options__56.label"
            },
            {
              "value": "wrench",
              "label": "t:sections.global.settings.icon.options__57.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.global.settings.heading.label",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label",
          "default": "<p>Use collapsible tabs for more detailed information that will help customers make a purchasing decision.</p><p>Ex: Shipping and return policies, size guides, and other common questions.</p>"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:sections.custom-liquid.settings.liquid.label",
          "info": "t:sections.custom-liquid.settings.liquid.info"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "t:sections.main-product.blocks.countdown.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.countdown.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Hurry up!",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Sale end in:",
          "label": "t:sections.global.settings.subheading.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__colors.content",
          "info": "t:sections.global.settings.header__colors.info"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#e11d48"
        },
        {
          "type": "color",
          "id": "color_background",
          "label": "t:sections.global.settings.color_background.label",
          "default": "#fff1f2"
        },
        {
          "type": "color_background",
          "id": "gradient_background",
          "label": "t:sections.global.settings.gradient_background.label"
        }
      ]
    },
    {
      "type": "back_in_stock",
      "name": "t:sections.main-product.blocks.back_in_stock.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.back_in_stock.settings.header.info"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.back_in_stock.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Sign up to be the first to know when it's here</p>",
          "label": "t:sections.global.settings.description.label"
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "t:sections.main-product.blocks.line_item_property.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.line_item_property.settings.paragraph.content"
        },
        {
          "type": "select",
          "id": "type",
          "options": [
            {
              "value": "text",
              "label": "t:sections.main-product.blocks.line_item_property.settings.type.options__1.label"
            },
            {
              "value": "textarea",
              "label": "t:sections.main-product.blocks.line_item_property.settings.type.options__2.label"
            },
            {
              "value": "checkbox",
              "label": "t:sections.main-product.blocks.line_item_property.settings.type.options__3.label"
            },
            {
              "value": "radio",
              "label": "t:sections.main-product.blocks.line_item_property.settings.type.options__4.label"
            },
            {
              "value": "select",
              "label": "t:sections.main-product.blocks.line_item_property.settings.type.options__5.label"
            }
          ],
          "default": "text",
          "label": "t:sections.main-product.blocks.line_item_property.settings.type.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product.blocks.line_item_property.settings.label.label",
          "default": "Your label"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "t:sections.main-product.blocks.line_item_property.settings.required.label",
          "info": "t:sections.main-product.blocks.line_item_property.settings.required.info",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.line_item_property.settings.header__checkbox.content",
          "info": "t:sections.main-product.blocks.line_item_property.settings.header__checkbox.info"
        },
        {
          "type": "text",
          "id": "checked_value",
          "label": "t:sections.main-product.blocks.line_item_property.settings.checked_value.label",
          "default": "Yes"
        },
        {
          "type": "text",
          "id": "unchecked_value",
          "label": "t:sections.main-product.blocks.line_item_property.settings.unchecked_value.label",
          "default": "No"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.line_item_property.settings.header__radio.content",
          "info": "t:sections.main-product.blocks.line_item_property.settings.header__radio.info"
        },
        {
          "type": "text",
          "id": "radio_options",
          "label": "t:sections.main-product.blocks.line_item_property.settings.options.label",
          "info": "t:sections.main-product.blocks.line_item_property.settings.options.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.line_item_property.settings.header__dropdown.content",
          "info": "t:sections.main-product.blocks.line_item_property.settings.header__dropdown.info"
        },
        {
          "type": "text",
          "id": "select_options",
          "label": "t:sections.main-product.blocks.line_item_property.settings.options.label",
          "info": "t:sections.main-product.blocks.line_item_property.settings.options.info"
        }
      ]
    },
    {
      "type": "read_more",
      "name": "t:sections.featured-product.blocks.read_more.name",
      "limit": 1
    },
    {
      "type": "spinning_text",
      "name": "t:sections.featured-product.blocks.spinning_text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Featured product",
          "label": "t:sections.global.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.presets.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "description"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "pickup_availability"
        },
        {
          "type": "share"
        },
        {
          "type": "read_more"
        },
        {
          "type": "spinning_text"
        }
      ]
    }
  ],
  "disabled_on": {
    "templates": [
      "password"
    ]
  }
}
{% endschema %}
