<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --color-background: {{ section.settings.color_background.rgb }};
    --color-foreground: {{ section.settings.color_text.rgb }};
    --color-transparent: {{ section.settings.transparent_color_text.rgb }};
  }
</style>

{%- liquid
  assign header_layout = section.settings.header_layout
  assign main_menu = section.settings.menu
  assign link_count = main_menu.links.size

  if header_layout == 'center-split'
    assign link_count = link_count | divided_by: 2
  endif

  assign main_menu_class = 'lg:justify-start'
  case header_layout
    when 'center-split'
      assign main_menu_class = 'lg:justify-end'

    when 'center'
      assign main_menu_class = 'lg:justify-center'
  endcase

  assign show_toggle = false
  if header_layout == 'center'
    assign show_toggle = true
  endif

  render 'header-drawer', section: section
-%}

<header data-section-id="{{ section.id }}" class="header header--{{ header_layout }} mobile:header--{{ section.settings.logo_position_mobile }} page-width{% if section.settings.full_width %} page-width--full{% endif %} section{% if section.settings.rounded %} section--rounded{% endif %} section--padding grid items-center z-20 relative w-full"{% if section.settings.sticky_header_type != 'none' %} is="sticky-header" data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %} is="custom-header"{% endif %}>
  {%- liquid
    render 'header-icons', show_search: true, show_hamburger: true, show_toggle: show_toggle, dir: 'start'

    if header_layout != 'center-left' and header_layout != 'center-split'
      render 'header-logo'
    endif

    if header_layout == 'center'
      render 'header-icons', show_search: true, show_account: true, show_cart: true, show_hamburger: true, dir: 'end'
    endif
  -%}
  
  <div class="header__navigation hidden lg:flex lg:gap-5 {{ main_menu_class }}"{% if header_layout == 'center' %} id="MenuToggle"{% endif %}>
    <nav class="header__menu hidden lg:flex" role="navigation" aria-label="Primary">
      {%- render 'header-nav-desktop', section: section, main_menu: main_menu, limit: link_count -%}
    </nav>
  </div>

  {%- liquid
    if header_layout == 'center-left' or header_layout == 'center-split'
      render 'header-logo'
    endif
  -%}
  
  {%- if header_layout == 'center-split' -%}
    <div class="header__navigation header__navigation--split hidden lg:flex lg:gap-5 lg:justify-start">
      <nav class="header__menu hidden lg:flex" role="navigation" aria-label="Secondary">
        {%- render 'header-nav-desktop', section: section, main_menu: main_menu, offset: link_count -%}
      </nav>
    </div>
  {%- endif -%}

  {%- liquid
    if header_layout != 'center'
      render 'header-icons', show_search: true, show_account: true, show_cart: true, show_hamburger: true, dir: 'end'
    endif
  -%}

  {%- if section.settings.rounded -%}
    {%- render 'corner', dir: 'bottom', border: true, prefix: 'header' -%}
  {%- else -%}
    <span class="header__cutout cutout opacity-0 absolute left-0 top-100 w-full pointer-events-none"></span>
  {%- endif -%}
</header>

{%- if section.settings.hover_menu -%}
  <span class="overlay opacity-0 z-1 fixed left-0 w-full pointer-events-none"></span>
{%- else -%}
  <overlay-element class="overlay opacity-0 z-1 fixed left-0 w-full pointer-events-none"></overlay-element>
{%- endif -%}

<script>
  if (Shopify.designMode) {
    document.documentElement.style.setProperty('--header-height', Math.round(document.getElementById('shopify-section-{{ section.id }}').clientHeight) + 'px');
  }
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "header-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph__logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.header.settings.menu.label",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "menu_mobile",
      "label": "t:sections.header.settings.menu_mobile.label",
      "info": "t:sections.header.settings.menu_mobile.info"
    },
    {
      "type": "select",
      "id": "menu_active",
      "label": "t:sections.header.settings.menu_active.label",
      "default": "block",
      "options": [
        {
          "value": "dot",
          "label": "t:sections.header.settings.menu_active.options__1.label"
        },
        {
          "value": "block",
          "label": "t:sections.header.settings.menu_active.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hover_menu",
      "default": true,
      "label": "t:sections.header.settings.hover_menu.label"
    },
    {
      "type": "select",
      "id": "header_layout",
      "label": "t:sections.header.settings.header_layout.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.header.settings.header_layout.options__1.label"
        },
        {
          "value": "left-center",
          "label": "t:sections.header.settings.header_layout.options__2.label"
        },
        {
          "value": "left-drawer",
          "label": "t:sections.header.settings.header_layout.options__3.label"
        },
        {
          "value": "center-left",
          "label": "t:sections.header.settings.header_layout.options__4.label"
        },
        {
          "value": "center-split",
          "label": "t:sections.header.settings.header_layout.options__5.label"
        },
        {
          "value": "center",
          "label": "t:sections.header.settings.header_layout.options__6.label"
        },
        {
          "value": "center-drawer",
          "label": "t:sections.header.settings.header_layout.options__7.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        }
      ],
      "default": "always",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__language_selector.content",
      "info": "t:sections.header.settings.header__language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector_desktop",
      "label": "t:sections.header.settings.enable_language_selector.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__country_selector.content",
      "info": "t:sections.header.settings.header__country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector_desktop",
      "label": "t:sections.header.settings.enable_country_selector.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_country_name_dekstop",
      "label": "t:sections.header.settings.show_country_name.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_country_flag_desktop",
      "label": "t:sections.header.settings.show_country_flag.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__mobile.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph__logo_help.content"
    },
    {
      "type": "select",
      "id": "logo_position_mobile",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.logo_position_mobile.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.logo_position_mobile.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.logo_position_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.header.settings.show_social.label",
      "info": "t:sections.header.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__transparent.content",
      "info": "t:sections.header.settings.header__transparent.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph__logo_help.content"
    },
    {
      "type": "color",
      "id": "transparent_color_text",
      "label": "t:sections.header.settings.transparent_color_text.label",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label",
      "default": "#171717"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 32
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "t:sections.header.blocks.mega_menu.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "t:sections.header.blocks.mega_menu.settings.menu_title.label",
          "info": "t:sections.header.blocks.mega_menu.settings.menu_title.info"
        },
        {
          "type": "select",
          "id": "menu_width",
          "options": [
            {
              "value": "small",
              "label": "t:sections.header.blocks.mega_menu.settings.menu_width.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.header.blocks.mega_menu.settings.menu_width.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.header.blocks.mega_menu.settings.menu_width.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.header.blocks.mega_menu.settings.menu_width.label"
        },
        {
          "type": "checkbox",
          "id": "show_menu_image",
          "default": false,
          "label": "t:sections.header.blocks.mega_menu.settings.show_menu_image.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.global.settings.button_label.label",
          "info": "t:sections.global.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.global.settings.button_link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.header__promo_1.content"
        },
        {
          "type": "image_picker",
          "id": "promo_image_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_image.label"
        },
        {
          "type": "select",
          "id": "promo_image_ratio_1",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "text",
          "id": "promo_heading_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "promo_subtext_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_subtext.label"
        },
        {
          "type": "checkbox",
          "id": "promo_overlay_content_1",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.promo_overlay_content.label"
        },
        {
          "type": "url",
          "id": "promo_link_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_link.label"
        },
        {
          "type": "text",
          "id": "promo_tag_1",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_tag.label"
        },
        {
          "type": "color",
          "id": "promo_color_text_1",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "promo_color_overlay_1",
          "label": "t:sections.global.settings.color_overlay.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "promo_overlay_opacity_1",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.global.settings.overlay_opacity.label",
          "default": 40
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.header__promo_2.content"
        },
        {
          "type": "image_picker",
          "id": "promo_image_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_image.label"
        },
        {
          "type": "select",
          "id": "promo_image_ratio_2",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "text",
          "id": "promo_heading_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "promo_subtext_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_subtext.label"
        },
        {
          "type": "checkbox",
          "id": "promo_overlay_content_2",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.promo_overlay_content.label"
        },
        {
          "type": "url",
          "id": "promo_link_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_link.label"
        },
        {
          "type": "text",
          "id": "promo_tag_2",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_tag.label"
        },
        {
          "type": "color",
          "id": "promo_color_text_2",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "promo_color_overlay_2",
          "label": "t:sections.global.settings.color_overlay.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "promo_overlay_opacity_2",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.global.settings.overlay_opacity.label",
          "default": 40
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.header__promo_3.content"
        },
        {
          "type": "image_picker",
          "id": "promo_image_3",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_image.label"
        },
        {
          "type": "select",
          "id": "promo_image_ratio_3",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "text",
          "id": "promo_heading_3",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "promo_subtext_3",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_subtext.label"
        },
        {
          "type": "checkbox",
          "id": "promo_overlay_content_3",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.promo_overlay_content.label"
        },
        {
          "type": "url",
          "id": "promo_link_3",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_link.label"
        },
        {
          "type": "text",
          "id": "promo_tag_3",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_tag.label"
        },
        {
          "type": "color",
          "id": "promo_color_text_3",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "promo_color_overlay_3",
          "label": "t:sections.global.settings.color_overlay.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "promo_overlay_opacity_3",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.global.settings.overlay_opacity.label",
          "default": 40
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.header__promo_4.content"
        },
        {
          "type": "image_picker",
          "id": "promo_image_4",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_image.label"
        },
        {
          "type": "select",
          "id": "promo_image_ratio_4",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "text",
          "id": "promo_heading_4",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "promo_subtext_4",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_subtext.label"
        },
        {
          "type": "checkbox",
          "id": "promo_overlay_content_4",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.promo_overlay_content.label"
        },
        {
          "type": "url",
          "id": "promo_link_4",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_link.label"
        },
        {
          "type": "text",
          "id": "promo_tag_4",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_tag.label"
        },
        {
          "type": "color",
          "id": "promo_color_text_4",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "promo_color_overlay_4",
          "label": "t:sections.global.settings.color_overlay.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "promo_overlay_opacity_4",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.global.settings.overlay_opacity.label",
          "default": 40
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.header__promo_5.content"
        },
        {
          "type": "image_picker",
          "id": "promo_image_5",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_image.label"
        },
        {
          "type": "select",
          "id": "promo_image_ratio_5",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.global.settings.image_ratio.options__4.label"
            },
            {
              "value": "wide",
              "label": "t:sections.global.settings.image_ratio.options__5.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "text",
          "id": "promo_heading_5",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "promo_subtext_5",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_subtext.label"
        },
        {
          "type": "checkbox",
          "id": "promo_overlay_content_5",
          "default": true,
          "label": "t:sections.header.blocks.mega_menu.settings.promo_overlay_content.label"
        },
        {
          "type": "url",
          "id": "promo_link_5",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_link.label"
        },
        {
          "type": "text",
          "id": "promo_tag_5",
          "label": "t:sections.header.blocks.mega_menu.settings.promo_tag.label"
        },
        {
          "type": "color",
          "id": "promo_color_text_5",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "promo_color_overlay_5",
          "label": "t:sections.global.settings.color_overlay.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "promo_overlay_opacity_5",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.global.settings.overlay_opacity.label",
          "default": 40
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": [
      "header"
    ]
  }
}
{% endschema %}
