<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
  }
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.narrow %} page-width--narrow{% endif %} relative">
    {%- render 'section-heading', section: section -%}

    <div class="highlight-text md:text-{{ section.settings.text_alignment }} text-{{ section.settings.text_alignment_mobile }} relative z-1">
      {%- liquid
        assign with_gradient = false
        if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
          assign with_gradient = true
        endif
      -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {%- render block -%}

          {%- when 'heading' -%}
            {%- if block.settings.heading != blank -%}
              <{{ block.settings.heading_tag }} class="heading leading-tight {{ block.settings.heading_size }} inline" {{ block.shopify_attributes }}>
                {%- render 'highlighted-text', content: block.settings.heading, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
              </{{ block.settings.heading_tag }}>
            {%- endif -%}

          {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
              <div class="rte leading-tight {{ block.settings.text_font }} {{ block.settings.text_size }}{% if block.settings.secondary_color %} text-opacity{% endif %} inline"{% if block.settings.text_size == 'subtext-custom' %} style="--subtext-size:{{ block.settings.text_max_size }}px;"{% endif %} {{ block.shopify_attributes }}>
                {%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
              </div>
            {%- endif -%}

          {%- when 'image' -%}
            {%- if block.settings.link != blank -%}
              <a class="inline-block" href="{{ block.settings.link }}" aria-label="{{ block.settings.description | escape }}">
            {%- endif -%}
              {%- liquid
                assign image_width = block.settings.image_width
                assign image_width_2x = block.settings.image_width | times: 2
                assign image_width_mobile = block.settings.image_width_mobile
                assign image_width_mobile_2x = block.settings.image_width_mobile | times: 2
              -%}
              {%- capture style -%}--media-width: {{ block.settings.image_width }}px; --media-height: {{ block.settings.image_height }}px; --media-width-mobile: {{ block.settings.image_width_mobile }}px; --media-height-mobile: {{ block.settings.image_height_mobile }}px{%- endcapture -%}
              {%- capture widths -%}{{ image_width_mobile }}, {{ image_width_mobile_2x }}, {{ image_width }}, {{ image_width_2x }}{%- endcapture -%}
              {%- capture sizes -%}(max-width: 767px) min({{ image_width_mobile }}px, 100vw), min({{ image_width }}px, 100vw){%- endcapture -%}
              {%- if block.settings.image != blank -%}
                <picture class="media media--height media--transparent media--fit inline-block w-full h-full relative overflow-hidden" is="animate-picture" data-animate="zoom-out" style="{{ style }}" {{ block.shopify_attributes }}>
                  {%- if block.settings.image_mobile -%}
                    <source
                      media="(max-width: 767px)"
                      srcset="{{ block.settings.image_mobile | image_url: width: image_width_mobile }} {{ image_width_mobile }}w, {{ block.settings.image_mobile | image_url: width: image_width_mobile_2x }} {{ image_width_mobile_2x }}w, {{ block.settings.image_mobile | image_url: width: image_width }} {{ image_width }}w, {{ block.settings.image_mobile | image_url: width: image_width_2x }} {{ image_width_2x }}w"
                      width="{{ block.settings.image_mobile.width }}"
                      height="{{ block.settings.image_mobile.height }}"
                      sizes="{{ sizes }}"
                    >
                  {%- endif -%}

                  {%- assign image_alt = block.settings.image.alt | default: block.settings.description | escape -%}
                  {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, alt: image_alt, is: 'lazy-image' -}}
                </picture>
              {%- else -%}
                <animate-element data-animate="zoom-out" class="media media--height media--transparent media--fit inline-block w-full h-full relative overflow-hidden" style="{{ style }}" {{ block.shopify_attributes }}>
                  {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
                </animate-element>
              {%- endif -%}
            {%- if block.settings.link != blank -%}
              </a>
            {%- endif -%}

          {%- when 'line_break' -%}
            <br {% if block.settings.mobile_disabled %}class="hidden md:block"{% endif %}/>

          {%- when 'liquid' -%}
            {%- if block.settings.liquid != blank -%}
              <div class="rte inline" {{ block.shopify_attributes }}>
                {{- block.settings.liquid -}}
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.highlight-text.name",
  "settings": [
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "default": "center",
      "label": "t:sections.global.settings.text_alignment.label"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mobile",
      "default": "center",
      "label": "t:sections.global.settings.text_alignment_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "text-left md:items-end md:flex-row",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "text-center md:items-center",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "text-right md:items-end md:flex-row-reverse",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "text-left md:items-end md:flex-row"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.global.settings.description.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "info": "t:sections.global.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.global.settings.button_external.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.global.settings.button_icon.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__highlight.content",
      "info": "t:sections.global.settings.header__highlight.info"
    },
    {
      "type": "select",
      "id": "highlighted_text",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.settings.highlighted_text.options__1.label"
        },
        {
          "value": "text",
          "label": "t:sections.global.settings.highlighted_text.options__2.label"
        },
        {
          "value": "full_text",
          "label": "t:sections.global.settings.highlighted_text.options__3.label"
        },
        {
          "value": "half_text",
          "label": "t:sections.global.settings.highlighted_text.options__4.label"
        },
        {
          "value": "underline",
          "label": "t:sections.global.settings.highlighted_text.options__5.label"
        },
        {
          "value": "stencil",
          "label": "t:sections.global.settings.highlighted_text.options__6.label"
        },
        {
          "value": "scribble",
          "label": "t:sections.global.settings.highlighted_text.options__7.label"
        }
      ],
      "default": "none",
      "label": "t:sections.global.settings.highlighted_text.label"
    },
    {
      "type": "select",
      "id": "highlighted_scribble",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
        },
        {
          "value": "basic-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
        },
        {
          "value": "squiggle-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
        },
        {
          "value": "squiggle-underline-2",
          "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.global.settings.highlighted_scribble.label",
      "info": "t:sections.global.settings.highlighted_scribble.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "narrow",
      "label": "t:sections.global.settings.narrow.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "heading",
      "name": "t:sections.global.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label",
          "default": "Example heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "title-sm",
              "label": "t:sections.global.settings.heading_size.options__1.label"
            },
            {
              "value": "title-md",
              "label": "t:sections.global.settings.heading_size.options__2.label"
            },
            {
              "value": "title-lg tracking-heading",
              "label": "t:sections.global.settings.heading_size.options__3.label"
            },
            {
              "value": "title-xl tracking-heading",
              "label": "t:sections.global.settings.heading_size.options__4.label"
            }
          ],
          "default": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.global.settings.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.global.settings.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.global.settings.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.global.settings.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.global.settings.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.global.settings.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.global.settings.heading_tag.options__7.label"
            },
            {
              "value": "span",
              "label": "t:sections.global.settings.heading_tag.options__8.label"
            },
            {
              "value": "p",
              "label": "t:sections.global.settings.heading_tag.options__9.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.global.settings.heading_tag.label",
          "info": "t:sections.global.settings.heading_tag.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.global.blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.global.settings.text.label",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "subtext-sm",
              "label": "t:sections.global.settings.text_size.options__1.label"
            },
            {
              "value": "subtext-md",
              "label": "t:sections.global.settings.text_size.options__2.label"
            },
            {
              "value": "subtext-lg",
              "label": "t:sections.global.settings.text_size.options__3.label"
            },
            {
              "value": "subtext-xl",
              "label": "t:sections.global.settings.text_size.options__4.label"
            },
            {
              "value": "subtext-custom",
              "label": "t:sections.global.settings.text_size.options__5.label"
            }
          ],
          "default": "subtext-md",
          "label": "t:sections.global.settings.text_size.label"
        },
        {
          "type": "range",
          "id": "text_max_size",
          "default": 32,
          "min": 12,
          "max": 128,
          "step": 2,
          "unit": "px",
          "label": "t:sections.global.settings.text_max_size.label"
        },
        {
          "type": "select",
          "id": "text_font",
          "options": [
            {
              "value": "body",
              "label": "t:sections.global.settings.text_font.options__1.label"
            },
            {
              "value": "heading",
              "label": "t:sections.global.settings.text_font.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.global.settings.text_font.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "default": false,
          "label": "t:sections.global.settings.secondary_color.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.global.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "t:sections.highlight-text.blocks.image.settings.image_width.label",
          "default": 150,
          "min": 20,
          "max": 400,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "image_height",
          "label": "t:sections.highlight-text.blocks.image.settings.image_height.label",
          "default": 90,
          "min": 20,
          "max": 400,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.global.settings.link.label"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.highlight-text.blocks.image.settings.description.label",
          "info": "t:sections.highlight-text.blocks.image.settings.description.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__mobile.content"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.global.settings.image_mobile.label"
        },
        {
          "type": "range",
          "id": "image_width_mobile",
          "label": "t:sections.highlight-text.blocks.image.settings.image_width.label",
          "default": 90,
          "min": 20,
          "max": 200,
          "step": 5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "image_height_mobile",
          "label": "t:sections.highlight-text.blocks.image.settings.image_height.label",
          "default": 50,
          "min": 20,
          "max": 200,
          "step": 5,
          "unit": "px"
        }
      ]
    },
    {
      "type": "line_break",
      "name": "t:sections.highlight-text.blocks.line_break.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "mobile_disabled",
          "default": false,
          "label": "t:sections.highlight-text.blocks.line_break.settings.mobile_disabled.label"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:sections.custom-liquid.settings.liquid.label",
          "info": "t:sections.custom-liquid.settings.liquid.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.highlight-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "image"
        },
        {
          "type": "heading"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "custom.overlay"
    ]
  }
}
{% endschema %}
