{%- liquid
  assign before_image = section.blocks | first
  assign after_image = section.blocks | last
  assign ratio_percent = 38

  if before_image != blank and before_image.settings.image
    assign ratio_percent = 1 | divided_by: before_image.settings.image.aspect_ratio | times: 100
  elsif after_image != blank and after_image.settings.image
    assign ratio_percent = 1 | divided_by: after_image.settings.image.aspect_ratio | times: 100
  endif

  assign ratio_percent_mobile = ratio_percent

  if before_image != blank and before_image.settings.image_mobile
    assign ratio_percent_mobile = 1 | divided_by: before_image.settings.image_mobile.aspect_ratio | times: 100
  elsif after_image != blank and after_image.settings.image_mobile
    assign ratio_percent_mobile = 1 | divided_by: after_image.settings.image_mobile.aspect_ratio | times: 100
  endif
-%}

<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
    --ratio-percent: {{ ratio_percent }}%;
  }

  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      --ratio-percent: {{ ratio_percent_mobile }}%;
    }
  }
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    {%- render 'section-heading', section: section -%}

    <image-comparison class="image-comparison media--{{ section.settings.image_height }} mobile:media--{{ section.settings.image_height_mobile }} block relative overflow-hidden" data-layout="{{ section.settings.layout }}">
      {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}

      {%- if before_image != blank -%}
        <div class="comparison__before w-full h-full" {{ before_image.shopify_attributes }}>
          <picture class="media media--height w-full h-full block relative">
            {%- if before_image.settings.image != blank -%}
              {%- if before_image.settings.image_mobile -%}
                <source
                  media="(max-width: 767px)"
                  srcset="{{ before_image.settings.image_mobile | image_url: width: '400x' }} 400w, {{ before_image.settings.image_mobile | image_url: width: '600x' }} 600w, {{ before_image.settings.image_mobile | image_url: width: '800x' }} 800w, {{ before_image.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                  width="{{ before_image.settings.image_mobile.width }}"
                  height="{{ before_image.settings.image_mobile.height }}"
                >
              {%- endif -%}
  
              {{- before_image.settings.image | image_url: width: before_image.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', is: 'lazy-image' -}}
            {%- else -%}
              {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
            {%- endif -%}
          </picture>
          {%- if before_image.settings.subheading != blank or before_image.settings.heading != blank -%}
            <div class="comparison__box comparison__box--{{ before_image.settings.content_position }} grid items-start absolute top-0 left-0 w-full h-full" style="--color-foreground: {{ before_image.settings.color_text.rgb }};">
              <div class="grid gap-1 md:gap-2">
                {%- if before_image.settings.subheading != blank -%}
                  <p class="text-xs md:text-base lg:text-lg text-medium leading-none">{{ before_image.settings.subheading | escape }}</p>
                {%- endif -%}
                {%- if before_image.settings.heading != blank -%}
                  <p class="heading text-base md:text-2xl lg:text-3xl leading-none tracking-tight">{{ before_image.settings.heading | escape }}</p>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if after_image != blank -%}
        <div class="comparison__after absolute top-0 left-0 w-full h-full z-1" {{ after_image.shopify_attributes }}>
          <picture class="media media--height w-full h-full block relative">
            {%- if after_image.settings.image != blank -%}
              {%- if after_image.settings.image_mobile -%}
                <source
                  media="(max-width: 767px)"
                  srcset="{{ after_image.settings.image_mobile | image_url: width: '400x' }} 400w, {{ after_image.settings.image_mobile | image_url: width: '600x' }} 600w, {{ after_image.settings.image_mobile | image_url: width: '800x' }} 800w, {{ after_image.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                  width="{{ after_image.settings.image_mobile.width }}"
                  height="{{ after_image.settings.image_mobile.height }}"
                >
              {%- endif -%}
  
              {{- after_image.settings.image | image_url: width: after_image.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', is: 'lazy-image' -}}
            {%- else -%}
              {{- 'lifestyle-2' | placeholder_svg_tag: 'placeholder' -}}
            {%- endif -%}
          </picture>
          {%- if after_image.settings.subheading != blank or after_image.settings.heading != blank -%}
            <div class="comparison__box comparison__box--{{ after_image.settings.content_position }} grid items-start absolute top-0 left-0 w-full h-full text-right" style="--color-foreground: {{ after_image.settings.color_text.rgb }};">
              <div class="grid gap-1 md:gap-2">
                {%- if after_image.settings.subheading != blank -%}
                  <p class="text-xs md:text-base lg:text-lg text-medium leading-none">{{ after_image.settings.subheading | escape }}</p>
                {%- endif -%}
                {%- if after_image.settings.heading != blank -%}
                  <p class="heading text-base md:text-2xl lg:text-3xl leading-none tracking-tight">{{ after_image.settings.heading | escape }}</p>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if before_image != blank and after_image != blank -%}
        <button type="button" class="comparison__button absolute z-1" aria-label="{{ 'general.accessibility.drag' | t | escape }}" tabindex="-1">
          <span class="absolute flex items-center justify-center pointer-events-none">
            {%- render 'icon', icon: 'drag' -%}
          </span>
        </button>
      {%- endif -%}
    </image-comparison>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-comparison.name",
  "max_blocks": 2,
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.image-comparison.settings.layout.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.image-comparison.settings.layout.options__2.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.image-comparison.settings.layout.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "label": "t:sections.global.settings.image_height.options__2.label",
          "value": "400px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__3.label",
          "value": "450px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__4.label",
          "value": "500px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__5.label",
          "value": "550px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__6.label",
          "value": "600px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__7.label",
          "value": "650px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__8.label",
          "value": "700px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__9.label",
          "value": "750px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__10.label",
          "value": "850px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__11.label",
          "value": "900px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__12.label",
          "value": "100vh"
        },
        {
          "label": "t:sections.global.settings.image_height.options__13.label",
          "value": "adapt"
        }
      ],
      "default": "adapt",
      "label": "t:sections.global.settings.image_height.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__mobile.content"
    },
    {
      "type": "select",
      "id": "image_height_mobile",
      "options": [
        {
          "label": "t:sections.global.settings.image_height_mobile.options__1.label",
          "value": "auto"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__2.label",
          "value": "200px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__3.label",
          "value": "250px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__4.label",
          "value": "300px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__5.label",
          "value": "400px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__6.label",
          "value": "500px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__7.label",
          "value": "600px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__8.label",
          "value": "100vh"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__10.label",
          "value": "adapt"
        }
      ],
      "default": "adapt",
      "label": "t:sections.global.settings.image_height_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "Image comparison"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "text-left md:items-end md:flex-row",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "text-center md:items-center",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "text-right md:items-end md:flex-row-reverse",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "text-center md:items-center"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.global.settings.description.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "info": "t:sections.global.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.global.settings.button_external.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.global.settings.button_icon.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__highlight.content",
      "info": "t:sections.global.settings.header__highlight.info"
    },
    {
      "type": "select",
      "id": "highlighted_text",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.settings.highlighted_text.options__1.label"
        },
        {
          "value": "text",
          "label": "t:sections.global.settings.highlighted_text.options__2.label"
        },
        {
          "value": "full_text",
          "label": "t:sections.global.settings.highlighted_text.options__3.label"
        },
        {
          "value": "half_text",
          "label": "t:sections.global.settings.highlighted_text.options__4.label"
        },
        {
          "value": "underline",
          "label": "t:sections.global.settings.highlighted_text.options__5.label"
        },
        {
          "value": "stencil",
          "label": "t:sections.global.settings.highlighted_text.options__6.label"
        },
        {
          "value": "scribble",
          "label": "t:sections.global.settings.highlighted_text.options__7.label"
        }
      ],
      "default": "none",
      "label": "t:sections.global.settings.highlighted_text.label"
    },
    {
      "type": "select",
      "id": "highlighted_scribble",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
        },
        {
          "value": "basic-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
        },
        {
          "value": "squiggle-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
        },
        {
          "value": "squiggle-underline-2",
          "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.global.settings.highlighted_scribble.label",
      "info": "t:sections.global.settings.highlighted_scribble.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.global.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.global.settings.image_mobile.label"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.global.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "select",
          "id": "content_position",
          "options": [
            {
              "value": "start",
              "label": "t:sections.image-comparison.blocks.image.settings.content_position.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-comparison.blocks.image.settings.content_position.options__2.label"
            },
            {
              "value": "end",
              "label": "t:sections.image-comparison.blocks.image.settings.content_position.options__3.label"
            }
          ],
          "default": "end",
          "label": "t:sections.image-comparison.blocks.image.settings.content_position.label"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-comparison.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
