<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
</style>

{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    <div class="title-wrapper{% if section.settings.heading_size == 'title-xl' %} title-wrapper-lg{% endif %} leading-none grid gap-4 md:flex {{ section.settings.heading_alignment }} md:justify-between">
      <{{ section.settings.heading_tag }} class="heading {{ section.settings.heading_size }}">
        <split-words class="split-words block" data-animate="fade-up-large">{{ 'customer.account.title' | t }}</split-words>
      </{{ section.settings.heading_tag }}>
      <p>
        <a class="button button--secondary icon-with-text" href="{{ routes.account_logout_url }}" is="hover-link" data-no-instant>
          <span class="btn-fill" data-fill></span>
          <span class="btn-text">
            {%- liquid
              render 'icon', icon: 'power', size: 'sm'
              echo 'customer.account.log_out' | t
            -%}
          </span>
        </a>
      </p>
    </div>
<div id="appstle-subscription-manage-subscription-button-placeholder">

<span class="btn-fill" data-fill></span>
    <span class="btn-text">
      {%- render 'icon', icon: 'refresh', size: 'xs' -%}
    </span>
  </a>
</div>    <div class="customer__content flex flex-col lg:flex-row">
      <div class="grow flex flex-col gap-5 md:gap-8">
        <h2 class="text-xl-3xl font-medium">{{ 'customer.orders.title' | t }}</h2>

        {%- paginate customer.orders by 20 -%}
          {%- if customer.orders.size > 0 -%}
            <table role="table" class="order-history">
              <caption class="sr-only">{{ 'customer.orders.title' | t }}</caption>
              <thead role="rowgroup">
                <tr role="row">
                  <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                  <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                  <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                  <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>
              <tbody role="rowgroup">
                {%- for order in customer.orders -%}
                  <tr role="row">
                    <td
                      id="RowOrder"
                      role="cell"
                      headers="ColumnOrder"
                      data-label="{{ 'customer.orders.order_number' | t | escape }}"
                    >
                      <a class="link font-medium leading-none" href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name | escape }}">
                        {{- order.name -}}
                      </a>
                    </td>
                    <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t | escape }}">
                      {{- order.created_at | time_tag: format: 'date' -}}
                    </td>
                    <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t | escape }}">
                      {{- order.financial_status_label -}}
                    </td>
                    <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t | escape }}">
                      {{- order.fulfillment_status_label -}}
                    </td>
                    <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t | escape }}">
                      {{- order.total_net_amount | money_with_currency -}}
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          {%- else -%}
            <p class="text-base md:text-lg">{{ 'customer.orders.none' | t }}</p>
          {%- endif -%}

          {%- liquid
            if paginate.pages > 1
              render 'pagination', paginate: paginate
            endif
          -%}
        {%- endpaginate -%}
      </div>

      <div class="grow-0">
        <sticky-element class="customer__sidebar flex flex-col gap-5 md:gap-7d5 sticky top-0">
          <h2 class="text-xl-3xl font-medium">{{ 'customer.account.details' | t }}</h2>
          <div class="text-base md:text-lg">{{ customer.default_address | format_address }}</div>
          <div>
            <a class="button button--primary icon-with-text" href="{{ routes.account_addresses_url }}" is="hover-link">
              <span class="btn-fill" data-fill></span>
              <span class="btn-text">
                {%- render 'icon', icon: 'pin', size: 'xs' -%}
                {{- 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
              </span>
            </a>
          </div>
        </sticky-element>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-xl tracking-heading",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "md:items-end",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "md:items-center md:flex-col",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "md:items-end md:flex-row-reverse",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "md:items-end"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ]
}
{% endschema %}
