<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
    --section-grid-gap: {{ section.settings.grid_horizontal }}px;
  }
</style>

{%- assign description = section.blocks | where: "type", "description" | first -%}
{%- assign specifications = section.blocks | where: "type", "specification" -%}
{%- liquid
  assign specifications = section.blocks | where: "type", "specification"
  assign description = section.blocks | where: "type", "description" | first
  assign enable_split_mode = false
  if product.description != blank and description != blank and description.settings.split_mode == true
    assign enable_split_mode = true
  endif
-%}

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}{% if enable_split_mode == false %} specifications-section{% endif %}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    {%- render 'section-heading', section: section -%}

    <div class="specifications {{ section.settings.style }} flex flex-col lg:flex-row">
      <div class="grow{% if description != blank and description.settings.split_mode == true %} flex flex-col items-start lg:grid grid-cols-2 gap-8 lg:gap-14{% endif %}">
        {%- if enable_split_mode == true -%}
          <sticky-element class="lg:sticky top-0 flex flex-col gap-1d5" {{ description.shopify_attributes }}>
            {%- if description.settings.heading != blank -%}
              <div class="heading text-base md:text-lg font-medium leading-none normal-case flex items-center gap-2d5 md:gap-3">
                {%- if description.settings.icon_image != blank -%}
                  <figure class="media media--transparent relative inline-block">
                    {%- capture sizes -%}{{ description.settings.icon_width }}px{%- endcapture -%}
                    {%- capture widths -%}{{ description.settings.icon_width }}, {{ description.settings.icon_width | times: 2 | at_most: description.settings.icon_image.width }}{%- endcapture -%}
                    {{- description.settings.icon_image | image_url: width: description.settings.icon_image.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'image-fit' -}}
                  </figure>
                {%- elsif description.settings.icon != 'none' -%}
                  {%- render 'icon-guarantee', icon: description.settings.icon, size: 'lg', class: 'inline-block' -%}
                {%- endif -%}
                {{- description.settings.heading | escape -}}
              </div>
            {%- endif -%}
            <div class="specification text-base rte">
              {{- product.description -}}
            </div>
          </sticky-element>
        {%- endif -%}
        <accordions-details class="accordions w-full">
          {%- assign first_row = true -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'description' -%}
                {%- if product.description != blank and block.settings.split_mode == false -%}
                  {%- if block.settings.heading != blank -%}
                    <div class="accordion">
                      <details class="details" is="accordion-details"{% if section.settings.open_first_row and first_row %} open{% endif %} {{ block.shopify_attributes }}>
                        <summary class="details__summary flex items-center justify-between gap-2 cursor-pointer">
                          <span class="heading text-base-xl font-medium leading-none flex items-center gap-2d5 md:gap-3">
                            {%- if block.settings.icon_image != blank -%}
                              <figure class="media media--transparent relative inline-block">
                                {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
                                {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.icon_image.width }}{%- endcapture -%}
                                {{- block.settings.icon_image | image_url: width: block.settings.icon_image.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'image-fit' -}}
                              </figure>
                            {%- elsif block.settings.icon != 'none' -%}
                              {%- render 'icon-guarantee', icon: block.settings.icon, size: 'lg', class: 'inline-block' -%}
                            {%- endif -%}
                            {{- block.settings.heading | escape -}}
                          </span>
                          {%- render 'icon', icon: 'plus-2', size: 'xs', class: 'flex-auto' -%}
                        </summary>
                        <div class="details__content text-base rte">
                          <div class="specification">
                            {{- product.description -}}
                          </div>
                        </div>
                      </details>
                    </div>
                  {%- else -%}
                    <div class="text-base rte" {{ block.shopify_attributes }}>
                      {{- product.description -}}
                    </div>
                  {%- endif -%}
                  {%- assign first_row = false -%}
                {%- endif -%}
  
              {%- when 'collapsible_tab' -%}
                {%- capture collapsible_content -%}
                  {%- liquid
                    if block.settings.content != blank
                      assign metafield_content = block.settings.content
  
                      if metafield_content contains '<h6>'
                        if metafield_content contains 'class="metafield-single_line_text_field-array'
                          assign metafield_content = metafield_content | replace: 'class="metafield-single_line_text_field-array', 'class="metafield-single_line_text_field-array col-span-full'
                        elsif metafield_content contains 'class="metafield-rich_text_field'
                          assign metafield_content = metafield_content | replace: 'class="metafield-rich_text_field', 'class="metafield-rich_text_field col-span-full'
                        elsif metafield_content contains 'class='
                          assign metafield_content = metafield_content | replace: 'class="', 'class="col-span-full '
                        else
                          assign metafield_content = '<div class="col-span-full">' | append: metafield_content | append: '</div>'
                        endif
                        
                        assign metafield_content = metafield_content | replace_first: '<h6>', '<div class="grid grid-cols-12 gap-6 md:gap-10"><h6>'
                        assign metafield_content = metafield_content | replace: '<h6>', '</div><div class="col-span-full md:col-span-6"><h6 class="leading-none tracking-none">'
                        assign metafield_content = metafield_content | remove_first: '</div>'
                        assign metafield_content = metafield_content | append: '</div></div>'
                      else
                        assign metafield_content = '<div class="col-span-full">' | append: metafield_content | append: '</div>'
                      endif
  
                      echo metafield_content
                    endif
                  -%}
  
                  {%- if block.settings.metafields != blank -%}
                    {%- assign metafields = block.settings.metafields | newline_to_br | split: '<br />' -%}
                    {%- for line in metafields -%}
                      {%- liquid
                        assign metafield_parts = line | strip | split: '.'
                        assign metafield_namespace = metafield_parts | first
                        assign metafield_key = metafield_parts | last
                        assign metafield_name = metafield_key | replace: '_', ' ' | capitalize
  
                        if metafield_namespace contains ':'
                          assign parts = metafield_namespace | split: ':'
                          assign metafield_namespace = parts | last
                          assign metafield_name = parts | first
                        endif
  
                        assign metafield = product.metafields[metafield_namespace][metafield_key]
                      -%}
  
                      {%- if metafield.value != blank -%}
                        <div class="col-span-full md:col-span-6">
                          <h6 class="leading-none tracking-none">{{ metafield_name | escape }}</h6>
                          {%- if metafield.list? -%}
                            <p>
                              {%- liquid
                                for value in metafield.value
                                  echo value
                                  unless forloop.last
                                    echo '<br />'
                                  endunless
                                endfor
                              -%}
                            </p>
                          {%- else -%}
                            {{- metafield | metafield_tag -}}
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endif -%}
                {%- endcapture -%}
  
                {%- if collapsible_content != blank -%}
                  {%- if block.settings.heading != blank -%}
                    <div class="accordion">
                      <details class="details" is="accordion-details"{% if section.settings.open_first_row and first_row %} open{% endif %} {{ block.shopify_attributes }}>
                        <summary class="details__summary flex items-center justify-between gap-2 cursor-pointer">
                          <span class="heading text-base-xl font-medium leading-none flex items-center gap-2d5 md:gap-3">
                            {%- if block.settings.icon_image != blank -%}
                              <figure class="media media--transparent relative inline-block">
                                {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
                                {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.icon_image.width }}{%- endcapture -%}
                                {{- block.settings.icon_image | image_url: width: block.settings.icon_image.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'image-fit' -}}
                              </figure>
                            {%- elsif block.settings.icon != 'none' -%}
                              {%- render 'icon-guarantee', icon: block.settings.icon, size: 'lg', class: 'inline-block' -%}
                            {%- endif -%}
                            {{- block.settings.heading | escape -}}
                          </span>
                          {%- render 'icon', icon: 'plus-2', size: 'xs', class: 'flex-auto' -%}
                        </summary>
                        <div class="details__content text-base rte">
                          <div class="specification grid grid-cols-12 gap-6 md:gap-10">
                            {{- collapsible_content -}}
                          </div>
                        </div>
                      </details>
                    </div>
                  {%- else -%}
                    <div class="text-base rte" {{ block.shopify_attributes }}>
                      <div class="specification grid grid-cols-12 gap-6 md:gap-10">
                        {{- collapsible_content -}}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- assign first_row = false -%}
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </accordions-details>
      </div>
      {%- if specifications.size > 0 -%}
        <div class="grow-0">
          <sticky-element class="specs__sidebar flex flex-col gap-7d5 md:gap-10 sticky top-0 text-center">
            <svg class="icon-box" viewBox="0 0 234 74" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 20C0 8.95431 8.95431 0 20 0H214C225.046 0 234 8.9543 234 20V74H0V20Z" fill="currentColor"/>
              <rect x="58" y="32" width="118" height="19" rx="9.5" class="fill"/>
              <circle cx="117.5" cy="32.5" r="11.5" class="fill"/>
            </svg>
            <p class="heading lg:text-3xl text-2xl leading-none tracking-tight">{{ section.settings.specifications_heading | escape }}</p>
            <ul class="flex flex-wrap items-start justify-center gap-6 md:gap-10">
              {%- for block in specifications -%}
                {%- if block.settings.icon != blank or block.settings.heading != blank -%}
                  <li class="flex-auto grid gap-2d5">
                    {%- if block.settings.icon != blank -%}
                      <div class="media relative flex items-center justify-center rounded-full">
                        {{- block.settings.icon | image_url: width: block.settings.icon.width | image_tag: loading: 'lazy', widths: '80,96,160,192', is: 'lazy-image' -}}
                      </div>
                    {%- endif -%}

                    {%- if block.settings.heading != blank -%}
                      <p class="text-sm">{{ block.settings.heading | escape }}</p>
                    {%- endif -%}
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </sticky-element>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.product-details.name",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.product-details.settings.style.label",
      "options": [
        {
          "value": "with-border",
          "label": "t:sections.product-details.settings.style.options__1.label"
        },
        {
          "value": "with-background",
          "label": "t:sections.product-details.settings.style.options__2.label"
        }
      ],
      "default": "with-border"
    },
    {
      "type": "checkbox",
      "id": "open_first_row",
      "default": false,
      "label": "t:sections.product-details.settings.open_first_row.label"
    },
    {
      "type": "inline_richtext",
      "id": "specifications_heading",
      "label": "t:sections.product-details.settings.specifications_heading.label",
      "default": "Included in the Box"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "Product details"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "text-left md:items-end md:flex-row",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "text-center md:items-center",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "text-right md:items-end md:flex-row-reverse",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "text-left md:items-end md:flex-row"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.global.settings.description.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "info": "t:sections.global.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.global.settings.button_external.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.global.settings.button_icon.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__highlight.content",
      "info": "t:sections.global.settings.header__highlight.info"
    },
    {
      "type": "select",
      "id": "highlighted_text",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.settings.highlighted_text.options__1.label"
        },
        {
          "value": "text",
          "label": "t:sections.global.settings.highlighted_text.options__2.label"
        },
        {
          "value": "full_text",
          "label": "t:sections.global.settings.highlighted_text.options__3.label"
        },
        {
          "value": "half_text",
          "label": "t:sections.global.settings.highlighted_text.options__4.label"
        },
        {
          "value": "underline",
          "label": "t:sections.global.settings.highlighted_text.options__5.label"
        },
        {
          "value": "stencil",
          "label": "t:sections.global.settings.highlighted_text.options__6.label"
        },
        {
          "value": "scribble",
          "label": "t:sections.global.settings.highlighted_text.options__7.label"
        }
      ],
      "default": "none",
      "label": "t:sections.global.settings.highlighted_text.label"
    },
    {
      "type": "select",
      "id": "highlighted_scribble",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
        },
        {
          "value": "basic-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
        },
        {
          "value": "squiggle-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
        },
        {
          "value": "squiggle-underline-2",
          "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.global.settings.highlighted_scribble.label",
      "info": "t:sections.global.settings.highlighted_scribble.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.icon.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.global.settings.icon.options__2.label"
            },
            {
              "value": "award",
              "label": "t:sections.global.settings.icon.options__3.label"
            },
            {
              "value": "bag",
              "label": "t:sections.global.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.global.settings.icon.options__5.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.global.settings.icon.options__6.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.global.settings.icon.options__7.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.global.settings.icon.options__8.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.global.settings.icon.options__9.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.global.settings.icon.options__10.label"
            },
            {
              "value": "cosmetics",
              "label": "t:sections.global.settings.icon.options__11.label"
            },
            {
              "value": "creadit_card",
              "label": "t:sections.global.settings.icon.options__12.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.global.settings.icon.options__13.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.global.settings.icon.options__14.label"
            },
            {
              "value": "devices",
              "label": "t:sections.global.settings.icon.options__15.label"
            },
            {
              "value": "email",
              "label": "t:sections.global.settings.icon.options__16.label"
            },
            {
              "value": "eye",
              "label": "t:sections.global.settings.icon.options__17.label"
            },
            {
              "value": "file_text",
              "label": "t:sections.global.settings.icon.options__18.label"
            },
            {
              "value": "gift",
              "label": "t:sections.global.settings.icon.options__19.label"
            },
            {
              "value": "gluten",
              "label": "t:sections.global.settings.icon.options__20.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.global.settings.icon.options__21.label"
            },
            {
              "value": "headphone",
              "label": "t:sections.global.settings.icon.options__22.label"
            },
            {
              "value": "heart",
              "label": "t:sections.global.settings.icon.options__23.label"
            },
            {
              "value": "iron",
              "label": "t:sections.global.settings.icon.options__24.label"
            },
            {
              "value": "lightning",
              "label": "t:sections.global.settings.icon.options__25.label"
            },
            {
              "value": "lock",
              "label": "t:sections.global.settings.icon.options__26.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.global.settings.icon.options__27.label"
            },
            {
              "value": "newspaper",
              "label": "t:sections.global.settings.icon.options__28.label"
            },
            {
              "value": "organic",
              "label": "t:sections.global.settings.icon.options__29.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.global.settings.icon.options__30.label"
            },
            {
              "value": "phone",
              "label": "t:sections.global.settings.icon.options__31.label"
            },
            {
              "value": "plane",
              "label": "t:sections.global.settings.icon.options__32.label"
            },
            {
              "value": "planet",
              "label": "t:sections.global.settings.icon.options__33.label"
            },
            {
              "value": "planet_2",
              "label": "t:sections.global.settings.icon.options__34.label"
            },
            {
              "value": "recycling",
              "label": "t:sections.global.settings.icon.options__35.label"
            },
            {
              "value": "return",
              "label": "t:sections.global.settings.icon.options__36.label"
            },
            {
              "value": "rocket",
              "label": "t:sections.global.settings.icon.options__37.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.global.settings.icon.options__38.label"
            },
            {
              "value": "ruler_2",
              "label": "t:sections.global.settings.icon.options__39.label"
            },
            {
              "value": "ruler_3",
              "label": "t:sections.global.settings.icon.options__40.label"
            },
            {
              "value": "sale",
              "label": "t:sections.global.settings.icon.options__41.label"
            },
            {
              "value": "shield",
              "label": "t:sections.global.settings.icon.options__42.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.global.settings.icon.options__43.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.global.settings.icon.options__44.label"
            },
            {
              "value": "star",
              "label": "t:sections.global.settings.icon.options__45.label"
            },
            {
              "value": "support",
              "label": "t:sections.global.settings.icon.options__46.label"
            },
            {
              "value": "swatchbook",
              "label": "t:sections.global.settings.icon.options__47.label"
            },
            {
              "value": "tag",
              "label": "t:sections.global.settings.icon.options__48.label"
            },
            {
              "value": "tags",
              "label": "t:sections.global.settings.icon.options__49.label"
            },
            {
              "value": "time",
              "label": "t:sections.global.settings.icon.options__50.label"
            },
            {
              "value": "trophy",
              "label": "t:sections.global.settings.icon.options__51.label"
            },
            {
              "value": "truck",
              "label": "t:sections.global.settings.icon.options__52.label"
            },
            {
              "value": "users",
              "label": "t:sections.global.settings.icon.options__53.label"
            },
            {
              "value": "wallet",
              "label": "t:sections.global.settings.icon.options__54.label"
            },
            {
              "value": "wash",
              "label": "t:sections.global.settings.icon.options__55.label"
            },
            {
              "value": "watch",
              "label": "t:sections.global.settings.icon.options__56.label"
            },
            {
              "value": "wrench",
              "label": "t:sections.global.settings.icon.options__57.label"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.global.settings.icon_image.label"
        },
        {
          "type": "range",
          "id": "icon_width",
          "label": "t:sections.global.settings.icon_width.label",
          "default": 24,
          "min": 20,
          "max": 120,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Description",
          "label": "t:sections.global.settings.heading.label",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info"
        },
        {
          "type": "checkbox",
          "id": "split_mode",
          "default": false,
          "label": "t:sections.product-details.blocks.description.settings.split_mode.label"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.icon.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.global.settings.icon.options__2.label"
            },
            {
              "value": "award",
              "label": "t:sections.global.settings.icon.options__3.label"
            },
            {
              "value": "bag",
              "label": "t:sections.global.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.global.settings.icon.options__5.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.global.settings.icon.options__6.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.global.settings.icon.options__7.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.global.settings.icon.options__8.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.global.settings.icon.options__9.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.global.settings.icon.options__10.label"
            },
            {
              "value": "cosmetics",
              "label": "t:sections.global.settings.icon.options__11.label"
            },
            {
              "value": "creadit_card",
              "label": "t:sections.global.settings.icon.options__12.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.global.settings.icon.options__13.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.global.settings.icon.options__14.label"
            },
            {
              "value": "devices",
              "label": "t:sections.global.settings.icon.options__15.label"
            },
            {
              "value": "email",
              "label": "t:sections.global.settings.icon.options__16.label"
            },
            {
              "value": "eye",
              "label": "t:sections.global.settings.icon.options__17.label"
            },
            {
              "value": "file_text",
              "label": "t:sections.global.settings.icon.options__18.label"
            },
            {
              "value": "gift",
              "label": "t:sections.global.settings.icon.options__19.label"
            },
            {
              "value": "gluten",
              "label": "t:sections.global.settings.icon.options__20.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.global.settings.icon.options__21.label"
            },
            {
              "value": "headphone",
              "label": "t:sections.global.settings.icon.options__22.label"
            },
            {
              "value": "heart",
              "label": "t:sections.global.settings.icon.options__23.label"
            },
            {
              "value": "iron",
              "label": "t:sections.global.settings.icon.options__24.label"
            },
            {
              "value": "lightning",
              "label": "t:sections.global.settings.icon.options__25.label"
            },
            {
              "value": "lock",
              "label": "t:sections.global.settings.icon.options__26.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.global.settings.icon.options__27.label"
            },
            {
              "value": "newspaper",
              "label": "t:sections.global.settings.icon.options__28.label"
            },
            {
              "value": "organic",
              "label": "t:sections.global.settings.icon.options__29.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.global.settings.icon.options__30.label"
            },
            {
              "value": "phone",
              "label": "t:sections.global.settings.icon.options__31.label"
            },
            {
              "value": "plane",
              "label": "t:sections.global.settings.icon.options__32.label"
            },
            {
              "value": "planet",
              "label": "t:sections.global.settings.icon.options__33.label"
            },
            {
              "value": "planet_2",
              "label": "t:sections.global.settings.icon.options__34.label"
            },
            {
              "value": "recycling",
              "label": "t:sections.global.settings.icon.options__35.label"
            },
            {
              "value": "return",
              "label": "t:sections.global.settings.icon.options__36.label"
            },
            {
              "value": "rocket",
              "label": "t:sections.global.settings.icon.options__37.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.global.settings.icon.options__38.label"
            },
            {
              "value": "ruler_2",
              "label": "t:sections.global.settings.icon.options__39.label"
            },
            {
              "value": "ruler_3",
              "label": "t:sections.global.settings.icon.options__40.label"
            },
            {
              "value": "sale",
              "label": "t:sections.global.settings.icon.options__41.label"
            },
            {
              "value": "shield",
              "label": "t:sections.global.settings.icon.options__42.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.global.settings.icon.options__43.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.global.settings.icon.options__44.label"
            },
            {
              "value": "star",
              "label": "t:sections.global.settings.icon.options__45.label"
            },
            {
              "value": "support",
              "label": "t:sections.global.settings.icon.options__46.label"
            },
            {
              "value": "swatchbook",
              "label": "t:sections.global.settings.icon.options__47.label"
            },
            {
              "value": "tag",
              "label": "t:sections.global.settings.icon.options__48.label"
            },
            {
              "value": "tags",
              "label": "t:sections.global.settings.icon.options__49.label"
            },
            {
              "value": "time",
              "label": "t:sections.global.settings.icon.options__50.label"
            },
            {
              "value": "trophy",
              "label": "t:sections.global.settings.icon.options__51.label"
            },
            {
              "value": "truck",
              "label": "t:sections.global.settings.icon.options__52.label"
            },
            {
              "value": "users",
              "label": "t:sections.global.settings.icon.options__53.label"
            },
            {
              "value": "wallet",
              "label": "t:sections.global.settings.icon.options__54.label"
            },
            {
              "value": "wash",
              "label": "t:sections.global.settings.icon.options__55.label"
            },
            {
              "value": "watch",
              "label": "t:sections.global.settings.icon.options__56.label"
            },
            {
              "value": "wrench",
              "label": "t:sections.global.settings.icon.options__57.label"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.global.settings.icon_image.label"
        },
        {
          "type": "range",
          "id": "icon_width",
          "label": "t:sections.global.settings.icon_width.label",
          "default": 24,
          "min": 20,
          "max": 120,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "label": "t:sections.global.settings.heading.label",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label",
          "default": "<p>Use collapsible tabs for more detailed information that will help customers make a purchasing decision.</p><p>Ex: Shipping and return policies, size guides, and other common questions.</p>"
        },
        {
          "type": "textarea",
          "id": "metafields",
          "label": "t:sections.product-details.blocks.collapsible_tab.settings.metafields.label",
          "info": "t:sections.product-details.blocks.collapsible_tab.settings.metafields.info",
          "placeholder": "custom.key_1\ncustom.key_2\ncustom.key_3"
        }
      ]
    },
    {
      "type": "specification",
      "name": "t:sections.product-details.blocks.specification.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Example heading",
          "label": "t:sections.global.settings.heading.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-details.presets.name",
      "blocks": [
        {
          "type": "description"
        },
        {
          "type": "collapsible_tab"
        },
        {
          "type": "collapsible_tab"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": [
      "product"
    ]
  }
}
{% endschema %}
