<style>
  #shopify-section-{{ section.id }} {
    {%- render 'section-variables', section: section -%}
  }
</style>

<div class="section inline">
  <div class="relative contents">
    <reveal-banner class="reveal-banner relative inline">
      <span class="reveal-banner__tracker absolute top-0 h-full"></span>
      {%- if section.blocks.size > 0 -%}
        <span class="reveal-banner__tracker2nd absolute top-0 h-full"></span>
      {%- endif -%}
      <div class="reveal-banner__scroller{% if section.settings.enable_parallax %} sticky top-0 overflow-hidden{% endif %}">
        <div class="video-hero banner w-full h-screen{% if section.settings.enable_parallax %} relative{% else %} sticky top-0{% endif %}">
          {%- if section.settings.video_mobile or section.settings.video_url_mobile -%}
            {%- render 'video',
              sizes: '100vw',
              video: section.settings.video_mobile,
              video_url: section.settings.video_url_mobile,
              muted: true,
              autoplay: true,
              loop: true,
              description: section.settings.description,
              cover_image: section.settings.cover_image_mobile,
              show_play_button: false,
              is_mobile: true,
              class: 'banner__media media media--height w-full h-full block relative overflow-hidden'
            -%}
          {%- endif -%}

          {%- render 'video',
            sizes: '100vw',
            video: section.settings.video,
            video_url: section.settings.video_url,
            muted: true,
            autoplay: true,
            loop: true,
            description: section.settings.description,
            cover_image: section.settings.cover_image,
            show_play_button: false,
            class: 'banner__media media media--height w-full h-full block relative overflow-hidden'
          -%}

          {%- if section.blocks.size > 0 -%}
            <span class="banner__overlay absolute top-0 left-0 w-full h-full pointer-events-none"></span>
            <div class="banner__content overflow-hidden absolute z-1 top-0 left-0 w-full h-full">
              <div class="page-width w-full h-full flex {{ section.settings.content_position }} {{ section.settings.content_position_mobile }}">
                <div class="banner__box banner__box--{{ section.settings.content_width }} md:text-{{ section.settings.text_alignment }} text-{{ section.settings.text_alignment_mobile }}">
                  {%- liquid
                    assign with_gradient = false
                    if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
                      assign with_gradient = true
                    endif
    
                    assign delay = 0
                  -%}
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                      {%- when '@app' -%}
                        {%- render block -%}
    
                      {%- when 'spacing' -%}
                        <empty-element class="block spacing-section{% if block.settings.height_mobile == 0 %} hidden lg:block{% endif %}{% if block.settings.height == 0 %} lg:hidden{% endif %}" style="--spacing-height-desktop: {{ block.settings.height }}px; --spacing-height-mobile: {{ block.settings.height_mobile }}px;" {{ block.shopify_attributes }}></empty-element>
    
                      {%- when 'subheading' -%}
                        {%- if block.settings.subheading != blank -%}
                          <p class="banner__subheading heading uppercase leading-none tracking-widest {{ block.settings.subheading_size }}{% if block.settings.secondary_color %} banner__text--colored{% endif %}" {{ block.shopify_attributes }}>
                            {{- block.settings.subheading -}}
                          </p>
                        {%- endif -%}
    
                      {%- when 'heading' -%}
                        {%- if block.settings.heading != blank -%}
                          {%- assign delay = delay | plus: 1 -%}
                          <{{ block.settings.heading_tag }} class="banner__title heading leading-none {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                            {%- if block.settings.highlighted_text == 'none' -%}
                              <split-words class="split-words block" data-animate="fade-up-large" data-animate-delay="{{ delay | times: 250 }}">{{ block.settings.heading }}</split-words>
                            {%- else -%}
                              {%- render 'highlighted-text', content: block.settings.heading, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
                            {%- endif -%}
                          </{{ block.settings.heading_tag }}>
                        {%- endif -%}
    
                      {%- when 'text' -%}
                        {%- if block.settings.text != blank -%}
                          <div class="rte leading-normal {{ block.settings.text_font }} {{ block.settings.text_size }}{% if block.settings.secondary_color %} text-opacity{% endif %}"{% if block.settings.text_size == 'subtext-custom' %} style="--subtext-size:{{ block.settings.text_max_size }}px;"{% endif %} {{ block.shopify_attributes }}>
                            {%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
                          </div>
                        {%- endif -%}
    
                      {%- when 'icon' -%}
                        {%- if block.settings.icon_image != blank -%}
                          <div class="leading-none" {{ block.shopify_attributes }}>
                            <figure class="media media--transparent relative inline-block">
                              {%- capture sizes -%}{{ block.settings.icon_width }}px{%- endcapture -%}
                              {%- capture widths -%}{{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 | at_most: block.settings.icon_image.width }}{%- endcapture -%}
                              {{- block.settings.icon_image | image_url: width: block.settings.icon_image.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, class: 'image-fit' -}}
                            </figure>
                          </div>
                        {%- elsif block.settings.icon != 'none' -%}
                          <p class="leading-none" {{ block.shopify_attributes }}>
                            {%- render 'icon-guarantee', icon: block.settings.icon, size: 'lg', class: 'inline-block' -%}
                          </p>
                        {%- endif -%}
    
                      {%- when 'image' -%}
                        {%- if block.settings.image != blank -%}
                          <div class="leading-none" {{ block.shopify_attributes }}>
                            <figure class="media media--transparent relative inline-block">
                              {%- if block.settings.image_width == 'custom' -%}
                                {%- capture style -%}--image-max-width: {{ block.settings.image_max_width }}px; --image-max-width-mobile: {{ block.settings.image_max_width_mobile }}px{%- endcapture -%}
                                {%- capture sizes -%}(max-width: 767px) min({{ block.settings.image_max_width_mobile }}px, 100vw), min({{ block.settings.image_max_width }}px, 100vw){%- endcapture -%}
                                {%- capture widths -%}{{ block.settings.image_max_width_mobile }},{{ block.settings.image_max_width_mobile | times: 2 }},{{ block.settings.image_max_width }},{{ block.settings.image_max_width | times: 2 }}{%- endcapture -%}
                              {%- else -%}
                                {%- assign sizes = 'min(100vw, var(--page-width))' -%}
                                {%- assign widths = '50,75,100,150,200,300,400,500,750,1000,1250,1500,1750,2000,2250,2500,2750,3000,3200' -%}
                              {%- endif -%}
                              {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: widths, style: style, is: 'lazy-image', class: 'image-fit' -}}
                            </figure>
                          </div>
                        {%- endif -%}
                        
                      {%- when 'button' -%}
                        {%- if block.settings.button_label != blank -%}
                          {%- render 'button',
                            label: block.settings.button_label,
                            link: block.settings.button_link,
                            size: block.settings.button_size,
                            style: block.settings.button_style,
                            external: block.settings.button_external,
                            show_icon: block.settings.button_icon,
                            classes: 'button--fixed',
                            shopify_attributes: block.shopify_attributes
                          -%}
                        {%- endif -%}
    
                      {%- when 'link' -%}
                        {%- if block.settings.label != blank -%}
                          <a class="link inline-block"{% if block.settings.link != blank %} href="{{ block.settings.link }}"{% if block.settings.external %} target="_blank" rel="noopener"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %} {{ block.shopify_attributes }}>
                            {{- block.settings.label -}}
                          </a>
                        {%- endif -%}
    
                      {%- when 'liquid' -%}
                        {%- if block.settings.liquid != blank -%}
                          <div class="rte" {{ block.shopify_attributes }}>
                            {{- block.settings.liquid -}}
                          </div>
                        {%- endif -%}
                    {%- endcase -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </reveal-banner>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.reveal-video-with-text-overlay.name",
  "class": "contents",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.video.settings.header__video.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__video_url.content",
      "info": "t:sections.video.settings.header__video_url.info"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "select",
      "id": "content_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.global.settings.content_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.global.settings.content_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.global.settings.content_width.options__3.label"
        }
      ],
      "default": "small",
      "label": "t:sections.global.settings.content_width.label"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "md:items-start md:justify-start",
          "label": "t:sections.global.settings.content_position.options__1.label"
        },
        {
          "value": "md:items-start md:justify-center",
          "label": "t:sections.global.settings.content_position.options__2.label"
        },
        {
          "value": "md:items-start md:justify-end",
          "label": "t:sections.global.settings.content_position.options__3.label"
        },
        {
          "value": "md:items-center md:justify-start",
          "label": "t:sections.global.settings.content_position.options__4.label"
        },
        {
          "value": "md:items-center md:justify-center",
          "label": "t:sections.global.settings.content_position.options__5.label"
        },
        {
          "value": "md:items-center md:justify-end",
          "label": "t:sections.global.settings.content_position.options__6.label"
        },
        {
          "value": "md:items-end md:justify-start",
          "label": "t:sections.global.settings.content_position.options__7.label"
        },
        {
          "value": "md:items-end md:justify-center",
          "label": "t:sections.global.settings.content_position.options__8.label"
        },
        {
          "value": "md:items-end md:justify-end",
          "label": "t:sections.global.settings.content_position.options__9.label"
        }
      ],
      "default": "md:items-end md:justify-start",
      "label": "t:sections.global.settings.content_position.label"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "default": "left",
      "label": "t:sections.global.settings.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__mobile.content"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "t:sections.video.settings.video_mobile.label"
    },
    {
      "type": "video_url",
      "id": "video_url_mobile",
      "accept": ["youtube", "vimeo"],
      "label": "t:sections.video.settings.video_url_mobile.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image_mobile",
      "label": "t:sections.video.settings.cover_image_mobile.label"
    },
    {
      "type": "select",
      "id": "content_position_mobile",
      "options": [
        {
          "value": "items-start justify-start",
          "label": "t:sections.global.settings.content_position.options__1.label"
        },
        {
          "value": "items-start justify-center",
          "label": "t:sections.global.settings.content_position.options__2.label"
        },
        {
          "value": "items-start justify-end",
          "label": "t:sections.global.settings.content_position.options__3.label"
        },
        {
          "value": "items-center justify-start",
          "label": "t:sections.global.settings.content_position.options__4.label"
        },
        {
          "value": "items-center justify-center",
          "label": "t:sections.global.settings.content_position.options__5.label"
        },
        {
          "value": "items-center justify-end",
          "label": "t:sections.global.settings.content_position.options__6.label"
        },
        {
          "value": "items-end justify-start",
          "label": "t:sections.global.settings.content_position.options__7.label"
        },
        {
          "value": "items-end justify-center",
          "label": "t:sections.global.settings.content_position.options__8.label"
        },
        {
          "value": "items-end justify-end",
          "label": "t:sections.global.settings.content_position.options__9.label"
        }
      ],
      "default": "items-end justify-start",
      "label": "t:sections.global.settings.content_position_mobile.label"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment_mobile",
      "default": "left",
      "label": "t:sections.global.settings.text_alignment_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "t:sections.global.settings.color_overlay.label",
      "default": "#171717"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.global.settings.overlay_opacity.label",
      "default": 70
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.global.settings.enable_parallax.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "heading",
      "name": "t:sections.global.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image with text overlay",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "title-sm",
              "label": "t:sections.global.settings.heading_size.options__1.label"
            },
            {
              "value": "title-md",
              "label": "t:sections.global.settings.heading_size.options__2.label"
            },
            {
              "value": "title-lg tracking-heading",
              "label": "t:sections.global.settings.heading_size.options__3.label"
            },
            {
              "value": "title-xl tracking-heading",
              "label": "t:sections.global.settings.heading_size.options__4.label"
            }
          ],
          "default": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.global.settings.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.global.settings.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.global.settings.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.global.settings.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.global.settings.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.global.settings.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.global.settings.heading_tag.options__7.label"
            },
            {
              "value": "span",
              "label": "t:sections.global.settings.heading_tag.options__8.label"
            },
            {
              "value": "p",
              "label": "t:sections.global.settings.heading_tag.options__9.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.global.settings.heading_tag.label",
          "info": "t:sections.global.settings.heading_tag.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.global.blocks.subheading.name",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Add a tagline",
          "label": "t:sections.global.settings.subheading.label"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "options": [
            {
              "value": "subtitle-sm",
              "label": "t:sections.global.settings.subheading_size.options__1.label"
            },
            {
              "value": "subtitle-md",
              "label": "t:sections.global.settings.subheading_size.options__2.label"
            },
            {
              "value": "subtitle-lg",
              "label": "t:sections.global.settings.subheading_size.options__3.label"
            }
          ],
          "default": "subtitle-md",
          "label": "t:sections.global.settings.subheading_size.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "default": true,
          "label": "t:sections.global.settings.secondary_color.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.global.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.global.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "subtext-sm",
              "label": "t:sections.global.settings.text_size.options__1.label"
            },
            {
              "value": "subtext-md",
              "label": "t:sections.global.settings.text_size.options__2.label"
            },
            {
              "value": "subtext-lg",
              "label": "t:sections.global.settings.text_size.options__3.label"
            },
            {
              "value": "subtext-xl",
              "label": "t:sections.global.settings.text_size.options__4.label"
            },
            {
              "value": "subtext-custom",
              "label": "t:sections.global.settings.text_size.options__5.label"
            }
          ],
          "default": "subtext-md",
          "label": "t:sections.global.settings.text_size.label"
        },
        {
          "type": "range",
          "id": "text_max_size",
          "default": 32,
          "min": 12,
          "max": 128,
          "step": 2,
          "unit": "px",
          "label": "t:sections.global.settings.text_max_size.label"
        },
        {
          "type": "select",
          "id": "text_font",
          "options": [
            {
              "value": "body",
              "label": "t:sections.global.settings.text_font.options__1.label"
            },
            {
              "value": "heading",
              "label": "t:sections.global.settings.text_font.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.global.settings.text_font.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "default": false,
          "label": "t:sections.global.settings.secondary_color.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.global.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.global.settings.button_label.label",
          "info": "t:sections.global.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.global.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.global.settings.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.global.settings.button_style.options__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.global.settings.button_style.options__3.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.global.settings.button_style.label"
        },
        {
          "type": "select",
          "id": "button_size",
          "options": [
            {
              "value": "sm",
              "label": "t:sections.global.settings.button_size.options__1.label"
            },
            {
              "value": "md",
              "label": "t:sections.global.settings.button_size.options__2.label"
            },
            {
              "value": "lg",
              "label": "t:sections.global.settings.button_size.options__3.label"
            }
          ],
          "default": "md",
          "label": "t:sections.global.settings.button_size.label"
        },
        {
          "type": "checkbox",
          "id": "button_external",
          "label": "t:sections.global.settings.button_external.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_icon",
          "label": "t:sections.global.settings.button_icon.label",
          "default": true
        }
      ]
    },
    {
      "type": "link",
      "name": "t:sections.global.blocks.link.name",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.global.settings.text.label",
          "default": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.global.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "external",
          "label": "t:sections.global.settings.button_external.label",
          "default": false
        }
      ]
    },
    {
      "type": "icon",
      "name": "t:sections.global.blocks.icon.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.icon.options__1.label"
            },
            {
              "value": "alert",
              "label": "t:sections.global.settings.icon.options__2.label"
            },
            {
              "value": "award",
              "label": "t:sections.global.settings.icon.options__3.label"
            },
            {
              "value": "bag",
              "label": "t:sections.global.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.global.settings.icon.options__5.label"
            },
            {
              "value": "briefcase",
              "label": "t:sections.global.settings.icon.options__6.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.global.settings.icon.options__7.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.global.settings.icon.options__8.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.global.settings.icon.options__9.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.global.settings.icon.options__10.label"
            },
            {
              "value": "cosmetics",
              "label": "t:sections.global.settings.icon.options__11.label"
            },
            {
              "value": "creadit_card",
              "label": "t:sections.global.settings.icon.options__12.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.global.settings.icon.options__13.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.global.settings.icon.options__14.label"
            },
            {
              "value": "devices",
              "label": "t:sections.global.settings.icon.options__15.label"
            },
            {
              "value": "email",
              "label": "t:sections.global.settings.icon.options__16.label"
            },
            {
              "value": "eye",
              "label": "t:sections.global.settings.icon.options__17.label"
            },
            {
              "value": "file_text",
              "label": "t:sections.global.settings.icon.options__18.label"
            },
            {
              "value": "gift",
              "label": "t:sections.global.settings.icon.options__19.label"
            },
            {
              "value": "gluten",
              "label": "t:sections.global.settings.icon.options__20.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.global.settings.icon.options__21.label"
            },
            {
              "value": "headphone",
              "label": "t:sections.global.settings.icon.options__22.label"
            },
            {
              "value": "heart",
              "label": "t:sections.global.settings.icon.options__23.label"
            },
            {
              "value": "iron",
              "label": "t:sections.global.settings.icon.options__24.label"
            },
            {
              "value": "lightning",
              "label": "t:sections.global.settings.icon.options__25.label"
            },
            {
              "value": "lock",
              "label": "t:sections.global.settings.icon.options__26.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.global.settings.icon.options__27.label"
            },
            {
              "value": "newspaper",
              "label": "t:sections.global.settings.icon.options__28.label"
            },
            {
              "value": "organic",
              "label": "t:sections.global.settings.icon.options__29.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.global.settings.icon.options__30.label"
            },
            {
              "value": "phone",
              "label": "t:sections.global.settings.icon.options__31.label"
            },
            {
              "value": "plane",
              "label": "t:sections.global.settings.icon.options__32.label"
            },
            {
              "value": "planet",
              "label": "t:sections.global.settings.icon.options__33.label"
            },
            {
              "value": "planet_2",
              "label": "t:sections.global.settings.icon.options__34.label"
            },
            {
              "value": "recycling",
              "label": "t:sections.global.settings.icon.options__35.label"
            },
            {
              "value": "return",
              "label": "t:sections.global.settings.icon.options__36.label"
            },
            {
              "value": "rocket",
              "label": "t:sections.global.settings.icon.options__37.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.global.settings.icon.options__38.label"
            },
            {
              "value": "ruler_2",
              "label": "t:sections.global.settings.icon.options__39.label"
            },
            {
              "value": "ruler_3",
              "label": "t:sections.global.settings.icon.options__40.label"
            },
            {
              "value": "sale",
              "label": "t:sections.global.settings.icon.options__41.label"
            },
            {
              "value": "shield",
              "label": "t:sections.global.settings.icon.options__42.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.global.settings.icon.options__43.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.global.settings.icon.options__44.label"
            },
            {
              "value": "star",
              "label": "t:sections.global.settings.icon.options__45.label"
            },
            {
              "value": "support",
              "label": "t:sections.global.settings.icon.options__46.label"
            },
            {
              "value": "swatchbook",
              "label": "t:sections.global.settings.icon.options__47.label"
            },
            {
              "value": "tag",
              "label": "t:sections.global.settings.icon.options__48.label"
            },
            {
              "value": "tags",
              "label": "t:sections.global.settings.icon.options__49.label"
            },
            {
              "value": "time",
              "label": "t:sections.global.settings.icon.options__50.label"
            },
            {
              "value": "trophy",
              "label": "t:sections.global.settings.icon.options__51.label"
            },
            {
              "value": "truck",
              "label": "t:sections.global.settings.icon.options__52.label"
            },
            {
              "value": "users",
              "label": "t:sections.global.settings.icon.options__53.label"
            },
            {
              "value": "wallet",
              "label": "t:sections.global.settings.icon.options__54.label"
            },
            {
              "value": "wash",
              "label": "t:sections.global.settings.icon.options__55.label"
            },
            {
              "value": "watch",
              "label": "t:sections.global.settings.icon.options__56.label"
            },
            {
              "value": "wrench",
              "label": "t:sections.global.settings.icon.options__57.label"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.global.settings.icon_image.label"
        },
        {
          "type": "range",
          "id": "icon_width",
          "label": "t:sections.global.settings.icon_width.label",
          "default": 48,
          "min": 20,
          "max": 120,
          "step": 2,
          "unit": "px"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.global.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.settings.image.label"
        },
        {
          "type": "radio",
          "id": "image_width",
          "options": [
            {
              "value": "full_width",
              "label": "t:sections.global.settings.image_width.options__1.label"
            },
            {
              "value": "custom",
              "label": "t:sections.global.settings.image_width.options__2.label"
            }
          ],
          "default": "custom",
          "label": "t:sections.global.settings.image_width.label"
        },
        {
          "type": "range",
          "id": "image_max_width",
          "label": "t:sections.global.settings.image_max_width.label",
          "default": 50,
          "min": 20,
          "max": 1000,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "image_max_width_mobile",
          "label": "t:sections.global.settings.image_max_width_mobile.label",
          "default": 50,
          "min": 20,
          "max": 600,
          "step": 10,
          "unit": "px"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:sections.custom-liquid.settings.liquid.label",
          "info": "t:sections.custom-liquid.settings.liquid.info"
        }
      ]
    },
    {
      "type": "spacing",
      "name": "t:sections.empty-space.name",
      "settings": [
        {
          "type": "range",
          "id": "height",
          "label": "t:sections.empty-space.settings.height.label",
          "default": 40,
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "height_mobile",
          "label": "t:sections.empty-space.settings.height_mobile.label",
          "default": 28,
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.reveal-video-with-text-overlay.presets.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
