<style>
  #shopify-section-{{ section.id }} {
    {%- render 'section-variables', section: section -%}
  }
</style>

<div class="section inline">
  <div class="relative contents">
    <splitting-banner class="splitting-banner reveal-banner relative inline">
      <span class="reveal-banner__tracker absolute top-0 h-full"></span>
      <div class="reveal-banner__scroller sticky top-0 overflow-hidden">
        <div class="banner w-full h-screen relative">
          <div class="banner__content overflow-hidden left-0 w-full h-full">
            <div class="page-width w-full h-full flex items-center justify-center">
              <div class="banner__box banner__box--{{ section.settings.content_width }} {{ section.settings.heading_alignment }}">
                <div class="splitting-wrapper relative">
                  <{{ section.settings.heading_tag }} class="heading leading-none {{ section.settings.heading_size }} splitting">{{ section.settings.heading }}</{{ section.settings.heading_tag }}>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section--padding page-width--full grid gap-10 relative overflow-hidden">
        <picture class="media media--adapt media--transparent w-full h-full flex justify-center relative overflow-hidden">
          {%- if section.settings.image != blank -%}
            {%- if section.settings.image_mobile -%}
              <source
                media="(max-width: 767px)"
                srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                width="{{ section.settings.image_mobile.width }}"
                height="{{ section.settings.image_mobile.height }}"
              >
            {%- endif -%}
  
            {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', is: 'lazy-image' -}}
          {%- else -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
          {%- endif -%}
        </picture>
  
        {%- if section.settings.button_label != blank -%}
          <span class="reveal-banner__tracker2nd absolute top-0 h-full"></span>
          <p class="button-wrapper {{ section.settings.heading_alignment }}">
            {%- render 'button',
              style: 'primary',
              label: section.settings.button_label,
              link: section.settings.button_link,
              external: section.settings.button_external,
              show_icon: section.settings.button_icon
            -%}
          </p>
        {%- endif -%}
      </div>
    </splitting-banner>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.reveal-image-with-text.name",
  "class": "contents",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.global.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image_mobile.label"
    },
    {
      "type": "select",
      "id": "content_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.global.settings.content_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.global.settings.content_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.global.settings.content_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.global.settings.content_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "Reveal image with text"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "info": "t:sections.global.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.global.settings.button_external.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.global.settings.button_icon.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.reveal-image-with-text.presets.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
