<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
  }

  {%- if settings.color_background == section.settings.color_background or section.settings.color_background == blank or section.settings.color_background == 'rgba(0,0,0,0)'%}
    #shopify-section-{{ section.id }} .reveal-testimonials .testimonial:nth-child(odd) {
      border: 1px solid rgb(var(--color-border));
    }
  {% endif -%}
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width relative">
    {%- if section.settings.heading != blank -%}
      {%- liquid
        assign words = section.settings.heading | split: " "
        assign limit = words.size | divided_by: 2
      -%}
      <{{ section.settings.heading_tag }} class="testimonials-title title-wrapper">
        <split-words class="split-words heading {{ section.settings.heading_size }} md:flex md:justify-between" data-animate="fade-up-large">
          <span class="split-words inline">
            {%- liquid
              for word in words, limit: limit
                echo word
                unless forloop.last
                  echo " "
                endunless
              endfor
            -%}
          </span>
          <span class="whitespace inline-block"></span>
          <span class="split-words inline">
            {%- liquid
              for word in words, offset: limit
                echo word
                unless forloop.last
                  echo " "
                endunless
              endfor
            -%}
          </span>
        </split-words>
      </{{ section.settings.heading_tag }}>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="flex justify-center">
        <div class="reveal-testimonials grid gap-4 md:gap-10 rte relative z-1" initial-index="{{ section.blocks.size | minus: 1 }}">
          {%- liquid
            assign with_gradient = false
            if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
              assign with_gradient = true
            endif
          -%}
          {%- for block in section.blocks -%}
            {%- liquid
              assign start_y = 40

              if section.blocks.size > 5
                if forloop.index > 5
                  assign end_y = section.blocks.size | minus: forloop.index | times: 20
                else
                  assign end_y = 5 | minus: forloop.index | times: 20
                endif
              else
                assign end_y = section.blocks.size | minus: forloop.index | times: 20
              endif

              assign modulo = forloop.index | modulo: 2
              if modulo == 0
                assign start_y = start_y | plus: 20
              endif

              if forloop.first or forloop.last or forloop.index == 5
                assign start_y = 0
                assign end_y = 0
              endif
            -%}
            <div class="testimonial with-{{ block.settings.icon }} w-full" is="testimonial-parallax" data-start="{{ start_y }}%" data-stop="-{{ end_y | abs }}%" {{ block.shopify_attributes }}>
              <blockquote>
                <div class="flex items-center gap-4 md:gap-6">
                  {%- if block.settings.image != blank -%}
                    <figure class="inline-block media media--{{ block.settings.image_ratio }} media--transparent relative overflow-hidden">
                      {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', widths: '54,74,104,162,208,324,416', is: 'lazy-image' -}}
                    </figure>
                  {%- endif -%}
    
                  {%- if block.settings.author != blank or block.settings.author_info != blank -%}
                    <cite class="text-base-2xl grow shrink">
                      {%- if block.settings.author_url != blank -%}
                        <a href="{{ block.settings.author_url }}" class="reversed-link">
                      {%- endif -%}
                        {{- block.settings.author -}}
                      {%- if block.settings.author_url != blank -%}
                        </a>
                      {%- endif -%}
                      {%- if block.settings.author_info != blank -%}
                        <span class="block text-base font-normal">{{ block.settings.author_info }}</span>
                      {%- endif -%}
                    </cite>
                  {%- endif -%}
                </div>
                {%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
              </blockquote>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.reveal-testimonials.name",
  "max_blocks": 9,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label",
      "default": "What people are saying"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.testimonials.blocks.testimonial.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label",
          "default": "quote",
          "options": [
            {
              "value": "none",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__1.label"
            },
            {
              "value": "quote",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__2.label"
            },
            {
              "value": "5-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__3.label"
            },
            {
              "value": "4-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__4.label"
            },
            {
              "value": "3-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__5.label"
            },
            {
              "value": "2-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__6.label"
            },
            {
              "value": "1-star",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__7.label"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.global.settings.text.label",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author.label",
          "default": "Author's name"
        },
        {
          "type": "text",
          "id": "author_info",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author_info.label"
        },
        {
          "type": "url",
          "id": "author_url",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author_url.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.testimonial.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "rounded",
              "label": "t:sections.global.settings.image_ratio.options__6.label"
            }
          ],
          "default": "rounded",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.reveal-testimonials.presets.name",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
