<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
    {%- if section.settings.image != blank %}
      --ratio-percent: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
    {% endif -%}
  }

  {%- for block in section.blocks -%}
    #shopify-block-{{ block.id }} {
      --hotspot-color: {{ block.settings.color_text.rgb }};
      --hotspot-x: {{ block.settings.horizontal }}%;
      --hotspot-y: {{ block.settings.vertical }}%;
    }
  {%- endfor -%}

  {%- if section.settings.image_mobile != blank %}
    @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
        --ratio-percent: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}%;
      }

      {%- for block in section.blocks -%}
        #shopify-block-{{ block.id }} {
          --hotspot-x: {{ block.settings.horizontal_mobile }}%;
          --hotspot-y: {{ block.settings.vertical_mobile }}%;
        }
      {%- endfor -%}
    }
  {% endif -%}
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}" data-section-id="{{ section.id }}">
  <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
    <shop-the-look class="shop-the-look grid gap-6">
      {%- render 'section-heading', section: section -%}

      <lookbook-element class="banner block media--adapt mobile:media--adapt relative overflow-hidden">
        <div class="banner__media w-full h-full overflow-hidden">
          <picture class="media media--height w-full h-full block relative">
            {%- if section.settings.image != blank -%}
              {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}
              {%- if section.settings.image_mobile -%}
                <source
                  media="(max-width: 767px)"
                  srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                  width="{{ section.settings.image_mobile.width }}"
                  height="{{ section.settings.image_mobile.height }}"
                >
              {%- endif -%}
  
              {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', is: 'lazy-image', class: 'banner__image' -}}
            {%- else -%}
              {{- 'lifestyle-1' | placeholder_svg_tag: 'banner__image banner__overlay placeholder' -}}
            {%- endif -%}
          </picture>
        </div>

        {%- if section.blocks.size > 0 -%}
          <span class="banner__overlay absolute top-0 left-0 w-full h-full pointer-events-none"></span>
          
          {%- for block in section.blocks -%}
            {%- liquid
              assign product = block.settings.product
              if product == null
                assign placeholder = true
              endif
            -%}
            {% if product != blank %}
              {%- if settings.product_quick_view -%}
                <hover-element class="hotspot flex items-center justify-center absolute z-1 cursor-pointer" aria-controls="Quickview-{{ section.id }}-{{ product.id }}" aria-expanded="false" aria-current="{% if forloop.first %}true{% else %}false{% endif %}" id="shopify-block-{{ block.id }}" {{ block.shopify_attributes }}>
                  <div class="hotspot__content hidden md:flex gap-2 items-center absolute pointer-events-none{% if block.settings.horizontal < 15 %} with-left{% elsif block.settings.horizontal > 85 %} with-right{% endif %}{% if block.settings.vertical > 70 %} with-bottom{% endif %}">
                    {%- if product.featured_media -%}
                      <div class="hidden lg:block media media--{{ settings.product_image_ratio }}{% unless settings.product_image_fill %} media--contain{% endunless %} relative overflow-hidden flex-auto">
                        {{- product.featured_media | image_url: width: product.featured_media.width | image_tag: loading: 'lazy', widths: '180,360,540', is: 'lazy-image' -}}
                      </div>
                    {%- endif -%}
                    <div class="rte text-sm leading-none grid gap-2">
                      <p class="heading lg:text-base lg:font-medium leading-tight">{{ product.title }}</p>

                      {%- render 'product-price', product: product, placeholder: placeholder -%}
                    </div>
                    {%- render 'icon', icon: 'caret', class: 'absolute' -%}
                  </div>
                </hover-element>
              {%- else -%}
                <a class="hotspot flex items-center justify-center absolute z-1 cursor-pointer"{% if product != blank %} href="{{ product.url }}" aria-label="{{ product.title | escape }}"{% else %} role="link" aria-disabled="true"{% endif %} aria-current="{% if forloop.first %}true{% else %}false{% endif %}" id="shopify-block-{{ block.id }}" {{ block.shopify_attributes }}>
                  <div class="hotspot__content hidden md:flex gap-2 items-center absolute pointer-events-none{% if block.settings.horizontal < 15 %} with-left{% elsif block.settings.horizontal > 85 %} with-right{% endif %}{% if block.settings.vertical > 70 %} with-bottom{% endif %}">
                    {%- if product.featured_media -%}
                      <div class="hidden lg:block media media--{{ settings.product_image_ratio }}{% unless settings.product_image_fill %} media--contain{% endunless %} relative overflow-hidden flex-auto">
                        {{- product.featured_media | image_url: width: product.featured_media.width | image_tag: loading: 'lazy', widths: '180,360,540', is: 'lazy-image' -}}
                      </div>
                    {%- endif -%}
                    <div class="rte text-sm leading-none grid gap-2">
                      <p class="heading lg:text-base lg:font-medium leading-tight">{{ product.title }}</p>

                      {%- render 'product-price', product: product, placeholder: placeholder -%}
                    </div>
                    {%- render 'icon', icon: 'caret', class: 'absolute' -%}
                  </div>
                </a>
              {%- endif -%}
            {%- else -%}
              <a class="hotspot flex items-center justify-center absolute z-1 cursor-pointer"{% if product != blank %} href="{{ product.url }}" aria-label="{{ product.title | escape }}"{% else %} aria-disabled="true"{% endif %} aria-current="{% if forloop.first %}true{% else %}false{% endif %}" id="shopify-block-{{ block.id }}" {{ block.shopify_attributes }}>&nbsp;</a>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </lookbook-element>

      <carousel-element class="block">
        {%- for block in section.blocks -%}
          {%- render 'product-card',
            product: block.settings.product,
            product_id: block.settings.product.id,
            section_id: section.id,
            lazy_load: false,
            image_ratio: settings.product_image_ratio,
            image_fill: settings.product_image_fill,
            show_secondary_image: settings.product_secondary_image,
            show_vendor: settings.product_vendor,
            show_rating: settings.product_rating,
            show_color_swatches: settings.product_color_swatches,
            show_countdown: settings.product_countdown,
            show_quick_add: settings.product_quick_add,
            show_quick_view: settings.product_quick_view,
            show_save_amount: settings.product_save_amount,
            save_type: settings.product_save_type,
            mobile_quick_add: true
          -%}
        {%- endfor -%}
      </carousel-element>
    </shop-the-look>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.shop-the-look.name",
  "max_blocks": 6,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.global.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__heading.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.global.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "title-sm",
          "label": "t:sections.global.settings.heading_size.options__1.label"
        },
        {
          "value": "title-md",
          "label": "t:sections.global.settings.heading_size.options__2.label"
        },
        {
          "value": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__3.label"
        },
        {
          "value": "title-xl tracking-heading",
          "label": "t:sections.global.settings.heading_size.options__4.label"
        }
      ],
      "default": "title-md",
      "label": "t:sections.global.settings.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.global.settings.heading_alignment.label",
      "options": [
        {
          "value": "text-left md:items-end md:flex-row",
          "label": "t:sections.global.settings.heading_alignment.options__1.label"
        },
        {
          "value": "text-center md:items-center",
          "label": "t:sections.global.settings.heading_alignment.options__2.label"
        },
        {
          "value": "text-right md:items-end md:flex-row-reverse",
          "label": "t:sections.global.settings.heading_alignment.options__3.label"
        }
      ],
      "default": "text-center md:items-center"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.global.settings.heading_tag.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.global.settings.heading_tag.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.global.settings.heading_tag.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.global.settings.heading_tag.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.global.settings.heading_tag.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.global.settings.heading_tag.options__6.label"
        },
        {
          "value": "div",
          "label": "t:sections.global.settings.heading_tag.options__7.label"
        },
        {
          "value": "span",
          "label": "t:sections.global.settings.heading_tag.options__8.label"
        },
        {
          "value": "p",
          "label": "t:sections.global.settings.heading_tag.options__9.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.global.settings.heading_tag.label",
      "info": "t:sections.global.settings.heading_tag.info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.settings.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.global.settings.description.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.global.settings.button_label.label",
      "info": "t:sections.global.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.global.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "button_external",
      "label": "t:sections.global.settings.button_external.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.global.settings.button_icon.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__highlight.content",
      "info": "t:sections.global.settings.header__highlight.info"
    },
    {
      "type": "select",
      "id": "highlighted_text",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.settings.highlighted_text.options__1.label"
        },
        {
          "value": "text",
          "label": "t:sections.global.settings.highlighted_text.options__2.label"
        },
        {
          "value": "full_text",
          "label": "t:sections.global.settings.highlighted_text.options__3.label"
        },
        {
          "value": "half_text",
          "label": "t:sections.global.settings.highlighted_text.options__4.label"
        },
        {
          "value": "underline",
          "label": "t:sections.global.settings.highlighted_text.options__5.label"
        },
        {
          "value": "stencil",
          "label": "t:sections.global.settings.highlighted_text.options__6.label"
        },
        {
          "value": "scribble",
          "label": "t:sections.global.settings.highlighted_text.options__7.label"
        }
      ],
      "default": "none",
      "label": "t:sections.global.settings.highlighted_text.label"
    },
    {
      "type": "select",
      "id": "highlighted_scribble",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
        },
        {
          "value": "basic-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
        },
        {
          "value": "sketch-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
        },
        {
          "value": "squiggle-underline",
          "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
        },
        {
          "value": "squiggle-underline-2",
          "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.global.settings.highlighted_scribble.label",
      "info": "t:sections.global.settings.highlighted_scribble.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "t:sections.global.settings.color_overlay.label",
      "default": "#171717"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.global.settings.overlay_opacity.label",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.global.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.global.settings.product.label"
        },
        {
          "type": "header",
          "content": "t:sections.lookbook.blocks.global.settings.header.content"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "t:sections.global.settings.color_text.label",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "vertical",
          "label": "t:sections.lookbook.blocks.global.settings.vertical.label",
          "default": 50,
          "min": 5,
          "max": 95,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "horizontal",
          "label": "t:sections.lookbook.blocks.global.settings.horizontal.label",
          "default": 50,
          "min": 5,
          "max": 95,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__mobile.content",
          "info": "t:sections.lookbook.blocks.global.settings.header__mobile.info"
        },
        {
          "type": "range",
          "id": "vertical_mobile",
          "label": "t:sections.lookbook.blocks.global.settings.vertical.label",
          "default": 50,
          "min": 5,
          "max": 95,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "range",
          "id": "horizontal_mobile",
          "label": "t:sections.lookbook.blocks.global.settings.horizontal.label",
          "default": 50,
          "min": 5,
          "max": 95,
          "step": 1,
          "unit": "%"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.shop-the-look.name",
      "blocks": [
        {
          "type": "product",
          "settings": {
            "vertical": 25,
            "horizontal": 25,
            "vertical_mobile": 25,
            "horizontal_mobile": 25
          }
        },
        {
          "type": "product",
          "settings": {
            "vertical": 75,
            "horizontal": 65,
            "vertical_mobile": 75,
            "horizontal_mobile": 65
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "templates": [
      "password"
    ]
  }
}
{% endschema %}
