<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
    {%- if section.settings.image != blank and section.settings.image_height == 'adapt' %}
      --ratio-percent: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
    {% endif -%}
  }

  {%- assign image_mobile = section.settings.image_mobile | default: section.settings.image -%}
  {%- if image_mobile != blank and section.settings.image_height_mobile == 'adapt' %}
    @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
        --ratio-percent: {{ 1 | divided_by: image_mobile.aspect_ratio | times: 100 }}%;
      }
    }
  {% endif -%}
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"{% if section.settings.transparent_header %} allow-transparent-header{% endif %}>
  <div class="relative">
    <div class="banner media--{{ section.settings.image_height }} mobile:media--{{ section.settings.image_height_mobile }} relative">
      <media-element class="banner__media block w-full h-full overflow-hidden"{% if section.settings.enable_parallax %} data-parallax="0.3" data-parallax-dir="{{ section.settings.parallax_direction }}"{% endif %}>
        <picture class="media media--height block w-full h-full relative overflow-hidden">
          {%- if section.settings.image != blank -%}
            {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}
            {%- if section.settings.image_mobile -%}
              <source
                media="(max-width: 767px)"
                srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                width="{{ section.settings.image_mobile.width }}"
                height="{{ section.settings.image_mobile.height }}"
              >
            {%- endif -%}

            {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', is: 'lazy-image', class: 'banner__image' -}}
          {%- else -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'banner__image banner__overlay placeholder' -}}
          {%- endif -%}
        </picture>
      </media-element>
      
      {%- if section.blocks.size > 0 -%}
        <span class="banner__overlay absolute top-0 left-0 w-full h-full pointer-events-none"></span>
        <div class="banner__content overflow-hidden absolute z-1 top-0 left-0 w-full h-full">
          <div class="page-width page-width--narrow w-full h-full flex {{ section.settings.content_position }} {{ section.settings.content_position_mobile }}">
            <div class="banner__box w-full">
              <testimonials-element class="testimonials block rte relative z-1" initial-index="{{ section.blocks.size | minus: 1 }}" watch-css>
                {%- liquid
                  assign with_gradient = false
                  if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
                    assign with_gradient = true
                  endif
                -%}
                {%- for block in section.blocks -%}
                  <div class="testimonial with-{{ block.settings.icon }} flex flex-col w-full" {{ block.shopify_attributes }}>
                    <blockquote>
                      {%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
                      
                      {%- if block.settings.image != blank -%}
                        <figure class="inline-block media media--{{ block.settings.image_ratio }} media--transparent relative overflow-hidden">
                          {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', widths: '54,74,104,162,208,324,416', is: 'lazy-image' -}}
                        </figure>
                      {%- endif -%}
        
                      {%- if block.settings.author != blank or block.settings.author_info != blank -%}
                        <cite>—&nbsp;
                          {%- if block.settings.author_url != blank -%}
                            <a href="{{ block.settings.author_url }}" class="reversed-link">
                          {%- endif -%}
                            {{- block.settings.author -}}
                          {%- if block.settings.author_url != blank -%}
                            </a>
                          {%- endif -%}
                          {%- if block.settings.author_info != blank -%}
                            <span class="block text-base font-normal">{{ block.settings.author_info }}</span>
                          {%- endif -%}
                        </cite>
                      {%- endif -%}
                    </blockquote>
                  </div>
                {%- endfor -%}
              </testimonials-element>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonials-banner.name",
  "max_blocks": 9,
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.global.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "label": "t:sections.global.settings.image_height.options__1.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.global.settings.image_height.options__2.label",
          "value": "400px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__3.label",
          "value": "450px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__4.label",
          "value": "500px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__5.label",
          "value": "550px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__6.label",
          "value": "600px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__7.label",
          "value": "650px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__8.label",
          "value": "700px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__9.label",
          "value": "750px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__10.label",
          "value": "850px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__11.label",
          "value": "900px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__12.label",
          "value": "100vh"
        }
      ],
      "default": "650px",
      "label": "t:sections.global.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "md:items-start md:justify-start",
          "label": "t:sections.global.settings.content_position.options__1.label"
        },
        {
          "value": "md:items-start md:justify-center",
          "label": "t:sections.global.settings.content_position.options__2.label"
        },
        {
          "value": "md:items-start md:justify-end",
          "label": "t:sections.global.settings.content_position.options__3.label"
        },
        {
          "value": "md:items-center md:justify-start",
          "label": "t:sections.global.settings.content_position.options__4.label"
        },
        {
          "value": "md:items-center md:justify-center",
          "label": "t:sections.global.settings.content_position.options__5.label"
        },
        {
          "value": "md:items-center md:justify-end",
          "label": "t:sections.global.settings.content_position.options__6.label"
        },
        {
          "value": "md:items-end md:justify-start",
          "label": "t:sections.global.settings.content_position.options__7.label"
        },
        {
          "value": "md:items-end md:justify-center",
          "label": "t:sections.global.settings.content_position.options__8.label"
        },
        {
          "value": "md:items-end md:justify-end",
          "label": "t:sections.global.settings.content_position.options__9.label"
        }
      ],
      "default": "md:items-center md:justify-center",
      "label": "t:sections.global.settings.content_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__mobile.content"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image_mobile.label"
    },
    {
      "type": "select",
      "id": "image_height_mobile",
      "options": [
        {
          "label": "t:sections.global.settings.image_height_mobile.options__1.label",
          "value": "auto"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__2.label",
          "value": "200px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__3.label",
          "value": "250px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__4.label",
          "value": "300px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__5.label",
          "value": "400px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__6.label",
          "value": "500px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__7.label",
          "value": "600px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__8.label",
          "value": "100vh"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__9.label",
          "value": "adapt"
        }
      ],
      "default": "auto",
      "label": "t:sections.global.settings.image_height_mobile.label"
    },
    {
      "type": "select",
      "id": "content_position_mobile",
      "options": [
        {
          "value": "items-start justify-start",
          "label": "t:sections.global.settings.content_position.options__1.label"
        },
        {
          "value": "items-start justify-center",
          "label": "t:sections.global.settings.content_position.options__2.label"
        },
        {
          "value": "items-start justify-end",
          "label": "t:sections.global.settings.content_position.options__3.label"
        },
        {
          "value": "items-center justify-start",
          "label": "t:sections.global.settings.content_position.options__4.label"
        },
        {
          "value": "items-center justify-center",
          "label": "t:sections.global.settings.content_position.options__5.label"
        },
        {
          "value": "items-center justify-end",
          "label": "t:sections.global.settings.content_position.options__6.label"
        },
        {
          "value": "items-end justify-start",
          "label": "t:sections.global.settings.content_position.options__7.label"
        },
        {
          "value": "items-end justify-center",
          "label": "t:sections.global.settings.content_position.options__8.label"
        },
        {
          "value": "items-end justify-end",
          "label": "t:sections.global.settings.content_position.options__9.label"
        }
      ],
      "default": "items-center justify-center",
      "label": "t:sections.global.settings.content_position_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label",
      "default": "#e0a580"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "t:sections.global.settings.color_overlay.label",
      "default": "#171717"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.global.settings.overlay_opacity.label",
      "default": 70
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.global.settings.enable_parallax.label",
      "default": true
    },
    {
      "type": "select",
      "id": "parallax_direction",
      "label": "t:sections.global.settings.parallax_direction.label",
      "default": "vertical",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.global.settings.parallax_direction.options__1.label"
        },
        {
          "value": "horizontal",
          "label": "t:sections.global.settings.parallax_direction.options__2.label"
        },
        {
          "value": "zoom",
          "label": "t:sections.global.settings.parallax_direction.options__3.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.testimonials.blocks.testimonial.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label",
          "default": "quote",
          "options": [
            {
              "value": "none",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__1.label"
            },
            {
              "value": "quote",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__2.label"
            },
            {
              "value": "5-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__3.label"
            },
            {
              "value": "4-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__4.label"
            },
            {
              "value": "3-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__5.label"
            },
            {
              "value": "2-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__6.label"
            },
            {
              "value": "1-star",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__7.label"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.global.settings.text.label",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author.label",
          "default": "Author's name"
        },
        {
          "type": "text",
          "id": "author_info",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author_info.label"
        },
        {
          "type": "url",
          "id": "author_url",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author_url.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.testimonial.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "rounded",
              "label": "t:sections.global.settings.image_ratio.options__6.label"
            }
          ],
          "default": "rounded",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials-banner.presets.name",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
