<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
    --overlay-opacity: 1;
  }
</style>

<noscript>
  <style>
    #shopify-section-{{ section.id }} .banner__overlay {
      background-color: rgb(var(--color-overlay)/ {{ section.settings.overlay_opacity | divided_by: 100.0 }});
    }
  </style>
</noscript>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"{% if section.settings.transparent_header %} allow-transparent-header{% endif %}>
  <div class="{% unless section.settings.full_width %}page-width {% endunless %}relative">
    <div class="video-hero banner sticky left-0 top-0 w-full h-screen">
      {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}
      {%- if section.settings.video_mobile or section.settings.video_url_mobile -%}
        {%- render 'video',
          sizes: sizes,
          video: section.settings.video_mobile,
          video_url: section.settings.video_url_mobile,
          muted: section.settings.enable_video_autoplay,
          autoplay: section.settings.enable_video_autoplay,
          loop: section.settings.enable_video_looping,
          description: section.settings.description,
          cover_image: section.settings.cover_image_mobile,
          show_play_button: true,
          is_mobile: true,
          class: 'banner__media media w-full h-full relative overflow-hidden pointer-events-none'
        -%}
      {%- endif -%}

      {%- render 'video',
        sizes: sizes,
        video: section.settings.video,
        video_url: section.settings.video_url,
        muted: section.settings.enable_video_autoplay,
        autoplay: section.settings.enable_video_autoplay,
        loop: section.settings.enable_video_looping,
        description: section.settings.description,
        cover_image: section.settings.cover_image,
        show_play_button: true,
        class: 'banner__media media w-full h-full relative overflow-hidden pointer-events-none'
      -%}
      <parallax-overlay class="banner__overlay block absolute left-0 top-0 w-full h-full pointer-events-none" data-target="opacity" data-start="1" data-stop="{{ section.settings.overlay_opacity | divided_by: 100.0 }}"></parallax-overlay>
    </div>
    {%- if section.blocks.size > 0 -%}
      <div class="video-hero__content{% if section.settings.full_width %} page-width{% endif %} text-center relative pointer-events-none">
        <text-scrolling class="banner__box banner__box--{{ section.settings.content_width }} inline-block">
          {%- liquid
            assign with_gradient = false
            if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
              assign with_gradient = true
            endif
          -%}
          {%- for block in section.blocks -%}
            <div {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <{{ block.settings.heading_tag }} class="heading {{ block.settings.heading_size }}">
                  {%- if block.settings.highlighted_text == 'none' -%}
                    <split-words class="split-words block" data-animate="fade-up-large">{{ block.settings.heading }}</split-words>
                  {%- else -%}
                    {%- render 'highlighted-text', content: block.settings.heading, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}
                  {%- endif -%}
                </{{ block.settings.heading_tag }}>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </text-scrolling>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.video-hero.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__video.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__video_url.content",
      "info": "t:sections.video.settings.header__video_url.info"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "t:sections.video.settings.enable_video_autoplay.label",
      "info": "t:sections.video.settings.enable_video_autoplay.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": true
    },
    {
      "type": "select",
      "id": "content_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.global.settings.content_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.global.settings.content_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.global.settings.content_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.global.settings.content_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__mobile.content"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "t:sections.video.settings.video_mobile.label"
    },
    {
      "type": "video_url",
      "id": "video_url_mobile",
      "accept": ["youtube", "vimeo"],
      "label": "t:sections.video.settings.video_url_mobile.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image_mobile",
      "label": "t:sections.video.settings.cover_image_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "t:sections.global.settings.color_overlay.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.global.settings.overlay_opacity.label",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.video-hero.blocks.slide.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "title-sm",
              "label": "t:sections.global.settings.heading_size.options__1.label"
            },
            {
              "value": "title-md",
              "label": "t:sections.global.settings.heading_size.options__2.label"
            },
            {
              "value": "title-lg tracking-heading",
              "label": "t:sections.global.settings.heading_size.options__3.label"
            },
            {
              "value": "title-xl tracking-heading",
              "label": "t:sections.global.settings.heading_size.options__4.label"
            }
          ],
          "default": "title-lg tracking-heading",
          "label": "t:sections.global.settings.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.global.settings.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.global.settings.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.global.settings.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.global.settings.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.global.settings.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.global.settings.heading_tag.options__6.label"
            },
            {
              "value": "div",
              "label": "t:sections.global.settings.heading_tag.options__7.label"
            },
            {
              "value": "span",
              "label": "t:sections.global.settings.heading_tag.options__8.label"
            },
            {
              "value": "p",
              "label": "t:sections.global.settings.heading_tag.options__9.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.global.settings.heading_tag.label",
          "info": "t:sections.global.settings.heading_tag.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video-hero.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
