{%- liquid
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image
  assign video_mobile = section.settings.video_mobile | default: section.settings.video

  if video_mobile
    assign poster_mobile = video_mobile.preview_image | default: section.settings.cover_image_mobile
  endif
-%}

<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
    {%- if poster != null and section.settings.image_height == 'adapt' %}
      --ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;
    {% endif -%}
  }

  {%- if poster_mobile != blank and section.settings.image_height_mobile == 'adapt' %}
    @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
        --ratio-percent: {{ 1 | divided_by: poster_mobile.aspect_ratio | times: 100 }}%;
      }
    }
  {% endif -%}
</style>

<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"{% if section.settings.transparent_header %} allow-transparent-header{% endif %}>
  <div class="{% unless section.settings.full_width %}page-width {% endunless %}relative">
    <div class="video-hero banner media--{{ section.settings.image_height }} mobile:media--{{ section.settings.image_height_mobile }} relative">
      {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}
      {%- if section.settings.video_mobile or section.settings.video_url_mobile -%}
        {%- render 'video',
          sizes: sizes,
          video: section.settings.video_mobile,
          video_url: section.settings.video_url_mobile,
          muted: section.settings.enable_video_autoplay,
          autoplay: section.settings.enable_video_autoplay,
          loop: section.settings.enable_video_looping,
          description: section.settings.description,
          cover_image: section.settings.cover_image_mobile,
          show_play_button: true,
          is_mobile: true,
          class: 'banner__media media media--height w-full h-full relative'
        -%}
      {%- endif -%}

      {%- render 'video',
        sizes: sizes,
        video: section.settings.video,
        video_url: section.settings.video_url,
        muted: section.settings.enable_video_autoplay,
        autoplay: section.settings.enable_video_autoplay,
        loop: section.settings.enable_video_looping,
        description: section.settings.description,
        cover_image: section.settings.cover_image,
        show_play_button: true,
        class: 'banner__media media media--height w-full h-full relative'
      -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__video.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__video_url.content",
      "info": "t:sections.video.settings.header__video_url.info"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "t:sections.video.settings.enable_video_autoplay.label",
      "info": "t:sections.video.settings.enable_video_autoplay.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "label": "t:sections.global.settings.image_height.options__1.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.global.settings.image_height.options__2.label",
          "value": "400px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__3.label",
          "value": "450px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__4.label",
          "value": "500px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__5.label",
          "value": "550px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__6.label",
          "value": "600px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__7.label",
          "value": "650px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__8.label",
          "value": "700px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__9.label",
          "value": "750px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__10.label",
          "value": "850px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__11.label",
          "value": "900px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__12.label",
          "value": "100vh"
        }
      ],
      "default": "adapt",
      "label": "t:sections.global.settings.image_height.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__mobile.content"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "t:sections.video.settings.video_mobile.label"
    },
    {
      "type": "video_url",
      "id": "video_url_mobile",
      "accept": ["youtube", "vimeo"],
      "label": "t:sections.video.settings.video_url_mobile.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image_mobile",
      "label": "t:sections.video.settings.cover_image_mobile.label"
    },
    {
      "type": "select",
      "id": "image_height_mobile",
      "options": [
        {
          "label": "t:sections.global.settings.image_height_mobile.options__1.label",
          "value": "auto"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__2.label",
          "value": "200px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__3.label",
          "value": "250px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__4.label",
          "value": "300px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__5.label",
          "value": "400px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__6.label",
          "value": "500px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__7.label",
          "value": "600px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__8.label",
          "value": "100vh"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__9.label",
          "value": "adapt"
        }
      ],
      "default": "auto",
      "label": "t:sections.global.settings.image_height_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
