<link rel="stylesheet" href="{{ 'wholesale-page-main-section.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'custom-global.css' | asset_url }}">

<section class="wholesale-page-main-section pt-5 pb-5">
    <div class="wholesale-page-main-section__container custom-container">
        <div class="wholesale-page-main-section__title-wrapper">
            <div class="wholesale-page-main-section__content-title text-center">
                <h3 style=" color: {{ section.settings.title_color }};">{{ section.settings.title }}</h3>
            </div>
            <div class="wholesale-page-main-section__content mt-3">
                <div class="wholesale-page-main-section__content-form" style="background-image: url({{ section.settings.contact_section_image | img_url: 'master' }});">
                    <a href="javascript:void(0)" class="wholesale-page-main-section__content-form-button js-open-wholesale-popup">{{ section.settings.apply_button_text }}</a>
                </div>
                <div class="wholesale-page-main-section__content-login" style="background-image: url({{ section.settings.login_section_image | img_url: 'master' }});">
                    <a href="{{ section.settings.login_url }}" class="wholesale-page-main-section__content-login-button">{{ section.settings.login_button_text }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="wholesale-page-main-section__descriptions mt-4 mb-4">
        <div class="wholesale-page-main-section__descriptions-container custom-container">
            <div class="wholesale-page-main-section__descriptions-item text-left">
                <h2>{{ section.settings.description_title }}</h2>
                <div class="wholesale-page-main-section__descriptions-item-text text-left mt-2">
                    {{ section.settings.description_text }}
                </div>
            </div>
        </div>
    </div>
    
    {%- render 'contact-form-popup' -%}
</section>



{% schema %}
{
    "name": "WholeSale Main Section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Join Us"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#000000"
        },
        {
          "type": "header",
          "content": "Form Section"
        },
        {
            "type": "text",
            "id": "apply_button_text",
            "label": "Apply Button Text",
            "default": "APPLY"
        },
        {
          "type": "image_picker",
          "id": "contact_section_image",
          "label": "Contact Image"
        },
        {
            "type": "header",
            "content": "Login Section"
        },
        {
            "type": "text",
            "id": "login_button_text",
            "label": "Login Button Text",
            "default": "LOGIN"
        },
        {
            "type": "image_picker",
            "id": "login_section_image",
            "label": "Login Image"
        },
        {
          "type": "url",
          "id": "login_url",
          "label": "Login URL"
        },
        {
            "type": "header",
            "content": "Descriptions"
        },
        {
            "type": "text",
            "id": "description_title",
            "label": "Description Title"
        },
        {
            "type": "richtext",
            "id": "description_text",
            "label": "Description Text"
        }
        
    ],
    "presets": [
        {
            "name": "WholeSale Main Section"
        }
    ]
}
{% endschema %}